<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="560" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top">当Webサイト「タイの日系製造業ポータルサイト ファクトリンク（Fact-Link.com）」は、TDC International Co.,Ltd.   が運営しています。</td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top"><table width="560" border="0" cellpadding="3" cellspacing="1" bgcolor="#999999">
      <tr>
        <td colspan="2" bgcolor="#CC0000"><div align="center" class="white_b">Company Information</div></td>
        </tr>
      <tr>
        <td width="125" bgcolor="#C0C0C0"><strong>Company Name</strong></td>
        <td width="420" bgcolor="#FFFFFF">TDC International Co.,Ltd.</td>
      </tr>
      <tr>
        <td bgcolor="#C0C0C0"><strong>President</strong></td>
        <td bgcolor="#FFFFFF">Mr. Hitoshi Sato</td>
      </tr>
      <tr>
        <td bgcolor="#C0C0C0"><strong>Address</strong></td>
        <td bgcolor="#FFFFFF">Floor 12A Richmond Office<br />
75/35 Soi   Sukhumvit 26, Sukhumvit Rd.,<br />
Klongton, Klongtoey, Bangkok 10110</td>
      </tr>
      <tr>
        <td bgcolor="#C0C0C0"><strong>TEL</strong></td>
        <td bgcolor="#FFFFFF">02-260-3698<br />
02-260-6170～1   (Fact-Link Direct Line)</td>
      </tr>
      <tr>
        <td bgcolor="#C0C0C0"><strong>FAX</strong></td>
        <td bgcolor="#FFFFFF">02-260-3697</td>
      </tr>
      <tr>
        <td rowspan="4" bgcolor="#C0C0C0"><strong>Business</strong></td>
        <td bgcolor="#FFFFFF"><strong>建築内装工事部門</strong><br />
（工場、倉庫、コンドミニアム、事務所等）<br />
<br />
-   内装工事全般設計施工<br />
- 電気空調工事<br />
- 給排水工事<br />
- 家具製作及び販売</td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF"><strong>不動産部門</strong>（<a href="http://www.tdc-thai.com/" target="_blank">www.tdc-thai.com</a>）<br />
          <br />
-   アパートマンション仲介<br />
- コンドミニアム仲介売買<br />
- 不動産管理（家主代行業務）<br />
- 工場倉庫の仲介<br />
-   分譲土地の仲介</td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF"><strong>貿易部門</strong><br />
          <br />
-   洗浄剤をはじめとする化学品全般の輸出入<br />
- 医療廃棄物用ゴミ箱の輸出<br />
- 輸出入代行業務</td>
      </tr>
      <tr>
        <td bgcolor="#FFFFFF"><strong>ＩＴ部門</strong><br />
          <br />
-   製造業ポータルサイト：ファクトリンクの運営<br />
- 商談マッチング業務<br />
- タイでの製造業・法律・BOIコンサルティング<br />
-   タイ進出企業向けコンサルティング<br />
- タイのビジネスセミナーの公演</td>
      </tr>
      <tr>
        <td bgcolor="#C0C0C0"><strong>Related Partners</strong></td>
        <td bgcolor="#FFFFFF">・<a href="http://www.shoei-yakuhin.co.jp/" target="_blank">Shoei - Yakuhin</a><br />
・<a href="http://www.telecomsquare.co.jp/" target="_blank">Telecom Square</a><br />
・<a href="http://www.tdc-thai.com/" target="_blank">Tokyo Development Consultants (Thailand) Co.,Ltd.</a></td>
      </tr>
    </table></td>
  </tr>
</table>
