<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="flc_css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="760" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><div class="red_head">##mn_mailin##</div></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_03.png" width="760" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><table width="760" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10" valign="top"><img src="images/frame03_01.png" width="10" height="10" /></td>
        <td width="740" valign="top"><img src="images/frame06_01.png" width="740" height="10" /></td>
        <td width="10" valign="top"><img src="images/frame03_03.png" width="10" height="10" /></td>
      </tr>
      <tr>
        <td valign="top" background="images/frame03_04.png">&nbsp;</td>
        <td valign="top"><table width="740" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="200" valign="top">##inrid##</td>
            <td width="10" valign="top">&nbsp;</td>
            <td width="530" valign="top"><div align="right"><a href="adm_index.php">##lb_back##</a></div></td>
          </tr>
          <tr>
            <td colspan="3" valign="top"><img src="images/line_frame_05.png" width="740" height="20" /></td>
          </tr>
          <tr>
            <td valign="top"><div align="right"><strong>##lb_mail_subject##</strong></div></td>
            <td valign="top">&nbsp;</td>
            <td valign="top">##inrsubject##</td>
          </tr>
          <tr>
            <td colspan="3" valign="top"><img src="images/line_frame_06.png" width="740" height="20" /></td>
          </tr>
          <tr>
            <td valign="top"><div align="right"><strong> ##lb_mail_content##</strong></div></td>
            <td valign="top">&nbsp;</td>
            <td valign="top">##inrcontent##</td>
          </tr>
          <tr>
            <td colspan="3" valign="top"><img src="images/line_frame_05.png" width="740" height="20" /></td>
          </tr>
          <tr>
            <td valign="top"><div align="right"><strong> ##lb_mail_company##</strong></div></td>
            <td valign="top">&nbsp;</td>
            <td valign="top">##inrcompany##</td>
          </tr>
          <tr>
            <td colspan="3" valign="top">&nbsp;</td>
            </tr>
          <tr>
            <td valign="top"><div align="right"><strong> ##lb_mail_department##</strong></div></td>
            <td valign="top">&nbsp;</td>
            <td valign="top">##inrdepartment##</td>
          </tr>
          <tr>
            <td colspan="3" valign="top">&nbsp;</td>
            </tr>
          <tr>
            <td valign="top"><div align="right"><strong> ##lb_mail_contactname##</strong></div></td>
            <td valign="top">&nbsp;</td>
            <td valign="top">##inrname##</td>
          </tr>
          <tr>
            <td colspan="3" valign="top">&nbsp;</td>
            </tr>
          <tr>
            <td valign="top"><div align="right"><strong> ##lb_mail_tel##</strong></div></td>
            <td valign="top">&nbsp;</td>
            <td valign="top">##inrtel##</td>
          </tr>
          <tr>
            <td colspan="3" valign="top">&nbsp;</td>
            </tr>
          <tr>
            <td valign="top"><div align="right"><strong> ##lb_mail_fax##</strong></div></td>
            <td valign="top">&nbsp;</td>
            <td valign="top">##inrfax##</td>
          </tr>
          <tr>
            <td colspan="3" valign="top">&nbsp;</td>
            </tr>
          <tr>
            <td valign="top"><div align="right"><strong> ##lb_mail_email##</strong></div></td>
            <td valign="top">&nbsp;</td>
            <td valign="top">##inrmail##</td>
          </tr>
          <tr>
            <td height="60" align="right" valign="bottom"><form id="del" name="del" method="post" action="adm_mail_delete.php?id=##mal_id##">
              <input style="color: #fff;" type="submit" name="delete" id="delete" value="Delete this mail" class="bt_mail"/>
              <input name="mal_id" type="hidden" id="mal_id" value="##mal_id##" />
            </form></td>
            <td valign="top">&nbsp;</td>
            <td valign="bottom">
              <form id="form1" name="form1" method="post" action="adm_member_inquiry_sendmail.php?id=##inrid##&mem_id=##mem_id##">
              <label for="mailid"></label>
              &nbsp; 
              &nbsp; 
              &nbsp; 
              &nbsp; 
              &nbsp; 
              <input name="mailid" id="mailid" value="##mal_id##" type="hidden" />
              <input name="member" id="member" value="##mem_id##" type="hidden" />
              <input style="color: #fff;" type="submit" name="sendmail" id="sendmail" value="Sendmail" class="bt_mail" />
              </form>
            </td>
          </tr>
          <tr>
            <td valign="top"></td>
            <td>&nbsp;</td>
            <td valign="bottom">
              <form id="CheckMailForm" name="CheckMailForm" method="post">
              <label for=""></label>
              &nbsp; 
              &nbsp; 
              &nbsp; 
              &nbsp; 
              &nbsp; 
              <input name="emailOfMember" id="emailOfMember" value="##memcontactmail##" type="hidden" />
              <input style="color: #fff;" type="submit" name="checkmail" id="checkmail" value="Checkmail" class="bt_mail" />
              <span>Please Check Email Address Before Send It</span>
              </form>
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><span id="contentAjaxLoaded"></span></td></tr>
          <tr>
            <td height="25">&nbsp;</td>
            <td valign="top">&nbsp;</td>
            <td valign="bottom"><strong><font color="#FF0000">** Click button send mail if approve this mail. **</font></strong></td>
          </tr>
          <tr>
            <td colspan="3" valign="top"><img src="images/line_frame_05.png" width="740" height="20" /></td>
            </tr>


        </table></td>
        <td valign="top" background="images/frame03_05.png">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top"><img src="images/frame03_06.png" width="10" height="10" /></td>
        <td valign="top"><img src="images/frame06_02.png" width="740" height="10" /></td>
        <td valign="top"><img src="images/frame03_08.png" width="10" height="10" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
</table>

<script>
  function LoadAjax(formData) {
    var xhttp = new XMLHttpRequest() || ActiveXObject("Microsoft.XMLHTTP");
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("contentAjaxLoaded").innerHTML = this.responseText;
      }
    };
    xhttp.open("POST", "Controller/CheckMailAction.php", true);
    xhttp.send(formData);
  }

  window.onload = function(e) {
    var formValidate = document.getElementById('CheckMailForm');
    var emailToCheck = document.getElementById('emailOfMember').value;
    var formData = new FormData();
    formData.append("emailToCheck", emailToCheck);
    formValidate.onsubmit = function(event) {
      event.preventDefault();
      LoadAjax(formData);
    }
  }
</script>
</body>
</html>