<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="flc_css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="760" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><div class="red_head">##tt_member_info##</div></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_03.png" width="760" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><table width="760" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10" valign="top"><img src="images/frame03_01.png" width="10" height="10" /></td>
        <td width="740" valign="top"><img src="images/frame06_01.png" width="740" height="10" /></td>
        <td width="10" valign="top"><img src="images/frame03_03.png" width="10" height="10" /></td>
      </tr>
      <tr>
        <td valign="top" background="images/frame03_04.png">&nbsp;</td>
        <td valign="top"><table width="740" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><img src="images/blank.png" width="740" height="5" /></td>
          </tr>
          <tr>
            <td valign="top"><div align="right"><a href="adm_member_mail.php?id=##memid##&amp;start=0">##tt_member_inq##</a> | <a href="adm_member_page.php?id=##memid##">##tt_member_page##</a> | <a href="adm_member_tpm_edit.php?id=##memid##">##tt_member_template##</a> | <a href="adm_member_bulcat_add.php?id=##memid##">##tt_member_bulcat##</a> | <a href="adm_member_contract_edit.php?id=##memid##">##tt_member_contract##</a> | <a href="adm_member_status.php?id=##memid##">##tt_member_onoff##</a></div></td>
          </tr>
          <tr>
            <td valign="top"><img src="images/line_frame_07.png" width="740" height="10" /></td>
          </tr>
          <tr>
            <td valign="top"><img src="images/blank.png" width="740" height="5" /></td>
          </tr>
          <tr>
            <td valign="top"><table width="740" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="150" valign="top"><img src="##memtypepic##" width="150" height="100" border="0" /></td>
                  <td width="10" valign="top">&nbsp;</td>
                  <td width="580" valign="top"><table width="580" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td colspan="2"><strong>##memcomname##</strong></td>
                      </tr>
                      <tr>
                        <td colspan="2"><img src="images/blank.png" width="580" height="5" /></td>
                      </tr>
                      <tr>
                        <td colspan="2"><span class="red_n">MEMBER ID :</span> ##memid##</td>
                      </tr>
                      <tr>
                        <td colspan="2"><img src="images/blank.png" width="580" height="5" /></td>
                      </tr>
                      <tr>
                        <td colspan="2"><span class="red_n">MEMBER URL :</span> ##memurl##</td>
                      </tr>
                      <tr>
                        <td colspan="2"><img src="images/blank.png" width="580" height="5" /></td>
                      </tr>
                      <tr>
                        <td width="370"><span class="red_n">CURRENT CONTRACT :</span> ##memcontract##</td>
                        <td width="210"><span class="red_n">EXPIRE DATE :</span> ##memexpdate##</td>
                      </tr>
                      <tr>
                        <td colspan="2"><img src="images/blank.png" width="580" height="5" /></td>
                        </tr>
                      <tr>
                        <td><span class="red_n">PACKAGE :</span> ##memtype##</td>
                        <td><span class="red_n">STATUS :</span> ##memstatus##</td>
                      </tr>
                  </table></td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td valign="top"><img src="images/blank.png" width="740" height="5" /></td>
          </tr>
          <tr>
            <td valign="top"><img src="images/line_frame_07.png" width="740" height="10" /></td>
          </tr>
          <tr>
            <td valign="top"><table width="740" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="250"><span class="red_b">MEMO</span></td>
                <td width="490"><div align="right"></div></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td valign="top"><img src="images/line_frame_07.png" width="740" height="10" /></td>
          </tr>
          <tr>
            <td valign="top"><table width="740" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td valign="top"><strong>##lb_memo##</strong></td>
              </tr>
              <tr>
                <td valign="top">##memmemo1##</td>
              </tr>
              <tr>
                <td valign="top"><img src="images/line_frame_08.png" width="740" height="10" /></td>
              </tr>
              <tr>
                <td valign="top"><strong>##lb_remark##</strong>
                    <div align="right"></div></td>
              </tr>
              <tr>
                <td valign="top">##memmemo2##</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td valign="top"><img src="images/blank.png" width="740" height="5" /></td>
          </tr>
          <tr>
            <td valign="top"><img src="images/line_frame_07.png" width="740" height="10" /></td>
          </tr>
          <tr>
            <td valign="top"><table width="740" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="250"><span class="red_b">INFORMATION</span></td>
                <td width="490"><div align="right"><a href="adm_member_edit.php?id=##memid##">##tt_member_edit##</a></div></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td valign="top"><img src="images/line_frame_07.png" width="740" height="10" /></td>
          </tr>
          <tr>
            <td valign="top"><table width="740" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td colspan="3" valign="top"><strong>##lb_mem_category##</strong></td>
                </tr>
                <tr>
                  <td colspan="3" valign="top">##memcatname##</td>
                </tr>
                <tr>
                  <td colspan="3" valign="top"><img src="images/line_frame_08.png" width="740" height="10" /></td>
                </tr>
                <tr>
                  <td colspan="3" valign="top"><strong>##lb_address##</strong></td>
                </tr>
                <tr>
                  <td colspan="3" valign="top">##memcomaddress##</td>
                </tr>
                <tr>
                  <td colspan="3" valign="top"><img src="images/line_frame_08.png" width="740" height="10" /></td>
                </tr>
                <tr>
                  <td width="360" valign="top"><strong>##lb_comtel##</strong></td>
                  <td width="20" valign="top">&nbsp;</td>
                  <td width="360" valign="top"><strong>##lb_comfax##</strong></td>
                </tr>
                <tr>
                  <td valign="top">##memcomtel##</td>
                  <td valign="top">&nbsp;</td>
                  <td valign="top">##memcomfax##</td>
                </tr>
                <tr>
                  <td colspan="3" valign="top"><img src="images/line_frame_08.png" width="740" height="10" /></td>
                </tr>
                <tr>
                  <td valign="top"><strong>##lb_contact##</strong></td>
                  <td valign="top" class="red_b">&nbsp;</td>
                  <td valign="top"><strong>##lb_position##</strong></td>
                </tr>
                <tr>
                  <td valign="top">##memcontact##</td>
                  <td valign="top">&nbsp;</td>
                  <td valign="top">##memposition##</td>
                </tr>
                <tr>
                  <td colspan="3" valign="top"><img src="images/line_frame_08.png" width="740" height="10" /></td>
                </tr>
                <tr>
                  <td valign="top"><strong>##lb_tel##</strong></td>
                  <td valign="top">&nbsp;</td>
                  <td valign="top"><strong>##lb_mail##</strong></td>
                </tr>
                <tr>
                  <td valign="top">##memtel##</td>
                  <td valign="top">&nbsp;</td>
                  <td valign="top">##memmail##</td>
                </tr>
                <tr>
                  <td colspan="3" valign="top"><img src="images/line_frame_07.png" width="740" height="10" /></td>
                  </tr>
                <tr>
                  <td valign="top"><strong>##lb_username##</strong></td>
                  <td valign="top">&nbsp;</td>
                  <td valign="top"><strong>##lb_password##</strong></td>
                </tr>
                <tr>
                  <td valign="top">##memusername##</td>
                  <td valign="top">&nbsp;</td>
                  <td valign="top">##mempassword##</td>
                </tr>
                <tr>
                  <td colspan="3" valign="top"><img src="images/line_frame_08.png" width="740" height="10" /></td>
                  </tr>
                <tr>
                  <td valign="top"><strong>##lb_registdate##</strong></td>
                  <td valign="top">&nbsp;</td>
                  <td valign="top"><strong>##lb_loginhis##</strong></td>
                </tr>
                <tr>
                  <td valign="top">##memregistdate##</td>
                  <td valign="top">&nbsp;</td>
                  <td valign="top">##memloginhis##</td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td valign="top"><img src="images/blank.png" width="740" height="5" /></td>
          </tr>
        </table>
        </td>
        <td valign="top" background="images/frame03_05.png">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top"><img src="images/frame03_06.png" width="10" height="10" /></td>
        <td valign="top"><img src="images/frame06_02.png" width="740" height="10" /></td>
        <td valign="top"><img src="images/frame03_08.png" width="10" height="10" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
</table>
</body>
</html>