<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FACT-LINK.NET</title>
<link href="flc_css.css" rel="stylesheet" type="text/css" /></head>

<body>
<table width="760" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><div class="red_head">##tt_expirewarning##</div></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_03.png" width="760" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><table width="760" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10" valign="top"><img src="images/frame03_01.png" width="10" height="10" /></td>
        <td width="740" valign="top"><img src="images/frame06_01.png" width="740" height="10" /></td>
        <td width="10" valign="top"><img src="images/frame03_03.png" width="10" height="10" /></td>
      </tr>
      <tr>
        <td valign="top" background="images/frame03_04.png">&nbsp;</td>
        <td valign="top"><table width="740" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="5"><img src="images/line_frame_07.png" width="740" height="10" /></td>
          </tr>
          <tr>
            <td width="70"><strong>ID</strong></td>
            <td width="370"><strong>MEMBER</strong></td>
            <td width="170"><strong>CONTRACT DATE</strong></td>
            <td width="90"><strong>EXPIRE</strong></td>
            <td width="40">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="5"><img src="images/line_frame_07.png" width="740" height="10" /></td>
          </tr>
          <!-- BEGIN DYNAMIC BLOCK: rows_membsc -->
          <tr>
            <td width="70">##memid##</td>
            <td width="370"><a href="adm_member_view.php?id=##memid##">##memcomname##</a></td>
            <td width="170">##memcontract##</td>
            <td width="90" class="red_n">##memend##</td>
            <td width="40"><div align="center"><a href="adm_member_page.php?id=##memid##"><img src="images/icon_page_01.png" alt="##lb_alt_edit##" width="20" height="20" border="0" /></a><a href="adm_member_edit.php?id=##memid##"></a></div></td>
          </tr>
          <tr>
            <td colspan="5"><img src="images/line_frame_08.png" width="740" height="10" /></td>
          </tr>
          <!-- END DYNAMIC BLOCK: rows_membsc -->
        </table></td>
        <td valign="top" background="images/frame03_05.png">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top"><img src="images/frame03_06.png" width="10" height="10" /></td>
        <td valign="top"><img src="images/frame06_02.png" width="740" height="10" /></td>
        <td valign="top"><img src="images/frame03_08.png" width="10" height="10" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/blank.png" width="760" height="10" /></td>
  </tr>
  <tr>
    <td valign="top"><table width="760" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10" valign="top"><img src="images/frame03_01.png" width="10" height="10" /></td>
        <td width="740" valign="top"><img src="images/frame06_01.png" width="740" height="10" /></td>
        <td width="10" valign="top"><img src="images/frame03_03.png" width="10" height="10" /></td>
      </tr>
      <tr>
        <td valign="top" background="images/frame03_04.png">&nbsp;</td>
        <td valign="top"><table width="740" border="0" cellspacing="0" cellpadding="0">

            <tr>
              <td colspan="5"><img src="images/line_frame_07.png" width="740" height="10" /></td>
            </tr>
            <tr>
              <td width="290"><strong>BANNER - BASIC </strong></td>
              <td width="151"><strong>POSITION</strong></td>
              <td width="169"><strong>CONTRACT DATE</strong></td>
              <td width="90"><strong>EXPIRE</strong></td>
              <td width="40">&nbsp;</td>
            </tr>
            <tr>
              <td colspan="5"><img src="images/line_frame_07.png" width="740" height="10" /></td>
            </tr>
            <!-- BEGIN DYNAMIC BLOCK: rows_banbsc -->
            <tr>
              <td>##banname##</td>
              <td>##banpage##</td>
              <td>##bancontract##</td>
              <td class="red_n">##banend##</td>
              <td><div align="center"><a href="adm_banner_edit.php?id=##banid##&amp;type=##bantype##"><img src="images/icon_edit_01.png" alt="##lb_alt_edit##" width="20" height="20" border="0" /></a></div></td>
            </tr>
            <tr>
              <td colspan="5"><img src="images/line_frame_08.png" width="740" height="10" /></td>
            </tr>
            <!-- END DYNAMIC BLOCK: rows_banbsc -->
        </table></td>
        <td valign="top" background="images/frame03_05.png">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top"><img src="images/frame03_06.png" width="10" height="10" /></td>
        <td valign="top"><img src="images/frame06_02.png" width="740" height="10" /></td>
        <td valign="top"><img src="images/frame03_08.png" width="10" height="10" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/blank.png" width="760" height="10" /></td>
  </tr>
  <tr>
    <td valign="top"><table width="760" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10" valign="top"><img src="images/frame03_01.png" width="10" height="10" /></td>
        <td width="740" valign="top"><img src="images/frame06_01.png" width="740" height="10" /></td>
        <td width="10" valign="top"><img src="images/frame03_03.png" width="10" height="10" /></td>
      </tr>
      <tr>
        <td valign="top" background="images/frame03_04.png">&nbsp;</td>
        <td valign="top"><table width="740" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="5"><img src="images/line_frame_07.png" width="740" height="10" /></td>
            </tr>
            <tr>
              <td width="290"><strong>BANNER - SPECIAL </strong></td>
              <td width="150"><strong>POSITION</strong></td>
              <td width="170"><strong>CONTRACT DATE</strong></td>
              <td width="90"><strong>EXPIRE</strong></td>
              <td width="40">&nbsp;</td>
            </tr>
            <tr>
              <td colspan="5"><img src="images/line_frame_07.png" width="740" height="10" /></td>
            </tr>
            <!-- BEGIN DYNAMIC BLOCK: rows_banspc -->
            <tr>
              <td>##banname##</td>
              <td>##banpage##</td>
              <td>##bancontract##</td>
              <td class="red_n">##banend##</td>
              <td><div align="center"><a href="adm_banner_edit.php?id=##banid##&amp;type=##bantype##"><img src="images/icon_edit_01.png" alt="##lb_alt_edit##" width="20" height="20" border="0" /></a></div></td>
            </tr>
            <tr>
              <td colspan="5"><img src="images/line_frame_08.png" width="740" height="10" /></td>
            </tr>
            <!-- END DYNAMIC BLOCK: rows_banspc -->
        </table></td>
        <td valign="top" background="images/frame03_05.png">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top"><img src="images/frame03_06.png" width="10" height="10" /></td>
        <td valign="top"><img src="images/frame06_02.png" width="740" height="10" /></td>
        <td valign="top"><img src="images/frame03_08.png" width="10" height="10" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/blank.png" width="760" height="10" /></td>
  </tr>
  <tr>
    <td valign="top"><table width="760" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10" valign="top"><img src="images/frame03_01.png" width="10" height="10" /></td>
        <td width="740" valign="top"><img src="images/frame06_01.png" width="740" height="10" /></td>
        <td width="10" valign="top"><img src="images/frame03_03.png" width="10" height="10" /></td>
      </tr>
      <tr>
        <td valign="top" background="images/frame03_04.png">&nbsp;</td>
        <td valign="top"><table width="740" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="5"><img src="images/line_frame_07.png" width="740" height="10" /></td>
            </tr>
            <tr>
              <td width="270"><strong>BANNER - SPECIAL CATEGORY</strong></td>
              <td width="170"><strong>CATEGORY</strong></td>
              <td width="170"><strong>CONTRACT DATE</strong></td>
              <td width="90"><strong>EXPIRE</strong></td>
              <td width="40">&nbsp;</td>
            </tr>
            <tr>
              <td colspan="5"><img src="images/line_frame_07.png" width="740" height="10" /></td>
            </tr>
            <!-- BEGIN DYNAMIC BLOCK: rows_bacspc -->
            <tr>
              <td>##bacname##</td>
              <td>##catname##</td>
              <td>##baccontract##</td>
              <td class="red_n">##bacend##</td>
              <td><div align="center"><a href="adm_bancat_edit.php?id=##bacid##&amp;type=##bactype##"><img src="images/icon_edit_01.png" alt="##lb_alt_edit##" width="20" height="20" border="0" /></a></div></td>
            </tr>
            <tr>
              <td colspan="5"><img src="images/line_frame_08.png" width="740" height="10" /></td>
            </tr>
            <!-- END DYNAMIC BLOCK: rows_bacspc -->
        </table></td>
        <td valign="top" background="images/frame03_05.png">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top"><img src="images/frame03_06.png" width="10" height="10" /></td>
        <td valign="top"><img src="images/frame06_02.png" width="740" height="10" /></td>
        <td valign="top"><img src="images/frame03_08.png" width="10" height="10" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/blank.png" width="760" height="10" /></td>
  </tr>
  <tr>
    <td valign="top"><table width="760" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10" valign="top"><img src="images/frame03_01.png" width="10" height="10" /></td>
        <td width="740" valign="top"><img src="images/frame06_01.png" width="740" height="10" /></td>
        <td width="10" valign="top"><img src="images/frame03_03.png" width="10" height="10" /></td>
      </tr>
      <tr>
        <td valign="top" background="images/frame03_04.png">&nbsp;</td>
        <td valign="top"><table width="740" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="4"><img src="images/line_frame_07.png" width="740" height="10" /></td>
            </tr>
            <tr>
              <td width="234"><strong>INQUIRY SUBJECT (UNREAD)</strong></td>
              <td width="279"><strong>MEMBER NAME</strong></td>
              <td width="88"><strong>DATE</strong></td>
              <td width="139">&nbsp;</td>
            </tr>
            <tr>
              <td colspan="4"><img src="images/line_frame_07.png" width="740" height="10" /></td>
            </tr>
            <!-- BEGIN DYNAMIC BLOCK: rows_meminq -->
            <tr>
              <td><a href="##malViewLink##" class="sticky-type ##stickyInqType##">##inrsubj##</a></td>
              <td>##memcomname##</td>
              <td>##inrdate##</td>
              <td><img src="./images/wait.jpg" width="100" height="20" />&nbsp; <a href="adm_mail_delete.php?id=##inrid##"><img src="images/icon_delete_01.png" alt="Delete" width="20" height="20" border="0" /></a></td>
            </tr>
            <tr>
              <td colspan="4"><img src="images/line_frame_08.png" width="740" height="10" /></td>
            </tr>
            <!-- END DYNAMIC BLOCK: rows_meminq -->
        </table></td>
        <td valign="top" background="images/frame03_05.png">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top"><img src="images/frame03_06.png" width="10" height="10" /></td>
        <td valign="top"><img src="images/frame06_02.png" width="740" height="10" /></td>
        <td valign="top"><img src="images/frame03_08.png" width="10" height="10" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_03.png" width="760" height="20" /></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
</table>
</body>
</html>