<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FACT-LINK.NET</title>
<link href="flc_css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="760" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><div class="red_head">##tt_province##</div></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_03.png" width="760" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><table width="760" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10" valign="top"><img src="images/frame03_01.png" width="10" height="10" /></td>
        <td width="740" valign="top"><img src="images/frame06_01.png" width="740" height="10" /></td>
        <td width="10" valign="top"><img src="images/frame03_03.png" width="10" height="10" /></td>
      </tr>
      <tr>
        <td valign="top" background="images/frame03_04.png">&nbsp;</td>
        <td valign="top"><table width="740" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="3"><div align="right"><a href="adm_province_add.php">##tt_province_add##</a> </div></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_07.png" width="740" height="10" /></td>
          </tr>
          <tr>
            <td><strong>ID</strong></td>
            <td><strong>NAME</strong></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_07.png" width="740" height="10" /></td>
          </tr>
          <!-- BEGIN DYNAMIC BLOCK: rows_1 -->
          <tr>
            <td width="70">##prvid##</td>
            <td width="630">##prvname##</td>
            <td width="40"><div align="center"><a href="adm_province_edit.php?id=##prvid##"><img src="images/icon_edit_01.png" alt="##lb_alt_edit##" width="20" height="20" border="0" /></a></div></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_08.png" width="740" height="10" /></td>
          </tr>
          <!-- END DYNAMIC BLOCK: rows_1 -->
        </table></td>
        <td valign="top" background="images/frame03_05.png">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top"><img src="images/frame03_06.png" width="10" height="10" /></td>
        <td valign="top"><img src="images/frame06_02.png" width="740" height="10" /></td>
        <td valign="top"><img src="images/frame03_08.png" width="10" height="10" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/blank.png" width="760" height="10" /></td>
  </tr>
  <tr>
    <td valign="top"><table width="760" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="55" valign="top"><strong>Page || </strong></td>
        <td width="705" valign="top">##page##</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
</table>
</body>
</html>