<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FACT-LINK.NET</title>
<link href="flc_css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="760" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><div class="red_head">##tt_bannercate##</div></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_03.png" width="760" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><table width="760" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10" valign="top"><img src="images/frame03_01.png" width="10" height="10" /></td>
        <td width="740" valign="top"><img src="images/frame06_01.png" width="740" height="10" /></td>
        <td width="10" valign="top"><img src="images/frame03_03.png" width="10" height="10" /></td>
      </tr>
      <tr>
        <td valign="top" background="images/frame03_04.png">&nbsp;</td>
        <td valign="top"><form id="formadmbancatsearch" name="formadmbancatsearch" method="post" enctype="multipart/form-data" action="adm_bancat_search_post2.php" class="form_margin">
            <table width="740" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="200"><div align="right"><strong>##lb_mem_category##</strong></div></td>
                <td width="10">&nbsp;</td>
                <td width="530"><select name="t_memcat" class="box_list" id="t_memcat">
                    <option value="" ##catdefault##>##lb_select##</option>
                    <!-- BEGIN DYNAMIC BLOCK: rows_cat -->
                    <option value="##catid##" ##catselected##>##catname##</option>
                    <!-- END DYNAMIC BLOCK: rows_cat -->
                </select></td>
              </tr>

              <tr>
                <td colspan="3"><img src="images/line_frame_05.png" width="740" height="20" /></td>
              </tr>
              <tr>
                <td><input name="h_admid" type="hidden" id="h_admid" value="##admid##" />
                  <input name="h_type" type="hidden" id="h_type" value="##bactype##" /></td>
                <td>&nbsp;</td>
                <td><div align="right">
                    <input name="b_ok" type="image" id="b_ok" src="images/button_search_en.jpg" />
                    <img src="images/button_cancel.jpg" width="180" height="30" border="0" onmouseover="style.cursor='hand'" onclick="history.back()" /></div></td>
              </tr>
            </table>
        </form></td>
        <td valign="top" background="images/frame03_05.png">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top"><img src="images/frame03_06.png" width="10" height="10" /></td>
        <td valign="top"><img src="images/frame06_02.png" width="740" height="10" /></td>
        <td valign="top"><img src="images/frame03_08.png" width="10" height="10" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/blank.png" width="760" height="10" /></td>
  </tr>
  <tr>
    <td valign="top"><table width="760" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10" valign="top"><img src="images/frame03_01.png" width="10" height="10" /></td>
        <td width="740" valign="top"><img src="images/frame06_01.png" width="740" height="10" /></td>
        <td width="10" valign="top"><img src="images/frame03_03.png" width="10" height="10" /></td>
      </tr>
      <tr>
        <td valign="top" background="images/frame03_04.png">&nbsp;</td>
        <td valign="top"><table width="740" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="4"><div align="right"><a href="adm_bancat_add2.php?type=##bactype##">##tt_bannercate_add##</a></div></td>
          </tr>
          <tr>
            <td colspan="4"><img src="images/line_frame_07.png" width="740" height="10" /></td>
          </tr>
          <tr>
            <td width="92">&nbsp;</td>
            <td width="421"><strong>NAME</strong></td>
            <td width="156"><strong>CONTRACT DATE</strong></td>
            <td width="72">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="4"><img src="images/line_frame_07.png" width="740" height="10" /></td>
          </tr>
          <!-- BEGIN DYNAMIC BLOCK: rows_1 -->
          <tr>
            <td>##bacstatus## </td>
            <td>##bacname##</td>
            <td>##baccontract##</td>
            <td><div align="center"><a href="adm_bancat_edit.php?id=##bacid##&amp;type=##bactype##"><img src="images/icon_edit_01.png" alt="##lb_alt_edit##" width="20" height="20" hspace="3" border="0" /></a> 
            <a href="adm_bancat2_delete.php?id=##bacid##&bannertype=bsc"><img src="images/icon_no_01.png" alt="Delete" width="20" height="20" hspace="3" border="0" /></a>
            
  <!--      
       <? php     if($_REQUEST['del_id'] != "") //ถ้า ค่า del_id ไม่เท่ากับค่าว่างเปล่า
{
$del_id = $_REQUEST['del_id'];
$sql_del = "delete from customer where id = '$del_id';";
mysql_query($sql_del) or die(mysql_error());
echo "ลบข้อมูล ID $del_id เรียบร้อยแล้ว";
} ?>

 -->
           </div></td>
          </tr>
          <tr>
            <td colspan="4"><img src="images/line_frame_08.png" width="740" height="10" /></td>
          </tr>
          <!-- END DYNAMIC BLOCK: rows_1 -->
        </table></td>
        <td valign="top" background="images/frame03_05.png">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top"><img src="images/frame03_06.png" width="10" height="10" /></td>
        <td valign="top"><img src="images/frame06_02.png" width="740" height="10" /></td>
        <td valign="top"><img src="images/frame03_08.png" width="10" height="10" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/blank.png" width="760" height="10" /></td>
  </tr>
  <tr>
    <td valign="top"><table width="760" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="55" valign="top"><strong>Page || </strong></td>
        <td width="705" valign="top">##page##</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
</table>
</body>
</html>