<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="flc_css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="760" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top">
      <div class="red_head">##tt_event_add##</div>
    </td>
  </tr>
  <tr>
    <td valign="top">
      <img src="images/line_body_03.png" width="760" height="20"/>
    </td>
  </tr>
  <tr>
    <td valign="top">
      <table width="760" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="10" valign="top">
            <img src="images/frame03_01.png" width="10" height="10" />
          </td>
          <td width="740" valign="top">
            <img src="images/frame06_01.png" width="740" height="10" />
          </td>
          <td width="10" valign="top">
            <img src="images/frame03_03.png" width="10" height="10" />
          </td>
        </tr>

        <tr>
          <td valign="top" background="images/frame03_04.png">&nbsp;</td>
          <td valign="top">
            <form id="formadmeventadd" name="formadmeventadd" method="post" enctype="multipart/form-data" action="##urlActionAddEvent##" class="form_margin" onsubmit="return check_form('f_admeventadd');">
        		  <table width="740" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td colspan="3">
                    <img src="images/line_frame_05.png" width="740" height="20" />
                  </td>
                </tr>
                <tr>
                  <td width="200">
                    <div align="right"><strong> * ##lb_event_title## [##lb_en##] </strong></div>
                  </td>
                  <td width="10">&nbsp;</td>
                  <td width="530">
                    <input name="t_title_en" type="text"  class="box_normal" id="t_title_en" maxlength="500" />
                  </td>
                </tr>
                <tr>
                  <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
                  </tr>
                <tr>
                  <td>
                    <div align="right"><strong>##lb_event_title## [##lb_jp##] </strong></div>
                  </td>
                  <td>&nbsp;</td>
                  <td>
                    <input name="t_title_jp" type="text" class="box_normal" id="t_title_jp" maxlength="500" />
                  </td>
                </tr>
                <tr>
                  <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
                  </tr>
                <tr>
                  <td><div align="right"><strong>##lb_event_title## [##lb_vn##] </strong></div></td>
                  <td>&nbsp;</td>
                  <td><input name="t_title_vn" type="text"  class="box_normal" id="t_title_vn" maxlength="500" /></td>
                </tr>


                <tr>
                  <td colspan="3">
                    <img src="images/line_frame_05.png" width="740" height="20" />
                  </td>
                </tr>
                <tr>
                  <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
                  </tr>
                <tr>
                  <td><div align="right"><strong>##lb_pag_image##</strong></div></td>
                  <td>&nbsp;</td>
                  <td><input name="t_event_image" type="file" id="t_event_image"/></td>
                </tr>
                <tr>
                  <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>Please Upload Only "JPG" file</td>
                </tr>



                <tr>
                  <td colspan="3">
                    <img src="images/line_frame_05.png" width="740" height="20" />
                  </td>
                </tr>
                <tr>
                  <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
                  </tr>
                <tr>
                  <td><div align="right"><strong>##lb_memurl##</strong></div></td>
                  <td>&nbsp;</td>
                  <td>
                    <select style="width: 530px;" name="t_news" class="box_list" id="t_news">
                      <option value="" selected>--- Select ---</option>
                      <!-- BEGIN DYNAMIC BLOCK: rows_news -->
                      <option value="##newId##">##newTit##</option>
                      <!-- END DYNAMIC BLOCK: rows_news -->
                    </select>
                  </td>
                </tr>

                <tr>
                  <td colspan="3">
                    <img src="images/line_frame_05.png" width="740" height="20" />
                  </td>
                </tr>
                <tr>
                  <td><div align="right"><strong> * ##lb_event_detail## [##lb_en##] </strong></div></td>
                  <td>&nbsp;</td>
                  <td><textarea name="t_detail_en" class="box_multi" id="t_detail_en" ></textarea></td>
                </tr>
                <tr>
                  <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
                  </tr>
                <tr>
                  <td><div align="right"><strong>##lb_event_detail## [##lb_jp##] </strong></div></td>
                  <td>&nbsp;</td>
                  <td><textarea name="t_detail_jp" class="box_multi" id="t_detail_jp"></textarea></td>
                </tr>
                <tr>
                  <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
                  </tr>
                <tr>
                  <td><div align="right"><strong>##lb_event_detail## [##lb_vn##] </strong></div></td>
                  <td>&nbsp;</td>
                  <td><textarea name="t_detail_vn" class="box_multi" id="t_detail_vn" ></textarea></td>
                </tr>
                <tr>
                  <td colspan="3"><img src="images/line_frame_05.png" width="740" height="20" /></td>
                </tr>
                <tr>
                  <td><div align="right"><strong>##lb_event_status##</strong></div></td>
                  <td>&nbsp;</td>
                  <td><input name="t_status" type="checkbox" id="t_status" value="d" />
                    ##lb_status##</td>
                </tr>
                <tr>
                  <td colspan="3"><img src="images/line_frame_05.png" width="740" height="20" /></td>
                </tr>
                <tr>
                  <td><input name="h_admid" type="hidden" id="h_admid" value="##admid##" /></td>
                  <td>&nbsp;</td>
                  <td>
                    <div align="right"><input name="b_ok" type="image" id="b_ok" src="images/button_save.jpg" /><img src="images/button_cancel.jpg" width="180" height="30" border="0" onmouseover="style.cursor='hand'" onclick="history.back()" /></div>
                  </td>
                </tr>
              </table>
        		</form>
          </td>
          <td valign="top" background="images/frame03_05.png">&nbsp;</td>
        </tr>
      <tr>
        <td valign="top"><img src="images/frame03_06.png" width="10" height="10" /></td>
        <td valign="top"><img src="images/frame06_02.png" width="740" height="10" /></td>
        <td valign="top"><img src="images/frame03_08.png" width="10" height="10" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
</table>
</body>
</html>