<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>##texttitlebar##</title>
<link href="flc_css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="./include/global_java.js"></script>
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
<META http-equiv="expires" content="0">
</head>

<body>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="10" valign="top" background="images/border_01.png">&nbsp;</td>
    <td width="980" valign="top" bgcolor="#FFFFFF"><table width="980" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top"><table width="980" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><img src="images/header_01.png" width="10" height="10" /></td>
            <td colspan="2" valign="top"><img src="images/header_02.png" width="960" height="10" /></td>
            <td valign="top"><img src="images/header_03.png" width="10" height="10" /></td>
          </tr>
          <tr>
            <td width="10" valign="top"><img src="images/header_04.png" width="10" height="120" /></td>
            <td width="70" valign="top"><table width="70" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="20" valign="top"><a href="set_language.php?lang=jp"><img src="images/##langpicjp##" title="日本語" width="20" height="20" border="0" /></a></td>
                  <td width="5" valign="top"><img src="images/header_05.png" width="5" height="20" /></td>
                  <td width="20" valign="top"><a href="set_language.php?lang=vn"><img src="images/##langpicvn##" title="Việt Nam" width="20" height="20" border="0" /></a></td>
                  <td width="5" valign="top"><img src="images/header_06.png" width="5" height="20" /></td>
                  <td width="20" valign="top"><a href="set_language.php?lang=en"><img src="images/##langpicen##" title="English" width="20" height="20" border="0" /></a></td>
                </tr>
                <tr>
                  <td colspan="5" valign="top"><img src="images/header_10.png" width="70" height="100" /></td>
                </tr>
            </table></td>
            <td width="889" valign="top"><a href="index.php"></a>
                <table width="890" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="440" valign="top"><a href="index.php"><img src="images/##headlogo##" width="440" height="120" border="0" /></a></td>
                    <td width="450" valign="top" background="images/header_08.png">&nbsp;</td>
                  </tr>
              </table></td>
            <td width="10" valign="top"><img src="images/header_09.png" width="10" height="120" /></td>
          </tr>
          <tr>
            <td valign="top"><img src="images/header_11.png" width="10" height="10" /></td>
            <td colspan="2" valign="top"><img src="images/header_12.png" width="960" height="10" /></td>
            <td valign="top"><img src="images/header_13.png" width="10" height="10" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="980" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="10"><img src="images/decor_01.png" width="10" height="30" /></td>
            <td width="960" background="images/menu_blank.png"><table width="960" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="10">&nbsp;</td>
                <td width="880" class="white_b">##lb_title_admin## </td>
                <td width="70">&nbsp;</td>
              </tr>
            </table></td>
            <td width="10"><img src="images/decor_02.png" width="10" height="30" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="980" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="200" valign="top"><img src="images/brick_01.png" width="200" height="10" /></td>
            <td width="10" valign="top"><img src="images/body_01.png" width="10" height="10" /></td>
            <td width="760" valign="top"><img src="images/body_06.png" width="760" height="10" /></td>
            <td width="10" valign="top"><img src="images/body_07.png" width="10" height="10" /></td>
          </tr>
          <tr>
            <td valign="top" background="images/brick_03.png"><table width="200" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td valign="top"><table width="180" border="0" align="center" cellpadding="0" cellspacing="0">

                    <tr>
                      <td valign="top"><span class="red_b">##tm_main##</span></td>
                    </tr>
                    <tr>
                      <td valign="top"><a href="adm_index.php">##tt_home##</a> <br />
                        <a href="logout.php">##tt_logout##</a> </td>
                    </tr>
                    <tr>
                      <td valign="top"><img src="images/line_side_03.png" width="180" height="10" /></td>
                    </tr>
                    <tr>
                      <td valign="top" class="red_b">##tm_top## </td>
                    </tr>
                    <tr>
                      <td valign="top"><a href="adm_feature.php?start=0">##tt_feature##</a> <br />
                        <a href="adm_updateinfo.php?start=0">##tt_update##</a> <br />
                        <a href="adm_introduce.php?start=0">##tt_introduce##</a> <br />
                        <a href="adm_introduce_set.php?start=0">##tt_introduce_set## </a> </td>
                    </tr>
                    <tr>
                      <td valign="top"><img src="images/line_side_03.png" width="180" height="10" /></td>
                    </tr>
                    <tr>
                      <td valign="top" class="red_b">##tm_product## </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <a href="adm_products_manager.php?start=0">##tt_products_manager##</a> <br />
                        <a href="adm_products_categorys_manager.php?start=0">##tt_products_categorys_manager##</a> <br />
                        <a href="adm_fea_products_manager.php">##tt_fea_products_manager##</a> <br />
                        <a href="adm_mail_products_manager.php">##tt_mail_products_manager##</a> <br />
                      </td>
                    </tr>
                    <tr>
                      <td valign="top"><img src="images/line_side_03.png" width="180" height="10" /></td>
                    </tr>
                    <tr>
                      <td valign="top" class="red_b">##tm_member##</td>
                    </tr>
                    <tr>
                      <td valign="top"><a href="adm_member.php?start=0">##tt_memberall##</a> <br />
                              <a href="adm_member_search.php?start=0">##tt_member_search##</a> <br />
                              <a href="adm_member_searchcate.php?start=0">##tt_member_searchcate##</a><br />
                              <a href="adm_member_del.php?start=0">Delete Member</a> </td>
                              
                    </tr>
                    <tr>
                      <td valign="top"><img src="images/line_side_03.png" width="180" height="10" /></td>
                    </tr>
                    <tr>
                      <td valign="top"><span class="red_b">##tm_banner##</span></td>
                    </tr>
                    <tr>
                      <td valign="top">
                      <a href="adm_bancat.php?start=0&amp;type=spc">##tt_bannerspccate##</a> <br />
                      	<a href="adm_banner.php?start=0&amp;type=spc">##tt_bannerspc##</a><br />
                        <a href="adm_banner.php?start=0&amp;type=bsc">##tt_bannerbsc##</a><br />
                        <a href="adm_bancat2.php?start=0&amp;type=bsc">##tt_bannerbsc2##</a><br />
                        <a href="adm_bulletin.php?start=0">##tt_bulletin##</a> </td>
                    </tr>
                    <tr>
                      <td valign="top"><img src="images/line_side_03.png" width="180" height="10" /></td>
                    </tr>
                    <tr>
                      <td valign="top"><span class="red_b">##tm_news##</span></td>
                    </tr>
                    <tr>
                      <td valign="top"><a href="adm_news.php?start=0">##tt_news##</a> <br />
                        <a href="adm_news_genre.php?start=0">##tt_newsgenre##</a> <br />
                        <a href="adm_news_editor.php?start=0">##tt_newseditor##</a> </td>
                    </tr>
                    <tr>
                      <td valign="top"><img src="images/line_side_03.png" width="180" height="10" /></td>
                    </tr>
                    <tr>
                      <td valign="top"><span class="red_b">##tm_events##</span></td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <a href="adm_events.php?start=0">##tt_oncoming_events##</a> <br />
                    </tr>
                    <tr>
                      <td valign="top"><img src="images/line_side_03.png" width="180" height="10" /></td>
                    </tr>
                    <tr>
                      <td valign="top"><span class="red_b">##tm_contact##</span></td>
                    </tr>
                    <tr>
                      <td valign="top"><a href="adm_contact.php?start=0">##tt_contact##</a> </td>
                    </tr>
                    
                    <tr>
                      <td valign="top"><img src="images/line_side_03.png" width="180" height="10" /></td>
                    </tr>
                    
                    <tr>
                      <td valign="top"><span class="red_b">##tm_magazine##</span></td>
                    </tr>
                    <tr>
                      <td valign="top">
                      
                      <a href="adm_magazine.php?start=0">##tt_magazine##</a> 
                      <ul style="margin-left:-15px;">
                      	<li><a href="./adm_magazine_export_mail_jp.php?ntl=jp" target="_blank">export mail japan</a>(##summailjp##)</li>
                        <li><a href="./adm_magazine_export_mail_vn.php?ntl=vn" target="_self">export mail vienam</a>(##summailvn##)</li>
                        <li><a href="./adm_magazine_export_mail_oth.php?ntl=" target="_self">export mail other</a>(##summailoth##)</li>
                      </ul>
                      </td>
                    </tr>
    
            
                    
                    <tr>
                      <td valign="top"><img src="images/line_side_03.png" width="180" height="10" /></td>
                    </tr>
                    <tr>
                      <td valign="top"><span class="red_b">##tm_setting## </span></td>
                    </tr>
                    <tr>
                      <td valign="top"><a href="adm_category.php?start=0">##tt_category##</a> <br />
                              <a href="adm_ie.php?start=0">##tt_ie##</a> <br />
                              <a href="adm_province.php?start=0">##tt_province##</a> <br />
                              <a href="adm_country.php?start=0">##tt_country##</a> <br />
                            <a href="adm_package.php?start=0">##tt_package##</a></td>
                    </tr>
                  </table></td>
                </tr>

                <tr>
                  <td valign="top">&nbsp;</td>
                </tr>
            </table></td>
            <td valign="top">&nbsp;</td>
            <td valign="top">##DETAIL_AREA##</td>
            <td valign="top" background="images/border_03.png">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><img src="images/footer_01.png" width="980" height="20" /></td>
      </tr>
    </table></td>
    <td width="10" valign="top" background="images/border_02.png">&nbsp;</td>
  </tr>
</table>

</body>
</html>