<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="795" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><p>Nếu bạn có bất kỳ câu hỏi nào về cách chỉnh sửa trang hoặc bất cứ điều gì, xin vui lòng liên hệ với chúng tôi thông qua mẫu yêu cầu sau đây. Mọi thắc mắc về dịch vụ thanh toán tùy chọn của chúng tôi luôn được chào đón. Ngoài ra, bạn có thể liên hệ với chúng tôi nếu bạn quên mật khẩu hoặc muốn thay đổi thông tin liên hệ hoặc bất kỳ dữ liệu nào khác trên trang của bạn.</p>
<p>FACT-LINK MARKETPLACE CO., LTD</p>
<p>Email :  info@fact-link.com.vn / sales@fact-link.com.vn</p>
<p>Địa chỉ: 602/43 Điện Biên Phủ, Phường 22, Quận Bình Thạnh, Thành phố Hồ Chí Minh.</p>
<p>Phone: (+84)888767138</p>
    </td>
  </tr>
</table>