<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="795" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><p>ページの編集方法に関するご質問、登録企業のログイン情報忘れ、ご担当者変更、有料会員に関するお問い合わせなどは下記のお問い合わせフォームからお問い合わせください。</p>

<p>FACT-LINK MARKETPLACE CO., LTD</p>
<p>Email :  info@fact-link.com.vn</p>
<p>住所: 602/43 Dien Bien Phu, Ward 22, Binh Thanh District, Ho Chi Minh City.</p>
<p>Phone: (+84)888767138</p>
<p>日本人担当：矢積（日本語、英語）、ベトナム人担当：Truc （ベトナム語、英語）</p>

    </td>
  </tr>
  <tr>
  	<td>
  		<p class="h3_title">お問い合わせフォーム <br>（<span class="red_b">*</span>は必須項目です）</p>
  	</td>
  </tr>
</table>