<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="795" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><p>Xin vui lòng liên hệ với chúng tôi để biết cách chỉnh sửa các trang, về dịch vụ cho thành viên trả phí hoặc trong trường hợp bạn quên thông tin đăng nhập, hoặc nếu công ty của bạn thay đổi người phụ trách.</p>
<p>FACT-LINK MARKETPLACE CO., LTD</p>
<p>Email :  info@fact-link.com.vn</p>
<p>Địa chỉ: 602/43 Điện Biên Phủ, Phường 22, Quận Bình Thạnh, Thành phố Hồ Chí Minh.</p>
<p>Phone: (+84) 888 767 138</p>
<p>Liên hệ: Ms. Yukiko Yazumi (tiếng Nhật, tiếng Anh), Ms. Trúc (tiếng Việt, tiếng Anh)</p>
    </td>
  </tr>
  <tr>
  	<td>
  		<p class="h3_title">Liên hệ<br>(<span class="red_b">*</span> bắt buộc)</p>
  	</td>
  </tr>
</table>