<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">

	##announce##
	
	<tr>
		<td valign="top"><img src="images/blank.png" width="560" height="5" /></td>
	</tr>
	
	<tr>
		<td valign="top">
			##heading##
		</td>
	</tr>
	
	<tr>
	
		<td valign="top">
		
			<table border="0" cellspacing="0" cellpadding="0" width="100%" data-note="feat-detail">
				
				##feadetail##
				
				<tr>
					<td valign="top"><img src="images/blank.png" width="560" height="10" /></td>
				</tr>
				
				<tr>
					<td valign="top">
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									##fealinktext## <strong><a href="feature.php?start=0"><strong>##lb_fea_archive## &gt;&gt;</strong></a></strong>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				
				<tr>
					<td valign="top">
						<hr />
					</td>
				</tr>
				
				<tr>
					<td valign="top"><img src="images/blank.png" width="560" height="5" /></td>
				</tr>
								
			</table>
			
		</td>
	</tr>
	
	<tr>
		<td valign="top"><img src="images/blank.png" width="560" height="10" /></td>
	</tr>

	<!-- PRODUCTS LIST -->
	<tr>
		<td valign="top">
					
			<table  width="100%" border="0" cellspacing="0" cellpadding="0">
			
				<tr>
					<td valign="top" class="grey_s" colspan="20"><h2 class="header">##headingFeaturedProduct##</h2></td>
				</tr>

				<tr>
					<td>

						<div id="js-wrap-products-list" class="wrap-products-list">

							<!-- BEGIN DYNAMIC BLOCK: rows_featured_products -->
							<div class="product-box">
								<div class="wrap-product-thumb">
									<a href="product_detail.php?proid=##feaproductid##"><img class="product-thumb" src="##feaproductimagelink##"></a>
								</div>
								<div class="wrap-product-des">
									<div class="product-name">
										<a href="#">##feaproductname##</a>
										<p>##feaProductCompanyName##</p>
									</div>
								</div>
							</div>
							<!-- END DYNAMIC BLOCK: rows_featured_products -->

						</div>

					</td>
				</tr>

			</table>
	
		</td>
	</tr>
	<!-- END PRODUCTS LIST -->
	
	<tr>
		<td valign="top">
		
			##heading3##
			
		</td>
	</tr>



	<!-- BEGIN DYNAMIC BLOCK: rows_introduce -->
	
	<tr>
	
		<td valign="top">
		
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				
				<tr>
				
					<!-- intname1 -->
					<td width="250" valign="top">
					
						<table border="0" cellspacing="0" cellpadding="0">
						
							<tr>
								<td valign="top"><strong><a href="##intlink1##" target="_blank">##intname1##</a></strong></td>
							</tr>
							<tr>
								<td valign="top">
									<hr style="border-color: LightGray;" />
								</td>
							</tr>
							<tr>
								<td valign="top">
									<a href="##intlink1##" target="_blank">##intimage1##</a>
								</td>
							</tr>
							<tr>
								<td valign="top">
									<hr style="border-color: LightGray;" />
								</td>
							</tr>
							<tr>
								<td valign="top"><a href="##intlink1##" target="_blank"><strong>##inttitle1##</strong></a></td>
							</tr>
							<tr>
								<td valign="top"><img src="images/blank.png" width="160" height="5" /></td>
							</tr>
							<tr>
								<td valign="top">##intdetail1##</td>
							</tr>
						
						</table>
				
					</td>
					
					<td width="15">&nbsp;</td>
					
					<!-- intname2 -->
					<td width="250" valign="top">
					
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td valign="top"><strong><a href="##intlink2##" target="_blank">##intname2##</a></strong></td>
							</tr>
							<tr>
								<td valign="top">
									<hr style="border-color: LightGray;" />
								</td>
							</tr>
							<tr>
								<td valign="top"><a href="##intlink2##" target="_blank">##intimage2##</a></td>
							</tr>
							<tr>
								<td valign="top">
									<hr style="border-color: LightGray;" />
								</td>
							</tr>
							<tr>
								<td valign="top"><a href="##intlink2##" target="_blank"><strong>##inttitle2##</strong></a></td>
							</tr>
							<tr>
								<td valign="top"><img src="images/blank.png" width="160" height="5" /></td>
							</tr>
							<tr>
								<td valign="top">##intdetail2##</td>
							</tr>
						</table>
						
					</td>
					
					<td width="15">&nbsp;</td>
					
					<!-- intname3 -->
					<td width="250" valign="top">
					
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td valign="top"><strong><a href="##intlink3##" target="_blank">##intname3##</a></strong></td>
							</tr>
							<tr>
								<td valign="top">
									<hr style="border-color: LightGray;" />
								</td>
							</tr>
							<tr>
								<td valign="top">
									<a href="##intlink3##" target="_blank">
										##intimage3##
									</a>
								</td>
							</tr>
							<tr>
								<td valign="top">
									<hr style="border-color: LightGray;" />
								</td>
							</tr>
							<tr>
								<td valign="top"><a href="##intlink3##" target="_blank"><strong>##inttitle3##</strong></a></td>
							</tr>
							<tr>
								<td valign="top"><img src="images/blank.png" width="160" height="5" /></td>
							</tr>
							<tr>
								<td valign="top">##intdetail3##</td>
							</tr>
						</table>
						
					</td>
				
				</tr>
				
			</table>
			
		</td>
	
	</tr>
	
	<tr>
		<td valign="top">
		
			<hr style="border-style:dashed;" />
		
		</td>
	</tr>
	
	<!-- END DYNAMIC BLOCK: rows_introduce -->


	<tr class="##classHaveEvent##">
		<td valign="top">
			<h2 class="header" style="text-transform: uppercase;">##headingEvent##</h2>
		</td>
	</tr>
	
	<tr class="##classHaveEvent##">
	
		<td valign="top">
		
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="event-table">

				<!-- BEGIN DYNAMIC BLOCK: rows_events -->
				<tr>
					<td width="250" class="event-thumb box-sizing-box">
						<a href="##urlEvent##"><img src="##urlMediaEvent##" alt="##eventTit##"></a>
					</td>
					<td width="500" class="event-content box-sizing-box">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><h3>##eventTit##</h3></td>
							</tr>
							<tr>
								<td><p>##eventDesc##</p></td>
							</tr>
							<tr>
								<td><p style="text-align: right; margin: 0;"><a href="##urlEvent##">##seeMore## >></a></p></td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- END DYNAMIC BLOCK: rows_events -->
			</table>
		</td>
	</tr>

	<tr>
		<td valign="top">
			
			##heading2##

		</td>
	</tr>
	
	<tr>
	
		<td valign="top">
		
			<table width="100%" data-note="uifdetail" border="0" cellspacing="0" cellpadding="0">
			
				##uifdetail##

				<tr>
					<td valign="top">
					
						<table width="100%" data-note="rows_pageupdate" border="0" cellspacing="0" cellpadding="0">
							
							<!-- BEGIN DYNAMIC BLOCK: rows_pageupdate -->
							
							<tr>
								<td width="5" valign="top" bgcolor="#999999">&nbsp;</td>
								<td width="5" valign="top">&nbsp;</td>
								<td align="top">
									<a href="##updlink##" target="_blank">##updmemname##</a>
								</td>
								<td width="120" align="right" valign="top">
								
									##updupdate##
								
								</td>
							</tr>
							
							<tr>
								<td colspan="4" valign="top">
									<hr style="border-style: dashed" />
								</td>
							</tr>
							
							<!-- END DYNAMIC BLOCK: rows_pageupdate -->
						
						</table>
						
					</td>
				</tr>
			
			</table>
			
		</td>
	</tr>

	<tr>
		<td valign="top">
			
			<h2 class="header">##headingNewRegister##</h2>

		</td>
	</tr>
	
	<tr>
	
		<td valign="top">
		
			<table width="100%" data-note="uifdetail" border="0" cellspacing="0" cellpadding="0">
			
				##uifdetail##

				<tr>
					<td valign="top">
					
						<table width="100%" data-note="rows_recentmemregist" border="0" cellspacing="0" cellpadding="0">
							
							<!-- BEGIN DYNAMIC BLOCK: rows_recentmemregist -->
							
							<tr>
								<td width="5" valign="top" bgcolor="#999999">&nbsp;</td>
								<td width="5" valign="top">&nbsp;</td>
								<td align="top">
									<a href="##RcLinkMemberRegist##" target="_blank">##RcNameMemberRegist##</a>
								</td>
								<td width="120" align="right" valign="top">
								
									##RcDateMemberRegist##
								
								</td>
							</tr>
							
							<tr>
								<td colspan="4" valign="top">
									<hr style="border-style: dashed" />
								</td>
							</tr>
							
							<!-- END DYNAMIC BLOCK: rows_recentmemregist -->
						
						</table>
						
					</td>
				</tr>
			
			</table>
			
		</td>
	</tr>




	##newstable##
	<tr>
		<td valign="top" style="text-align: center;">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td>
						<iframe src="https://calendar.google.com/calendar/b/1/embed?height=300&amp;wkst=1&amp;bgcolor=%23A79B8E&amp;ctz=Asia%2FHo_Chi_Minh&amp;src=c2FsZXNAZmFjdC1saW5rLmNvbS52bg&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4udmlldG5hbWVzZSNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%230B8043&amp;mode=WEEK&amp;title=Upcoming%20Events" style="border:solid 1px #777" width="800" height="300" frameborder="0" scrolling="no"></iframe>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td valign="top">
			<h2 class="header" style="text-transform: uppercase;">##search_by_category##</h2>
		</td>
	</tr>
	<td valign="top" style="text-align: center;" class="footer-cat-list">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<ul class="columns-3 footer-cat-content">
						##cattextlist##
					</ul>
				</td>
			</tr>
		</table>
	</td>
</table>
