<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="flc_css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="760" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><div class="red_head">##mn_mailnew##</div></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_03.png" width="760" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><table width="760" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10" valign="top"><img src="images/frame03_01.png" width="10" height="10" /></td>
        <td width="740" valign="top"><img src="images/frame06_01.png" width="740" height="10" /></td>
        <td width="10" valign="top"><img src="images/frame03_03.png" width="10" height="10" /></td>
      </tr>
      <tr>
        <td valign="top" background="images/frame03_04.png">&nbsp;</td>
        <td valign="top">
		<form id="formedtmailadd" name="formedtmailadd" method="post" enctype="multipart/form-data" action="edt_mail_add_post.php" class="form_margin" onsubmit="return check_form('f_edtmailadd');">
		<table width="740" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="200"><div align="right"><strong> * ##lb_mail_to##</strong></div></td>
            <td width="10">&nbsp;</td>
            <td width="530"><input name="t_to" type="text" class="box_normal" id="t_to" value="##replyto##" maxlength="85" /></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_06.png" width="740" height="20" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> * ##lb_mail_mail##</strong></div></td>
            <td>&nbsp;</td>
            <td><input name="t_mail" type="text" class="box_normal" id="t_mail" value="##replymail##" maxlength="50" /></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_06.png" width="740" height="20" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> * ##lb_mail_subject##</strong></div></td>
            <td>&nbsp;</td>
            <td><input name="t_subject" type="text" class="box_normal" id="t_subject" value="##replysubj##" maxlength="85" /></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_06.png" width="740" height="20" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong>* ##lb_mail_detail## </strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_detail" class="box_multi" id="t_detail"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_05.png" width="740" height="20" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong>##lb_mail_by## </strong></div></td>
            <td>&nbsp;</td>
            <td>##sender_info##</td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_05.png" width="740" height="20" /></td>
            </tr>
          <tr>
            <td><input name="h_memid" type="hidden" id="h_memid" value="##memid##" />
              <input name="h_memmail" type="hidden" id="h_memmail" value="##memmail##" />
              <input name="h_sender" type="hidden" id="h_sender" value="##sender_info##" /></td>
            <td>&nbsp;</td>
            <td><div align="right">
              <input name="b_ok" type="image" id="b_ok" src="images/button_send.jpg" />
            </div></td>
          </tr>
        </table>
		</form>		</td>
        <td valign="top" background="images/frame03_05.png">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top"><img src="images/frame03_06.png" width="10" height="10" /></td>
        <td valign="top"><img src="images/frame06_02.png" width="740" height="10" /></td>
        <td valign="top"><img src="images/frame03_08.png" width="10" height="10" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
</table>
</body>
</html>