<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="flc_css.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="760" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><div class="red_head">##mm_hom_add##</div></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_03.png" width="760" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><table width="760" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10" valign="top"><img src="images/frame03_01.png" width="10" height="10" /></td>
        <td width="740" valign="top"><img src="images/frame06_01.png" width="740" height="10" /></td>
        <td width="10" valign="top"><img src="images/frame03_03.png" width="10" height="10" /></td>
      </tr>
      <tr>
        <td valign="top" background="images/frame03_04.png">&nbsp;</td>
        <td valign="top">
		<form id="formedthomadd" name="formedthomadd" method="post" enctype="multipart/form-data" action="edt_page_home_add_post.php" class="form_margin" onsubmit="return check_form('f_edthomadd');">
		<table width="740" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="default_head">##langcodefull##</td>
            <td>&nbsp;</td>
            <td><div align="right"><a href="edt_page.php">##lb_back##</a></div></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_05.png" width="740" height="20" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong>  ##langcodefull## </strong></div></td>
            <td>&nbsp;</td>
            <td><input name="t_setlang" type="checkbox" id="t_setlang" value="t" checked="checked" />
##lb_enable##</td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_05.png" width="740" height="20" /></td>
            </tr>
          <tr>
            <td width="200"><div align="right"><strong> * ##lb_pag_name## </strong></div></td>
            <td width="10">&nbsp;</td>
            <td width="530"><textarea name="t_pagname" class="box_multi_mini" id="t_pagname">##val_pagname##</textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_08.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> * ##lb_pag_pagetitle## </strong></div></td>
            <td>&nbsp;</td>
            <td><input name="t_pagpagetitle" type="text" class="box_normal" id="t_pagpagetitle" maxlength="50" /></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_08.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td bgcolor="#EEEEEE"><div align="right"><strong> * ##lb_pag_sort## </strong></div></td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><input name="t_pagsort" type="text" class="box_normal" id="t_pagsort" value="0" maxlength="3" /></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_08.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> * ##lb_pag_title## </strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_pagtitle" class="box_multi_mini" id="t_pagtitle"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_08.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td bgcolor="#EEEEEE"><div align="right"><strong>  ##lb_pag_textcolor## </strong></div></td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><select name="t_clf" class="box_list" id="t_clf">
              <!-- BEGIN DYNAMIC BLOCK: rows_clf -->
              <option value="##clfcode##" ##clfselected## style="color:###clfcode##">##clfname##</option>
              <!-- END DYNAMIC BLOCK: rows_clf -->
            </select></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_05.png" width="740" height="20" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong>  ##lb_pag_detail## </strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_pagdetail" class="box_multi" id="t_pagdetail"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_05.png" width="740" height="20" /></td>
            </tr>
          <tr>
            <td bgcolor="#EEEEEE"><div align="right"><strong> ##lb_pag_image## </strong></div></td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><input name="t_image" type="file" class="box_list" id="t_image" /></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td bgcolor="#EEEEEE"><div align="right"><strong> ##lb_pag_image_width## </strong></div></td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><input name="t_imagewidth" type="text" class="box_normal" id="t_imagewidth" maxlength="3" /></td>
          </tr>
          <tr>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><span class="grey_n">##lb_maxwidth## : 760 px || ##lb_filetype## : JPG, PNG</span></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
            <tr>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><input name="t_imageside" type="radio" value="l" checked="checked" />
##lb_left##
  <input name="t_imageside" type="radio" value="r" />
##lb_right##</td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><input name="t_imagelink" type="checkbox" id="t_imagelink" value="t" />
##lb_pag_image_link##</td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_05.png" width="740" height="20" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> ##lb_hom_keytitle## </strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_keytitle" class="box_multi_mini" id="t_keytitle"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td bgcolor="#EEEEEE"><div align="right"><strong> ##lb_hom_keytitlecolor## </strong></div></td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><select name="t_clfkey" class="box_list" id="t_clfkey">
              <!-- BEGIN DYNAMIC BLOCK: rows_clfkey -->
              <option value="##clfkeycode##" ##clfkeyselected## style="color:###clfkeycode##">##clfkeyname##</option>
              <!-- END DYNAMIC BLOCK: rows_clfkey -->
            </select></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> ##lb_hom_keydetail## </strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_keydetail" class="box_multi_sub" id="t_keydetail"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_08.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td bgcolor="#EEEEEE"><div align="right"><strong> ##lb_hom_keytemplate## </strong></div></td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><select name="t_tpk" class="box_list" id="t_tpk">
              <!-- BEGIN DYNAMIC BLOCK: rows_tpk -->
              <option value="##tpkid##" ##tpkselected## style="background-color:###tpkbgcolor##; color:###tpktitlecolor##">##tpkname##</option>
              <!-- END DYNAMIC BLOCK: rows_tpk -->
            </select></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_05.png" width="740" height="20" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> ##lb_hom_keytitle## 1 </strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_keytitle1" class="box_multi_mini" id="t_keytitle1"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> ##lb_hom_keydetail_sub## 1 </strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_keydetail1" class="box_multi_sub" id="t_keydetail1"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_08.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> ##lb_hom_keytitle## 2 </strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_keytitle2" class="box_multi_mini" id="t_keytitle2"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> ##lb_hom_keydetail_sub## 2 </strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_keydetail2" class="box_multi_sub" id="t_keydetail2"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_08.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> ##lb_hom_keytitle## 3 </strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_keytitle3" class="box_multi_mini" id="t_keytitle3"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> ##lb_hom_keydetail_sub## 3 </strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_keydetail3" class="box_multi_sub" id="t_keydetail3"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_05.png" width="740" height="20" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> ##lb_hom_linetitle## </strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_linetitle" class="box_multi_mini" id="t_linetitle"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td bgcolor="#EEEEEE"><div align="right"><strong> ##lb_hom_linetitlecolor## </strong></div></td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><select name="t_clfline" class="box_list" id="t_clfline">
              <!-- BEGIN DYNAMIC BLOCK: rows_clfline -->
              <option value="##clflinecode##" ##clflineselected## style="color:###clflinecode##">##clflinename##</option>
              <!-- END DYNAMIC BLOCK: rows_clfline -->
            </select></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> ##lb_hom_linedetail## </strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_linedetail" class="box_multi_sub" id="t_linedetail"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_05.png" width="740" height="20" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> ##lb_hom_linetitle_sub## 1</strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_linetitle1" class="box_multi_mini" id="t_linetitle1"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> ##lb_hom_linedetail_sub## 1</strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_linedetail1" class="box_multi_sub" id="t_linedetail1"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td bgcolor="#EEEEEE"><div align="right"><strong> ##lb_hom_lineimage## 1</strong></div></td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><input name="t_lineimage1" type="file" class="box_list" id="t_lineimage1" /></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td bgcolor="#EEEEEE"><div align="right"><strong> ##lb_hom_lineimage_width## 1</strong></div></td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><input name="t_lineimagewidth1" type="text" class="box_normal" id="t_lineimagewidth1" maxlength="3" /></td>
          </tr>
          <tr>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><span class="grey_n">##lb_maxwidth## : 760 px || ##lb_filetype## : JPG, PNG</span></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><input name="t_lineimagelink1" type="checkbox" id="t_lineimagelink1" value="t" />
##lb_pag_image_link##</td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_08.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> ##lb_hom_linetitle_sub## 2 </strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_linetitle2" class="box_multi_mini" id="t_linetitle2"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> ##lb_hom_linedetail_sub## 2 </strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_linedetail2" class="box_multi_sub" id="t_linedetail2"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td bgcolor="#EEEEEE"><div align="right"><strong> ##lb_hom_lineimage## 2 </strong></div></td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><input name="t_lineimage2" type="file" class="box_list" id="t_lineimage2" /></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td bgcolor="#EEEEEE"><div align="right"><strong> ##lb_hom_lineimage_width## 2 </strong></div></td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><input name="t_lineimagewidth2" type="text" class="box_normal" id="t_lineimagewidth2" maxlength="3" /></td>
          </tr>
          <tr>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><span class="grey_n">##lb_maxwidth## : 760 px || ##lb_filetype## : JPG, PNG</span></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><input name="t_lineimagelink2" type="checkbox" id="t_lineimagelink2" value="t" />
##lb_pag_image_link##</td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_08.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> ##lb_hom_linetitle_sub## 3 </strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_linetitle3" class="box_multi_mini" id="t_linetitle3"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> ##lb_hom_linedetail_sub## 3 </strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_linedetail3" class="box_multi_sub" id="t_linedetail3"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td bgcolor="#EEEEEE"><div align="right"><strong> ##lb_hom_lineimage## 3 </strong></div></td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><input name="t_lineimage3" type="file" class="box_list" id="t_lineimage3" /></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td bgcolor="#EEEEEE"><div align="right"><strong> ##lb_hom_lineimage_width## 3 </strong></div></td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><input name="t_lineimagewidth3" type="text" class="box_normal" id="t_lineimagewidth3" maxlength="3" /></td>
          </tr>
          <tr>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><span class="grey_n">##lb_maxwidth## : 760 px || ##lb_filetype## : JPG, PNG</span></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/blank.png" width="740" height="10" /></td>
            </tr>
          <tr>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE">&nbsp;</td>
            <td bgcolor="#EEEEEE"><input name="t_lineimagelink3" type="checkbox" id="t_lineimagelink3" value="t" />
##lb_pag_image_link##</td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_05.png" width="740" height="20" /></td>
            </tr>
          <tr>
            <td><div align="right"><strong> ##lb_hom_desc## </strong></div></td>
            <td>&nbsp;</td>
            <td><textarea name="t_desc" class="box_multi_sub" id="t_desc"></textarea></td>
          </tr>
          <tr>
            <td colspan="3"><img src="images/line_frame_05.png" width="740" height="20" /></td>
            </tr>
          <tr>
            <td><input name="h_memid" type="hidden" id="h_memid" value="##memid##" />
              <input name="h_langcode" type="hidden" id="h_langcode" value="##langcode##" /></td>
            <td>&nbsp;</td>
            <td><div align="right">
              <input name="b_ok" type="image" id="b_ok" src="images/button_save.jpg" />
              <img src="images/button_cancel.jpg" width="180" height="30" border="0" onmouseover="style.cursor='hand'" onclick="history.back()" />            </div></td>
          </tr>
        </table>
		</form>		</td>
        <td valign="top" background="images/frame03_05.png">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top"><img src="images/frame03_06.png" width="10" height="10" /></td>
        <td valign="top"><img src="images/frame06_02.png" width="740" height="10" /></td>
        <td valign="top"><img src="images/frame03_08.png" width="10" height="10" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
</table>
</body>
</html>