<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>##texttitlebar##</title>
<link href="flc_css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="./include/global_java.js"></script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<script type="text/javascript" src="./include/jquery.js"></script>
</head>

<body>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="10" valign="top" background="images/border_01.png">&nbsp;</td>
    <td width="980" valign="top" bgcolor="#FFFFFF"><table width="980" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top"><table width="980" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><img src="images/header_01.png" width="10" height="10" /></td>
            <td colspan="2" valign="top"><img src="images/header_02.png" width="960" height="10" /></td>
            <td valign="top"><img src="images/header_03.png" width="10" height="10" /></td>
          </tr>
          <tr>
            <td width="10" valign="top"><img src="images/header_04.png" width="10" height="120" /></td>
            <td width="70" valign="top"><table width="70" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="20" valign="top"><a href="set_language.php?lang=jp"><img src="images/##langpicjp##" title="日本語" width="20" height="20" border="0" /></a></td>
                  <td width="5" valign="top"><img src="images/header_05.png" width="5" height="20" /></td>
                  <td width="20" valign="top"><a href="set_language.php?lang=vn"><img src="images/##langpicvn##" title="ไทย" width="20" height="20" border="0" /></a></td>
                  <td width="5" valign="top"><img src="images/header_06.png" width="5" height="20" /></td>
                  <td width="20" valign="top"><a href="set_language.php?lang=en"><img src="images/##langpicen##" title="English" width="20" height="20" border="0" /></a></td>
                </tr>
                <tr>
                  <td colspan="5" valign="top"><img src="images/header_10.png" width="70" height="100" /></td>
                </tr>
            </table></td>
            <td width="889" valign="top"><a href="index.php"></a>
                <table width="890" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="440" valign="top"><a href="index.php"><img src="images/##headlogo##" width="440" height="120" border="0" /></a></td>
                    <td width="450" valign="top" background="images/header_08.png">&nbsp;</td>
                  </tr>
              </table></td>
            <td width="10" valign="top"><img src="images/header_09.png" width="10" height="120" /></td>
          </tr>
          <tr>
            <td valign="top"><img src="images/header_11.png" width="10" height="10" /></td>
            <td colspan="2" valign="top"><img src="images/header_12.png" width="960" height="10" /></td>
            <td valign="top"><img src="images/header_13.png" width="10" height="10" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="980" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="10"><img src="images/decor_01.png" width="10" height="30" /></td>
            <td width="960" background="images/menu_blank.png"><table width="960" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="10">&nbsp;</td>
                <td width="880" class="white_b">##lb_title_editor## </td>
                <td width="70">&nbsp;</td>
              </tr>
            </table></td>
            <td width="10"><img src="images/decor_02.png" width="10" height="30" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><table width="980" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="200" valign="top"><img src="images/brick_01.png" width="200" height="10" /></td>
            <td width="10" valign="top"><img src="images/body_01.png" width="10" height="10" /></td>
            <td width="760" valign="top"><img src="images/body_06.png" width="760" height="10" /></td>
            <td width="10" valign="top"><img src="images/body_07.png" width="10" height="10" /></td>
          </tr>
          <tr>
            <td valign="top" background="images/brick_03.png"><table width="200" border="0" cellspacing="0" cellpadding="0">

                <tr>
                  <td valign="top"><table width="180" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                      <td valign="top"><span class="red_b">##mn_main## </span></td>
                    </tr>
                    <tr>
                      <td valign="top"><a href="edt_index.php">##mn_info## </a> <br />
                        <a href="edt_profile_edit.php">##mn_edit##</a> <br />
                        <a href="edt_pass_edit.php">##mn_pass##</a> <br />
                        <a href="logout.php">##mn_logout##</a> </td>
                    </tr>
                    <tr>
                      <td valign="top"><img src="images/line_side_03.png" width="180" height="10" /></td>
                    </tr>
                    <tr>
                      <td valign="top" class="red_b"> ##mn_page## </td>
                    </tr>
                    <tr>
                      <td valign="top"><a href="edt_page.php">##mn_page##</a> <br />
                        <a href="edt_template_edit.php">##mn_template##</a> </td>
                    </tr>
                    <tr>
                      <td valign="top"><img src="images/line_side_03.png" width="180" height="10" /></td>
                    </tr>
                    <tr>
                      <td valign="top" class="red_b">##mn_mail##</td>
                    </tr>
                    <tr>
                      <td valign="top"><a href="edt_mail_inbox.php?start=0">##mn_mailin##</a> ##inboxnew##<br />
                        <!--<a href="edt_mail_outbox.php?start=0">##mn_mailout##</a> <br />-->
                        <!--<a href="edt_mail_add.php">##mn_mailnew##</a></td>-->
                    </tr>
                    <tr>
                      <td valign="top"><img src="images/line_side_03.png" width="180" height="10" /></td>
                    </tr>
                    <tr>
                      <td valign="top"><span class="red_b">##mn_help##</span></td>
                    </tr>
                    <tr>
                      <td valign="top"><a href="edt_support.php">##mn_support##</a></td>
                    </tr>
                    <tr>
                      <td valign="top"><img src="images/line_side_03.png" width="180" height="10" /></td>
                    </tr>
                    <tr>
                      <td valign="top"><span class="red_b">##access_report##</span></td>
                    </tr>
                    <tr>
                      <td valign="top">
                      <a href="./_memstats/index.php?memid=##memid##" target="_blank">##access_report##</a>
                      </td>
                    </tr>

                    <tr>
                      <td valign="top">&nbsp;</td>
                    </tr>
                  </table></td>
                </tr>
            </table></td>
            <td valign="top">&nbsp;</td>
            <td valign="top">##DETAIL_AREA##</td>
            <td valign="top" background="images/border_03.png">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td valign="top"><img src="images/footer_01.png" width="980" height="20" /></td>
      </tr>
    </table></td>
    <td width="10" valign="top" background="images/border_02.png">&nbsp;</td>
  </tr>
</table>

</body>
</html>