<footer id="siteFooter" style="display: ##footerVisible##">
    
  <section class="footBnrs">
    <article style="text-align: center;">
      <div style="float: none; display: inline-block; vertical-align: top">
        <p style="margin-bottom: 0"><a href="https://fact-depot.com" target="_blank"><img src="/images/footer/bnrVietnamDepot.png" width="600" height="154" alt="Fact-depot"></a></p>
        <div style="text-align: left;">##LinkF4##</div>
      </div>
      <div style="float: none; display: inline-block; vertical-align: top">
        <p style="margin-bottom: 0"><a href="http://www.tdc-vietnam.com" target="_blank"><img src="/images/footer/bnrTDC.png" width="600" height="154" alt="Fact-Link TDC"></a></p>
        <div style="text-align: left;">##LinkF5##</div>
      </div>
    </article>

    <div>
      <p><a href="http://www.fact-link.com/index.php?lang=th" target="_blank"><img src="/images/footer/bnrThailand.png" width="600" height="154" alt="Fact-Link Thailand"></a></p>
      <p>##LinkF##</p>
    </div>

    <div>
      <p><a href="http://indonesia.fact-link.com/" target="_blank"><img src="/images/footer/bnrIndonesia.png" width="600" height="154" alt="Fact-Link Indonesia"></a></p>
      <p>##LinkF2##</p>
    </div>

    <div>
      <p>
        <a href="http://www.tdc-thai.com/" target="_blank"><img src="/images/footer/bnrTDC.png" width="600" height="154" alt="東京デベロップメントコンサルタント"></a>
      </p>
      <p>##LinkF3##</p>
    </div>
  </section>
  
  <section class="corpInfo">
    <section id="top-section2">       
      <div id="nav-menu-area">
        <center>##MENU_AREA##</center>
        <center>##MenuFooterTerm_tpl##</center>
      </div>
      <center>##FOOTER_INFO##</center>
    </section>
  </section>
  
</footer>