<table width="795" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top">
      <strong>● Fact-Link Introduction</strong><br><br>
      <strong>Fact-link Vietnam</strong> is an epoch-making site for company introduction related to manufacturing placed in Vietnam. Initially it has set up as an E-commerce trading floor for Japanese manufacturing in Vietnam, in near future we will offer service of supporting manufacturing as wide range of network connect local and foreign-affiliated company with Japanese company. <br />
      <br />
      <strong>Fact-link Vietnam</strong>has been providing beneficial company information to the customers that have registered already. Appeared informations are basic information such as Business Description, Products & Services, Location, Contact address and also information relevant to manufacturing, such as Industrial Estate.<br /><br />
      ● Update basic information and insert image of picture, introduction and PR by your own.<br /><br />
      ● Able to change 24H/365 days from management screen refer to registration and company<br /><br />
      ● Easy search, making use of search function. It is classified as Industry, Province, Industrial Estate.<br /><br />
      <strong>For Fact-Link Vietnam, </strong>there are two types of services: free members and paid members. Here you can compare the features for each service. For more information on paid members, please feel free to contact us via phone (+84) 888767138, email (info@fact-link.com.vn) or <a href="touroku.php"><strong>contact form.</strong></a>
    </td>
  </tr>
  <tr>
    <td>
      <p>&nbsp;</p>
      <table width="795" style="border: none; border-collapse: collapse;">
      <tbody>
      <tr style="height: 0pt;">
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">&nbsp;</td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Free members</span></strong></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Paid member</span></strong></p>
      </td>
      </tr>
      <tr style="height: 0pt;">
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Posting fee (per year, VAT excluded)</span></strong></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Free</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">$900-$2400</span></p>
      </td>
      </tr>
      <tr style="height: 0pt;">
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Search result priority display</span></strong></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">None</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 18pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">○</span></p>
      </td>
      </tr>
      <tr style="height: 0pt;">
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Up to 6 page creation of page</span></strong></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">None</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 18pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">○</span></p>
      </td>
      </tr>
      <tr style="height: 0pt;">
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Top page, e-mail magazine introduction</span></strong></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">None</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 18pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">○</span></p>
      </td>
      </tr>
      <tr style="height: 0pt;">
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Banner advertisement</span></strong></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">None</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 18pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">○</span></p>
      </td>
      </tr>
      </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" class="red_subhead">● Fact Link Paid Member Benefits</td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top">
      By becoming a paid member, you can expect more PR effects for your company.<br /><br />
      <span class="green_b">①High-ranking display</span><br />It classifies by colored marking with high-rank display in boss in category and province classification so that it could distinguish your company from any competitors. High-rank display catch visitors eye with ease and then access rate may be improved greatly.<br /><br />
      <span class="green_b">②Introduce on Fact-link top page and Fact-Link mail magazine</span><br />
      Only paid members might be spotlighted on top page regularly. The Increase in number of accesses can be expected. <br>We also introduce paid member companies in our regular e-mail magazine sent to over 3,000 registered companies.<br />
      <br />
      <span class="green_b">③Banner advertisement</span><br />
      "Easy-to-see banner" stands out on top page, indeed. It helps visible PR some products which is hard to express in word. Going up level of company recognition, increase access rate can be also expected.<br />
      <br />
      <span class="green_b">④ Can use as your website</span><br />
      Fact-link staff support to create and update pages (page composition, layout), consulting based on customer information. We also provide inquiry form, visitor would be able to contact you casually.<br /><br />
      Fact- Link is useful not only as a manufacturing portal site in Vietnam but also as a customer's Internet advertising tool. Please feel free to <a href="contact.php">contact us</a> as the Japanese staff are also available for consultation by email or phone.<br><br></td>
  </tr>
  <tr>
    <td>
      <strong>● Fact-Link Operating Company Information</strong><br><br>
    </td>
  </tr>
  <tr>
    <td>
      <table width="795" style="border: none; border-collapse: collapse;">
        <tbody>
        <tr style="height: 0pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Company name</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Fact Link Marketplace Co.,LTD</span></p>
        </td>
        </tr>
        <tr style="height: 0pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Representative</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Yukiko Yazumi</span></p>
        </td>
        </tr>
        <tr style="height: 0pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Tax code</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">0313 560 828</span></p>
        </td>
        </tr>
        <tr style="height: 0pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Registered address</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">L18-11-13, Floor 18, Vincom Center Dong Khoi Building, 72 Le Thanh Ton Street, Ben Nghe Ward, District 1, Ho Chi Minh City, Vietnam</span></p>
        </td>
        </tr>
        <tr style="height: 0pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Office</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">602/43 Dien Bien Phu, Ward 22, Binh Thanh District, Ho Chi Minh City.</span></p>
        </td>
        </tr>
        <tr style="height: 0pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Phone number</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">0888 767 138</span></p>
        </td>
        </tr>
        <tr style="height: 20pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Email</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">info@fact-link.com.vn</span></p>
        </td>
        </tr>
      </tbody>
      </table>
    </td>
  </tr>
</table>
