<table width="795" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top">
      <strong>●ファクトリンクへの掲載について</strong><br><br>
      <strong>ファクトリンクベトナムは</strong>は、ベトナムに拠点を置く「製造関連企業」の、会社紹介サイトです。当初は在ベトナムの日系製造業のポータルサイトとして、近い将来にはベトナムをはじめとする近隣諸国のロ ーカル企業及び外資系企業と日系企業同士を結ぶ幅広いネットワークとして、製造業を支援するサービスを提供していきます。<br />
      <br />
      <strong>ファクトリンクベトナム</strong>ご登録いただいた企業様の情報をご紹介致します。掲載情報は、事業内容や取扱品目、所在地や連絡先などの基本情報の他、製造業に特化した項目を 設けております。お客様ご自身で基本情報を更新できる他、写真や挨拶文・PR文の掲載もできるのが特徴です。 会社情報の登録・変更は、管理画面から24時間いつでも簡単に更新可能です。<br /><br />
      作成されたページはファクトリンク内で業種・エリア・工業団地など、様々なアプローチでベトナムの製造業 をカテゴライズされ、検索機能を使って検索可能となります。これにより的確にユーザーを御社ページ へとナビゲート致します。<br /><br />
      <strong>ファクトリンクベトナム</strong>への掲載は無料会員と有料会員と2つのサービスをご用意しています。こちらでは、そのサービスごとに利用できる機能を比較いただけます。有料会員の詳細に関しましては、お電話((+84)888767138)、メール(info@fact-link.com.vn) または<a href="touroku.php"><strong>お問い合わせフォーム</strong></a>
    </td>
  </tr>
  <tr>
    <td>
      <p>&nbsp;</p>
      <table width="795" style="border: none; border-collapse: collapse;">
      <tbody>
      <tr style="height: 0pt;">
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">&nbsp;</td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">無料会員</span></strong></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">有料会員</span></strong></p>
      </td>
      </tr>
      <tr style="height: 0pt;">
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">掲載料金（年額,VAT前）</span></strong></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">無料</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">$900-$2400</span></p>
      </td>
      </tr>
      <tr style="height: 0pt;">
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">検索結果優先表示</span></strong></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">無し</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 18pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">○</span></p>
      </td>
      </tr>
      <tr style="height: 0pt;">
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">最大6ページのページ作成</span></strong></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">無し</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 18pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">○</span></p>
      </td>
      </tr>
      <tr style="height: 0pt;">
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">トップページ、メールマガジンでの紹介</span></strong></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">無し</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 18pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">○</span></p>
      </td>
      </tr>
      <tr style="height: 0pt;">
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">バナー掲載</span></strong></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">無し</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 18pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">○</span></p>
      </td>
      </tr>
      </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" class="red_subhead">●ファクトリンク有料会員の特典</td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top">
      有料会員になることで、より御社のPR効果を期待できます。<br /><br />
      <span class="green_b">①検索結果ページでの上位表示</span><br />アクセス向上を得られるようファクトリンク内業種別検索で上位に色分されて配置します。同業他社との差別化ができ、検索画面の上位にくることによってユーザーの目にとまり、アクセス率が大幅にアップします。<br /><br />
      <span class="green_b">②ファクトリンクのトップページ、メールマガジンでのご紹介</span><br />
      ファクトリンクのトップページで有料会員企業様を定期的にご紹介いたしております。トップページに掲載されることにより目に付きやすく、企業認知度やアピール度を高め、同時にアクセス向上効果が得られます。また、3000社を超える登録企業様へお送りしている定期的なメールマガジンでも有料会員企業様をご紹介いたしております。<br />
      <br />
      <span class="green_b">③インパクトの高いバナー広告で更に認知度UP</span><br />
      ファクトリンクのトップページで有料会員企業様を定期的にご紹介いたしております。<br />
      トップページに掲載されることにより目に付きやすく、企業認知度やアピール度を高め、同時にアクセス向上効果が得られます。<br />
      <br />
      <span class="green_b">④自社ホームページとしての利用が可能</span><br />
      ファクトリンクの専門スタッフがお客様からの情報を元にコンサルティング含め、ページ構成・レイアウトページ作成、更新などお客様のサポートを致します。<br />
      また、お問合せフォームもご利用可能となります。御社ページをご覧いただいたお客様が気軽に御社とコンタクトが取れるよになります。<br /><br />
      ファクトリンクは、ベトナムの製造業ポータルサイトとしての活用にとどまらず、御社のインターネット広告ツ ールとして、お客様のお役に立ちます。日本人スタッフがメールまたは電話にてご相談も承っておりますのでお気軽に<a href="contact.php">お問い合せ</a>下さい。<br><br></td>
  </tr>
  <tr>
    <td>
      <strong>●ファクトリンク運営会社情報</strong><br><br>
    </td>
  </tr>
  <tr>
    <td>
      <table width="795" style="border: none; border-collapse: collapse;">
        <tbody>
        <tr style="height: 0pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">企業名</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Fact Link Marketplace Co.,LTD</span></p>
        </td>
        </tr>
        <tr style="height: 0pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">代表者</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">矢積 悠紀子</span></p>
        </td>
        </tr>
        <tr style="height: 0pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Taxコード</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">0313 560 828</span></p>
        </td>
        </tr>
        <tr style="height: 0pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">登記住所</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">L18-11-13, Tầng 18, Tòa nhà Vincom Center Đồng Khởi, 72 Lê Thánh Tôn, Phường Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</span></p>
        </td>
        </tr>
        <tr style="height: 0pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">オフィス住所</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">602/43 Dien Bien Phu, Ward 22, Binh Thanh District, Ho Chi Minh City.</span></p>
        </td>
        </tr>
        <tr style="height: 0pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">電話番号</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">0888 767 138</span></p>
        </td>
        </tr>
        <tr style="height: 20pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">メールアドレス</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">info@fact-link.com.vn</span></p>
        </td>
        </tr>
      </tbody>
      </table>
    </td>
  </tr>
</table>
