<table width="795" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><p>Fact-link Vietnam là một sàn giao dịch để người sử dụng là các tổ chức, doanh nghiệp Việt Nam và nước ngoài, chủ yếu là các công ty trong ngành công nghiệp sản xuất, tạo một “gian hàng”, đăng tải thông tin của mình bao gồm thông tin cơ bản như tên công ty, địa chỉ trụ sở, ngành nghề kinh doanh, hàng hóa dịch vụ cung cấp, ... và các bài giới thiệu chi tiết hơn về hoạt động của công ty, sản phẩm công ty mình cung cấp nhằm mục đích quảng cáo. Các thành viên sẽ tìm kiếm khách hàng, đối tác tiềm năng dựa trên thông tin ngành nghề kinh doanh, hàng hóa cung cấp, … và liên hệ đặt hàng nếu có nhu cầu. 
        <br /><br />
        Đến với Fact-Link:</br></br>
        ● Khách hàng, ngoài việc có thể tự mình thay đổi các thông tin cơ bản còn có thể đăng các hình ảnh và lời chào hỏi hoặc bài PR.<br />
        <br />
        ● Có thể đăng ký, thay đổi thông tin công ty dễ dàng cập nhật 24/24 bất cứ lúc nào từ màn hình quản lý.<br /><br />
        ● Dễ dàng tìm kiếm, các mục tìm kiếm được phân loại theo tính năng: Danh mục ngành nghề, tỉnh thành, khu công nghiệp…<br />
        <br />
        <br />
        Fact-Link Vietnam có hai loại dịch vụ: thành viên miễn phí và thành viên trả phí. Tại đây bạn có thể so sánh các tính năng cho từng dịch vụ. Để biết thêm thông tin về các thành viên trả phí, xin vui lòng liên hệ với chúng tôi qua điện thoại (+84) 888767138, email (info@fact-link.com.vn) hoặc mẫu form liên hệ.
        <br />
        <br />
        <a href="touroku.php"><strong>Hãy đăng ký ngay (Miễn phí) &gt;&gt;</strong></a></p>
      </td>
  </tr>
  <tr>
    <td>
      <table width="795" style="border: none; border-collapse: collapse;">
      <tbody>
      <tr style="height: 0pt;">
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">&nbsp;</td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Thành viên miễn phí</span></strong></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Thành viên có phí</span></strong></p>
      </td>
      </tr>
      <tr style="height: 0pt;">
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Phí đăng tải thông tin (theo năm, chưa bao gồm VAT)</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Miễn phí</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">$1000-$3000</span></p>
      </td>
      </tr>
      <tr style="height: 0pt;">
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Kết quả tìm kiếm ưu tiên</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Không</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 18pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">○</span></p>
      </td>
      </tr>
      <tr style="height: 0pt;">
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Tạo tối đa 6 trang thông tin</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Không</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 18pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">○</span></p>
      </td>
      </tr>
      <tr style="height: 0pt;">
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Bài viết giới thiệu trên trang chủ, email magazine</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Không</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 18pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">○</span></p>
      </td>
      </tr>
      <tr style="height: 0pt;">
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Banner</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Không</span></p>
      </td>
      <td style="padding: 5pt 5pt 5pt 5pt; border: solid #000000 1pt;">
      <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 18pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">○</span></p>
      </td>
      </tr>
      </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" class="red_subhead">Lợi ích khi trở thành thành viên có phí của Fact-Link</td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top">Nếu đăng kí trở thành một thành viên trả phí, chúng tôi sẽ đem lại nhiều lợi ích PR cho công ty quý khách như:<br />
      <br />
      <span class="green_b">①Hiển thị trên top đầu của trang kết quả tìm kiếm</span><br />
      Để tăng lượng truy cập, thông tin công ty bạn sẽ được phân loại màu với vị trí hiển thị phía trên trong các kết quả tìm kiếm phân lọai ngành nghề của Fact-link. Đây là điểm khác biệt với các đối thủ cạnh tranh. Vị trí trên cùng của màn hình tìm kiếm sẽ làm bắt mắt người dùng, từ đó tỷ lệ truy cập sẽ được nâng cao đáng kể.
      <br />
        <br />
      <span class="green_b">②Giới thiệu trên trang đầu của Fact-link và gửi email quảng bá</span><br />
      Các thành viên có trả phí sẽ được giới thiệu định kỳ trên trang chủ của Fact-link. Thành viên được đăng trên trang chủ sẽ được nhìn thấy dễ dàng, làm nâng cao mức độ thu hút và nhận biết của doanh nghiệp, đồng thời sẽ nâng cao hiệu quả truy cập.<br />
      Ngoài ra, chúng tôi cũng giới thiệu các công ty thành viên trả phí trong tạp chí e-mail hàng tuần của chúng tôi gửi đến hơn 3.000 công ty thành viên<br />
        <br />
      <span class="green_b">③Nâng cao sự nhận biết bởi Banner quảng cáo</span><br />
      Banner quảng cáo có thể PR các sản phẩm chủ lực và các hình ảnh công ty mà ngôn từ khó thể hiện hết. Việc đặt 1 banner có sức tác động ở vị trí dễ nhìn thấy sẽ làm tăng sự nhận biết của doanh nghiệp qua hiển thị trực quan. Từ việc có thể truy cập dễ dàng, tỉ lệ truy cập đến trang của công ty bạn sẽ gia tăng.<br />
        <br />
        <span class="green_b">④Sử dụng như trang web riêng của công ty bạn</span><br />
        Chuyên viên Fact-link sẽ tư vấn, hỗ trợ khách hàng tạo và cập nhật các trang như trang thành phần, layout .v.v. dựa trên những thông tin khách hàng cung cấp. Ngoài ra, khách hàng cũng được cung cấp và sử dụng mẫu liên hệ. Khách truy cập sẽ liên hệ với công ty bạn khi ngẫu nhiên vào xem trang web.
        <br />
        <br />
        Không chỉ được tận dụng như là 1 trang dành cho ngành công nghiệp sản xuất tại Việt Nam mà Fact-link còn giúp ích cho khách hàng như là một công cụ quảng cáo trên internet cho công ty. Xin vui lòng <a href="contact.php">liên hệ</a> với chúng tôi, các nhân viên người Nhật sẽ nhanh chóng tư vấn cho bạn qua điện thoại hoặc email.
    </td>
  </tr>
  <tr>
    <td><strong><br><br>● Thông tin công ty Fact-Link<br><br></strong></td>
  </tr>
  <tr>
    <td>
      <table width="795" style="border: none; border-collapse: collapse;">
        <tbody>
        <tr style="height: 0pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Tên công ty</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Công ty TNHH Fact Link Marketplace</span></p>
        </td>
        </tr>
        <tr style="height: 0pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Người đại diện</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Yukiko Yazumi</span></p>
        </td>
        </tr>
        <tr style="height: 0pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">MST</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">0313 560 828</span></p>
        </td>
        </tr>
        <tr style="height: 0pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Địa chỉ ĐKKD</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">L18-11-13, Tầng 18, Tòa nhà Vincom Center Đồng Khởi, 72 Lê Thánh Tôn, Phường Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</span></p>
        </td>
        </tr>
        <tr style="height: 0pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Văn phòng</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">602/43 Điện Biên Phủ, Phường 22, Quận Bình Thạnh, TPHCM</span></p>
        </td>
        </tr>
        <tr style="height: 0pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Điện thoại</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">0888 767 138</span></p>
        </td>
        </tr>
        <tr style="height: 20pt;">
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Email</span></strong></p>
        </td>
        <td style="padding: 5pt 5pt 5pt 5pt; border: solid #999999 1pt;">
        <p style="line-height: 1.2; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">info@fact-link.com.vn</span></p>
        </td>
        </tr>
      </tbody>
      </table>
    </td>
  </tr>
</table>
