<table width="795" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><strong>Fact-link Vietnam</strong> is an epoch-making site for company introduction related to manufacturing placed
      in Vietnam.
      Initially it has set up as an E-commerce trading floor for Japanese manufacturing in Vietnam, in near 
      future  we will offer service of supporting manufacturing as wide range of network connect 
      local and foreign-affiliated company with Japanese company. <br />
      <br />
      <strong>Fact-link Vietnam</strong> has been providing beneficial company information to the customers that have registered 
        already. Appeared informations are basic information such as Business Description, Products &amp; Services,
        Location, Contact address and also information relevant to manufacturing,  such as Industrial 
  Estate.<br />
        <br />
        ● Update basic information and insert image of picture, introduction and PR by your own.<br />
        <br />
      ● Able to change 24H/365days from management screen refer to registration and company <br />
        profile.<br />
        <br />
        ● Easy search, making use of search function.
      It is classified as Industry, Province, Industrial Estate.<br />
        <br />
        <a href="touroku.php"><strong>Register Now (It's FREE) &gt;&gt;</strong></a></td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" class="red_subhead">Product and technical appeal more specificly !</td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top">As a matter of fact, some can not afford to creat HP which needs expertise under the circumstance of daily busy work and have limited PR budget. If you apply for premium service of Fact-link, it can be used not only for appearing company 
      information, but also for PR your company’s products and services, adding pages freely with affordable price.<br />
      <br />
      <span class="green_b">Use as your website</span><br />
      Fact-link staff support to create and update pages (page composition, layout), consulting <br />
        based on customer information. We also provide inquiry form, visitor would be able to contact you casually.<br />
        <br />
        <span class="green_b">High-ranking display</span><br />
        It classifies by colored marking with high-rank display in boss in category and province classification so that it could distinguish your company from any competitors.
  High-rank display catch visitors eye with ease and then access rate may be improves greatly.<br />
        <br />
        <span class="green_b">Introduce on Fact-link top page</span><br />
        Only premium membership might be spotlighted on top page regularly.
      Increase number of accesses can be expected.<br />
        <br />
        <span class="green_b">Banner advertisement</span><br />
&quot;Easy-to-see banner&quot; stands out on top page, indeed. It helps visible PR some products which is hard to express in word. Going up level of company recognition, increase access rate can be also expected.<br />
        <br />
        <strong>Fact-link</strong> can play a part not only for E-commerce trading floor of manufacturing in Vietnam, but also for <br />
        advertisement tool on internet.
        Please feel free to contact us, we have Japanese staff to talk with you by <a href="contact.php">contact form</a> or 
    on phone.</td>
  </tr>
</table>
