<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="795" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"> Sau khi đăng ký, hãy đăng nhập để tạo trang Hồ sơ công ty. (<a href="manual_02.php">Xin vui lòng nhấp chuột vào đây để xem cách tạo trang Hồ sơ công ty</a>). Chú ý: Không thể tạo trang khác khi chưa tạo trang Hồ sơ công ty.<br />
<br />
    Nếu bạn chưa đăng ký, <a href="touroku.php">xin vui lòng nhấp chuột vào đây.</a></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="795" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><p><img src="images/img_manual_primary_00_vn.png" width="200" height="300" class="colimg-defright" /><strong>Thông tin người dùng</strong><br />
      Thể hiện thông tin thành viên, phân loại thành viên, ngày đăng ký, ngày ký hợp đồng (thành viên tiêu chuẩn)
      <br />
      <br />
        <strong>Chỉnh sửa hồ sơ</strong><br />
      Chỉnh sửa thông tin thành viên như: Tên công ty, tên người phụ trách, địa chỉ, số điện thoại, email.v.v.<br />
      <br />
        <strong>Thay đổi mật khẩu</strong><br />
      Thay đổi mật khẩu để truy cập hệ thống.
      <br />
      <br />
      <strong>Đăng xuất</strong><br />
      Đăng xuất ra khỏi hệ thống.<br />
      <br />
      <strong>Quản lý trang</strong><br />
        Xin vui lòng vào màn hình quản lý trang. Trong quản lý trang có 5 mục phân trang bao gồm: Hồ sơ công ty, Trang chủ, Nội dung chi tiết, Trang trưng bày, Liên hệ. Người dùng có thể tạo các trang có các hình ảnh và thông tin về hồ sơ công ty của thành viên, sản phẩm, dịch vụ .v.v.<br />
        <a href="#page">(Xin vui lòng nhấp chuột vào đây để xem chi tiết)</a>        <br />
        <br />
        <strong>Thay đổi giao diện</strong><br />
        Thay đổi giao diện thiết kế chính (layout) với danh sách giao diện trong hệ thống. Đây là cách tạo điểm nhấn riêng cho các thành viên.<br />
        <a href="#template">(Xin vui lòng nhấp chuột vào đây để xem chi tiết)</a><br />
        <br />
        <strong>Hộp thư đến</strong><br />
        Danh sách e-mail yêu cầu tới trang liên hệ của các thành viên sẽ được lưu giữ ở đây.
        <br />
      <br />
      <strong>Hộp thư đi</strong><br />
      Danh sách e-mail đã được gửi, trả lời sẽ được lưu giữ ở đây.<br />
      <br />
        <strong>Soạn thư</strong><br />
        Soạn và gửi mail đến các địa chỉ muốn gửi thông qua hệ thống Fact-link.<br />
        <br />
        <strong>Hỗ trợ</strong><br />
        Gửi yêu cầu hỗ trợ hoặc câu hỏi tới nhân viên Fact-link.</p>
    </td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_02.png" width="795" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><p><img src="images/img_manual_primary_01.png" width="300" height="138" class="colimg-defleft" /><a name="page" id="page"></a>      <strong>Quản lý trang</strong><br />
      Bảng quản lý trang có 5 mục bao gồm: Hồ sơ công ty, Trang chủ, Nội dung chi tiết, Trang trưng bày, Liên hệ. Người dùng có thể tạo các trang có các hình ảnh và thông tin với 3 ngôn ngữ hỗ trợ là Nhật – Việt – Anh. Bạn có thể thấy 3cột có khung đỏ như hình bên, mỗi cột sẽ đại diện cho ngôn ngữ tương ứng. Có các công cụ quản lý cho mỗi ngôn ngữ.<br />
      <br />
      <img src="images/icon_create_01.png" width="70" height="30" align="absmiddle" /> Tạo trang <img src="images/icon_view_01.png" width="20" height="20" align="absmiddle" /> Xem <img src="images/icon_edit_01.png" width="20" height="20" align="absmiddle" /> Chỉnh sửa <img src="images/icon_expand_01.png" width="20" height="20" align="absmiddle" /> Bổ sung<br />
      <br />
      <strong></span>Một số quy tắc khi tạo trang</strong><br />
      - Phải tạo trang Hồ sơ công ty trước.<br />
      - Riêng trang nội dung chi tiết và trang trưng bày có thể tạo thêm các trang bổ sung.<br />
      - Các trang Hồ sơ công ty, Trang chủ, trang Trưng bày, Liên hệ chỉ có thể được tạo 1 lần duy nhất, còn Trang nội dung chi tiết có thể được tạo với số lượng không giới hạn.<br />
      - Ngoại trừ trang Hồ sơ công ty, các trang còn lại có thể để ở chế độ hiển thị hoặc không hiển thị.</p>
    </td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="795" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><p><img src="images/img_manual_primary_04.png" width="300" height="225" class="colimg-defleft" /><a name="template" id="page2"></a>      <strong>Thay đổi giao diện</strong><br />
      Thành viên tiêu chuẩn có thể thay đổi giao diện thiết kế chính (layout) bằng cách chọn trong danh sách giao diện trong hệ thống. </p>
      <p>Đây là cách tạo điểm nhấn riêng cho các thành viên.</p>
      </td>
  </tr>
</table>
