<link href="flc_css.css" rel="stylesheet" type="text/css" /><table width="795" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><img src="images/img_manual_present_01.png" width="300" height="138" class="colimg-defright" />      プレゼンテーションはホームにあるキーパネルのように、3つの枠の中に内容を掲載してください。このページでは横並びに3つの枠を作成し、(少なくとも１つ以上は作る)どの枠にテキストを入れ、どの枠に画像を入れるのかを決めてください。<br />
      <br />
      プレゼンテーションは、会社概要を作成しなければ、作成することができません。<br />
      <br />
      ご希望の言語を選択し、作成ボタンをクリックしてください。<br />      </td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="795" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><p><img src="images/img_manual_present_02.png" width="300" height="138" class="colimg-defright" /><strong>+メニューに表示する名称</strong><br />
      内容に付随するようメニュー名を設定して下さい。<br />
      <br />
      <strong>+タイトルバーに表示する名称</strong><br />
      通常は「会社名」とします。ここは初期設定なので自由に入力することができます。<br />
      <br />
      <strong>+表示順</strong><br />
      メニューの表示順序を半角英数字で入力してください。0-10昇順で表示されます。<br />
      <br />
      内容に見合ったタイトルを作成し、関連写真をアップロードして下さい。アップロードできるファイルはJPG・PNGファイルのみとなっております。<br />
        <br />
        <strong>プレゼンテーションボックスのレイアウト</strong><br />
        リストからレイアウトを選択してください。<br />
        ご記入し終えましたら、保存ボタンをクリックしてください。<span class="red_b"><br />
        </span><br />
        <strong>注記</strong><br />
        - <strong>* </strong>マークはご記入必須項目です。<br />
    - 灰色のテキストボックスは3言語共通項目です。</p>
      </td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="795" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_present_03.png" width="300" height="135" class="colimg-defright" />        保存し終えましたら、ページ管理コントロールパネルに戻ってください。先ほど作成したページのページ名がアイコンと共に表示されます。<br />
        <br />
        <img src="images/icon_view_01.png" width="20" height="20" align="absmiddle" />参照<br />
        <img src="images/icon_edit_01.png" width="20" height="20" align="absmiddle" />編集<br />
        <img src="images/icon_expand_01.png" width="20" height="20" align="absmiddle" />追加<br />
        <br />      <img src="images/icon_expand_01.png" width="20" height="20" align="absmiddle" />内容を追加するには　をクリックしてください。 </td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="795" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_present_04.png" width="300" height="247" class="colimg-defright" />プレゼンテーションボックスは上段にリスト、下段にフォームの2つに分かれています。<br />
      <br />
      3つのプレゼンテーションボックスそれぞれどの枠にテキストを入れ、どの枠に画像を入れるのかを決めてください。<br />
        <br />
        <strong>+表示順序</strong><br />
      プレゼンテーションボックスの表示順を入力してください。0-10昇順で表示されます。<br />
      <br />
      テキスト枠はタイトル、タイトル色、内容詳細と同様ロックされません。<br />
      <br />
      画像枠もロックされなく、画像の最大幅は220ピクセル、JPG・PNGファイルのみとなっております。<br />
      <br />
      ご記入し終えたら、下部にある保存ボタンをクリックしてください。先ほど保存したコラムの詳細がリストの中に表示されます。<br />
      <br />
      ページ管理コントロールパネルに戻りたい場合、フォームの右上にある戻るボタンをクリックしてください。<br />
      <br />
        <strong>注記</strong><br />
- <strong>* </strong>マークはご記入必須項目です。<br />
- 灰色のテキストボックスは3言語共通項目です。    </td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="795" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_present_05.png" width="250" height="223" class="colimg-defleft" /><img src="images/icon_view_01.png" width="20" height="20" align="absmiddle" /> クリックすると確認ページが参照されます。<br />
        <img src="images/icon_edit_01.png" width="20" height="20" align="absmiddle" /> クリックすると編集することが可能です。<br />
        <br />
ページが表示されないようでしたら、キーボード上のＦ5「更新」ボタンを押し、ページを再読み込みしてください。    </td>
  </tr>
</table>
