<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="795" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><img src="images/img_manual_home_01.png" width="300" height="138" class="colimg-defright" />ホームは取扱い製品、サービス等、会社概要の概略を掲載します。多くの方がご覧になるページとなりますので、最も大切なページだと言えます。<br />
        <br />
      ホームには写真、文章の他、横に並ぶ3つのビジネスキーパネル(会社方針、モットーなど)と、縦に並ぶ3つのアピール(主要な製造ライン)などが掲載できます。<br />
      <br />
      会社概要を作成しなければホームは作成することができません。<br />
      <br />
      ご希望の言語を選択し、作成ボタンをクリックしてください。
    </td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><p><img src="images/img_manual_home_02.png" width="300" height="138" class="colimg-defright" /><strong>+メニューに表示する名称</strong><br />
        ホームは初期設定ですので、自由に入力することができます。<br />
        <br />
        <strong>+タイトルバーに表示する名称</strong><br />
        ここは初期設定ですので、自由に入力することができます。通常は「会社名」を入力します。<br />
        <br />
        <strong>+表示順</strong><br />
      メニューの表示順序を半角英数字で入力してください。0-10昇順で表示されます。<br />
      <br />
        <strong>+タイトル、内容、画像</strong><br />
    内容に見合ったタイトルをを作成し、関連写真をアップロードしてください。<br />
アップロードできるファイルはJPG・PNGのみとなっております。</p>
      <p><strong>+3つのビジネスキーパネル<br />
        </strong>会社方針、モットー、製造基準などの情報を掲載します。リストからデザインパターン(レイアウト)を変更することができます。<br />
        <br />
        <strong>+3つのアピール</strong><br />
        主な製造ライン、独自の製品、作業工程、ISO取得などの特別情報及び写真を掲載します。<br />
        <br />
        ご記入し終えましたら、フォーム下の保存ボタンをクリックしてください。<br />
        <br />
        <strong>注記</strong><br />
        - <strong>*</strong> マークはご記入必須項目です。<br />
    - 灰色のテキストボックスは3言語共通項目です。 </p>
    </td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_home_03.png" width="250" height="306" class="colimg-defleft" /><img src="images/icon_view_01.png" width="20" height="20" align="absmiddle" /> クリックすると確認ページが参照されます。<br />
        <img src="images/icon_edit_01.png" width="20" height="20" align="absmiddle" /> クリックすると編集することが可能です。<br />
        <br />
ページが表示されないようでしたら、キーボード上のＦ5「更新」ボタンを押し、ページを再読み込みしてください。
    </td>
  </tr>
</table>
