<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="560" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><img src="images/img_manual_home_01.png" width="300" height="138" class="colimg-defright" />Trang chủ là trang khái quát thông tin về công ty, sản phẩm hay dịch vụ, tầm nhìn sứ mệnh .v.v. Đây là trang quan trọng có thể làm cho khách truy cập hiểu về công ty của bạn bằng cách chỉ đọc qua trang này.<br />
        <span class="red_n"><br />
      </span>Trong trang chủ, ngoài các đoạn văn và hình ảnh, còn có &quot;Tiêu đề 3 key panel&quot; được sắp xếp theo hàng ngang (chính sách công ty, phương châm .v.v.) và &quot;Tiêu đề 3 yêu cầu&quot; được sắp xếp theo chiều dọc (như dây chuyền sản xuất chính) .v.v.<br />
      <span class="red_n"><br />
      </span>Không thể tạo Trang chủ nếu chưa tạo trang Hồ sơ công ty trước.<br />
      <br />      Nhấp chuột vào nút &quot;CREAT&quot; ở cột ngôn ngữ mà bạn muốn đăng.</td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_home_02.png" width="300" height="138" class="colimg-defright" /><strong>+ Tên Menu</strong><br />
&quot;Trang chủ&quot; là mặc định, nhưng bạn có thể thay đổi theo ý bạn muốn.<br />
      <br />      <strong>+ Tên thanh tiêu đề</strong><br />
Phần này cũng được mặc định từ đầu nhưng bạn có thể thay đổi theo ý bạn. Thông thường là điền 「Tên công ty」<br />
      <br />      <strong>+ Thứ tự</strong><br />
Hãy điền số hiển thị thứ tự trang ở phần mục lục. Sắp xếp theo thứ tự tăng dần từ 0 đến 10.<br />
      <br />      <strong>+ Tiêu đề, Chi tiết, Hình ảnh</strong><br />
Bạn có thể tạo Tiêu đề phù hợp với nội dung phần Chi tiết và đăng các hình ảnh liên quan. Chỉ có thể đăng hình có đuôi JPG và PNG.<br />
      <br />      <strong>+ Tiêu đề 3 key panel</strong><br />
      Bạn có thể đăng các thông tin như: tầm nhìn, phương châm làm việc, tiêu chuẩn sản xuất, .v.v. Bạn có thể thay đổi thiết kế của bảng tiêu đề (layout) từ danh sách trong hệ thống.<br />
      <br />      <strong>+ Tiêu đề 3 yêu cầu</strong><br />
      Bạn có thể đăng các thông tin và hình ảnh nổi bật như dây chuyền sản xuất chính, sản phẩm chủ đạo, quy trình làm việc, đạt được chứng chỉ ISO, .v.v.<br />
      <br />      Nhấp chuột vào nút &quot;SAVE&quot; ở phía cuối trang khi bạn hòan tất việc đăng thông tin.<br />
      <span class="red_n"><br />
      </span><strong>Chú ý:</strong><br />
- Các khung văn bản có dấu * là các mục bắt buộc phải điền thông tin vào.<br />
- Các khung văn bản có nền màu xám là các mục được dùng chung cho cả 3 ngôn ngữ.</td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_home_03.png" width="250" height="306" class="colimg-defleft" /> <img src="images/icon_view_01.png" width="20" height="20" align="absmiddle" /> Khi nhấp chuột vào, bạn có thể xem trước thông tin sẽ đăng<br />      
      <img src="images/icon_edit_01.png" width="20" height="20" align="absmiddle" /> Khi nhấp chuột vào, bạn có thể chỉnh sửa thông tin đã đăng.<br />
<br />
Nếu kết quả không hiển thị, hãy nhấn phím F5 trên bàn phím của<br />
bạn để làm mới trình duyệt của bạn.</td>
  </tr>
</table>
