<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="560" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><img src="images/img_manual_present_01.png" width="300" height="138" class="colimg-defright" />Ở trang trưng bày (Presentation) bạn có thể đăng thông tin trong 3 khung dữ liệu tương tự như bảng &quot;Tiêu đề 3 key panel&quot; trong trang chủ. Bạn có thể tạo ra 3 khung dữ liệu sắp xếp theo hàng ngang và chọn khung nào để đăng hình ảnh, khung nào để nhập văn bản (tạo ít nhất 1 khung cho phần văn bản).<br />
        <br />
      Không thể tạo Trang trưng bày (Presentation) nếu chưa tạo trang Hồ sơ công ty trước.<br />
      <br />      Nhấp chuột vào nút &quot;CREAT&quot; ở cột ngôn ngữ mà bạn muốn đăng.</td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_present_02.png" width="300" height="138" class="colimg-defright" /><strong>+ Tên Menu</strong><br />
Hãy đặt tên Menu liên quan đến nội dung sẽ đăng.<br />
      <br />      <strong>+ Tên thanh tiêu đề</strong><br />
Phần này cũng được mặc định từ đầu nhưng bạn có thể thay đổi theo ý bạn. Thông thường là điền 「Tên công ty」<br />
      <br />      <strong>+ Thứ tự</strong><br />
Hãy điền số hiển thị thứ tự trang ở phần mục lục. Sắp xếp theo thứ tự tăng dần từ 0 đến 10.<br />
      <br />      <strong>+ Tiêu đề, Chi tiết, Hình ảnh</strong><br />
Bạn có thể tạo Tiêu đề phù hợp với nội dung phần Chi tiết và đăng các hình ảnh liên quan. Chỉ có thể đăng hình có đuôi JPG và PNG.<br />
      <br />      <strong>+ Giao diện Presentation</strong><br />
      Bạn có thể chọn từ danh sách trong hệ thống..<br />
      <br />      Nhấp chuột vào nút &quot;SAVE&quot; ở phía cuối trang khi bạn hòan tất việc đăng thông tin.<br />
      <br />      <strong>Chú ý:</strong><br />
- Các khung văn bản có dấu * là các mục bắt buộc phải điền thông tin vào.<br />
- Các khung văn bản có nền màu xám là các mục được dùng chung cho cả 3 ngôn ngữ.</td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_present_03.png" width="300" height="135" class="colimg-defright" />Khi đã điền đầy đủ nội dung trang, hãy trở về màn hình Quản lý trang. Tên trang bạn vừa lưu sẽ được xuất hiện với một số biểu tượng tùy chọn:<br />
        <br />
      <img src="images/icon_view_01.png" width="20" height="20" align="absmiddle" /> Xem<br />
      <img src="images/icon_edit_01.png" width="20" height="20" align="absmiddle" /> Chỉnh sửa<br />
        <img src="images/icon_expand_01.png" width="20" height="20" align="absmiddle" /> Bổ sung trang<br />
      <br />      
      Nhấp chuột vào <img src="images/icon_expand_01.png" width="20" height="20" align="absmiddle" /> để bổ sung thêm nội dung cần đăng.</td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><p><img src="images/img_manual_present_04.png" width="300" height="247" class="colimg-defright" />Mục quản lý được chia thành hai phần: danh sách các cột ở phần trên và phần biểu mẫu đăng nội dung ở phía dưới.</p>
      <p>Cách đăng các trang bổ sung giống như phần trên.<br />
        <br />
        Nếu bạn muốn quay trở lại màn hình quản lý trang, hãy nhấp chuột vào nút &quot;Quay lại&quot; ở bên phải phía trên phần biểu mẫu.<br />
        <br />
        <strong>Chú ý:</strong><br />
        - Các khung văn bản có dấu * là các mục bắt buộc phải        điền thông tin vào.<br />
        - Các khung văn bản có nền màu xám là các mục được        dùng chung cho cả 3 ngôn ngữ.</p>
    </td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_present_05.png" width="250" height="223" class="colimg-defleft" /> <img src="images/icon_view_01.png" width="20" height="20" align="absmiddle" /> Khi nhấp chuột vào, bạn có thể xem trước thông tin sẽ đăng<br />      
      <img src="images/icon_edit_01.png" width="20" height="20" align="absmiddle" /> Khi nhấp chuột vào, bạn có thể chỉnh sửa thông tin đã đăng.<br />
<br />
Nếu kết quả không hiển thị, hãy nhấn phím F5 trên bàn phím của<br />
bạn để làm mới trình duyệt của bạn.</td>
  </tr>
</table>
