<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="795" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"> After registered, please log in to create Company Profile Page (<a href="manual_02.php">click here to   read how to create</a>). Other page cannot be created if Company Profile is not   available.<br />
<br />
    If you haven't registered before, <a href="touroku.php">please click here.</a></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="795" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><p><img src="images/img_manual_primary_00_en.png" width="200" height="300" class="colimg-defright" /><strong>User Information</strong><br />
      Show member information, type of member, registered date, contract date (Basic   Member)
      <br />
      <br />
        <strong>Edit Profile</strong><br />
      Edit member information such as Company name, Contact name, Address, Tel,   E-mail, etc.<br />
      <br />
        <strong>Change Password</strong><br />
      Change password to access the system.
      <br />
      <br />
      <strong>Logout</strong><br />
      Logout from system.<br />
      <br />
      <strong>Page Management</strong><br />
        Enter to Page Management Control Panel. There are 5 types of pages that are   Company Profile, Home, Content, Presentation, Inquiry. User can create pages   that contain pictures and information about member's company profile, product,   service etc.<br />
        <a href="#page">(Click here for more information.)</a>        <br />
        <br />
        <strong>Change Template</strong><br />
        Change design of main template from the list in system. This is for making   unique style for each member.<br />
        <a href="#template">(Click here for more information.)</a><br />
        <br />
        <strong>Mail - Inbox</strong><br />
        List of incoming inquiry from Inquiry Page of member is stored here.
        <br />
      <br />
      <strong>Mail - Outbox</strong><br />
      List of sent out mail, reply of inquiry.
      <br />
      <br />
        <strong>Mail - Compose</strong><br />
        Make mail and send to desired destination e-mail, via Fact-Link system.<br />
        <br />
        <strong>Support Form</strong><br />
        Send support requirement or inquiry to Fact-Link's staffs.</p>
    </td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_02.png" width="795" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><p><img src="images/img_manual_primary_01.png" width="300" height="138" class="colimg-defleft" /><a name="page" id="page"></a>      <strong>Page Management</strong><br />
      Page Management Control Panel. There are 5 types of pages that are Company   Profile, Home, Content, Presentation, Inquiry. User can create pages that   contain pictures and informations using 3 supported languages - Japanese, Vietnamese,   English. As you can see 3 red frames in the picture, in each column means each   language. There are tools for manage in each language.<br />
      <br />
      <img src="images/icon_create_01.png" width="70" height="30" align="absmiddle" /> Create <img src="images/icon_view_01.png" width="20" height="20" align="absmiddle" /> View <img src="images/icon_edit_01.png" width="20" height="20" align="absmiddle" /> Edit <img src="images/icon_expand_01.png" width="20" height="20" align="absmiddle" /> Expand<br />
      <br />
      <strong></span>Rule for creating pages</strong><br />
      - Company Profile shall be created first.<br />
      - Expand detail is for Content and   Presentation only.<br />
      - Content Page can create unlimited. Company Profile, Home,   Presentation, Inquiry can create only once.<br />
      - Any pages except Company   Profile can turn on - off.</p>
    </td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="795" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><p><img src="images/img_manual_primary_04.png" width="300" height="225" class="colimg-defleft" /><a name="template" id="page2"></a>      <strong>Change Template</strong><br />
      Basic Member can change main template design of pages by selecting from the list   in system. This is for making unique style for each member. <br />
      <br />
      Template design   will be increased in the future.</p>
      </td>
  </tr>
</table>
