<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="560" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><img src="images/img_manual_present_01.png" width="300" height="138" class="colimg-defright" />Presentation page will present data in 3 box, similar to Key panel in Home Page. In this page, you can create row of 3 box more than 1. And you can choose which box is for text and which box is for image.<br />
        <br />
      Presentation cannot create if Company Profile is not available.<br />
      <br />      Click 'Create' button in the column of language you wish to create.</td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_present_02.png" width="300" height="138" class="colimg-defright" /><strong>+ Menu Name</strong><br />
Desire menu name relate to content.<br />
      <br />      <strong>+ Title Bar Name</strong><br />
Your company name is default, but you can change as you desire.<br />
      <br />      <strong>+ Order No.</strong><br />
Fill in the order number of menu that will be shown in any pages. Sort by min-to-max.<br />
      <br />      <strong>+ Title, Detail, Image</strong><br />
You can create paragraph about prologue of follow content. And also upload related picture. Only JPG and PNG file will be allowed.<br />
      <br />      <strong>+ Presentation Box Pattern</strong><br />
      Select pattern from the list in system.<br />
      <br />      Click 'SAVE' button at the bottom of form when you finish.<br />
      <br />      <strong>Remark</strong><br />
- Every textbox that has <strong>*</strong> in front of label is required information.<br />
- Every textbox that has grey background is global value that will be used for all language.</td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_present_03.png" width="300" height="135" class="colimg-defright" />When you finish, back to Page Management Control Panel. The name of page you just created and some option will be appeared.<br />
        <br />
        <img src="images/icon_view_01.png" width="20" height="20" align="absmiddle" /> View <br />
        <img src="images/icon_edit_01.png" width="20" height="20" align="absmiddle" />Edit<br />
        <img src="images/icon_expand_01.png" width="20" height="20" align="absmiddle" />Add Detail<br />
      <br />      
      Click <img src="images/icon_expand_01.png" width="20" height="20" align="absmiddle" /> to add presentation box.</td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><p><img src="images/img_manual_present_04.png" width="300" height="247" class="colimg-defright" />Presentation Box Management split into 2 sections. List Section on the top and Form Section on the bottom.<br />
      <br />
      Each row combine with 3 of presentation box that you can choose which one for text or image<br />
        <br />
        <strong>+ Order No.</strong><br />
Fill in the order number of Presentation Box. Sort by min-to-max.These will become to row name.<br />
        <br />
        <strong>+ Presentation Box</strong><br />
        If you choose Text Box, all field related will be unlocked such as : Title, Title color, Detail<br />
        If you choose Image Box, all filed related will be unlocked, the maximum width of image is 220 Pixels, only .jpg and .png are allowed.<br />
        <span class="red_n"><br />
        </span>Click 'SAVE' button at the bottom of form when you finish. The Detail Column you just saved will be appeared in the List Section.<br />
        <br />
        If you would like back to Page Management Control Panel, please click 'Back' at the top-right corner of Form Section.<br />
        <br />
        <strong>Remark</strong><br />
- Every textbox that has <strong>*</strong> in front of label is required information.<br />
- Every textbox that has grey background is global value that will be used for all language.</p>
    </td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_present_05.png" width="250" height="223" class="colimg-defleft" />Can view the result page by click <img src="images/icon_view_01.png" width="20" height="20" align="absmiddle" /><br />
and edit by click <img src="images/icon_edit_01.png" width="20" height="20" align="absmiddle" /><br />
<br />
If the result doesn't show, please refresh your browser by hit F5 button on your keyboard.</td>
  </tr>
</table>
