<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="560" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><img src="images/img_manual_content_01.png" width="300" height="138" class="colimg-defright" />        内容詳細ページは製品の詳細、経営活動、機械＆作業工程など表示させたい情報を載せることができます。内容詳細ページは無制限に作成することが可能です。<br />
        <br />
      会社概要を作成しなければ、内容詳細ページは作成することができません。<br />
      <br />
      ご希望の言語を選択し、作成ボタンをクリックしてください。 
    </td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_content_02.png" width="300" height="138" class="colimg-defright" /><strong>+メニューに表示する名称</strong><br />
      内容詳細に付随するメニュー名を設定しください。<br />
        <br />
        <strong>+タイトルバーに表示する名称</strong><br />
        ここは初期設定なので、自由に入力できます。通常は「会社名」となります。<br />
        <br />
        <strong>+表示順序</strong><br />
  メニューの表示順序を半角英数字で入力してください。0-10昇順で表示されます。<br />
        <br />
        <strong>+タイトル、内容、画像<br />
        </strong>内容に見合ったタイトルをを作成し、関連写真をアップロードしてください。<br />
アップロードできるファイルはJPG・PNGのみとなっております。<br />
      <br />
    一連の作業が終わりましたら、フォーム下の保存ボタンをクリックしてください。<br />
        <br />
        <strong>注記</strong><br />
        - <strong>* </strong>マークはご記入必須項目です。<br />
      - 灰色のテキストボックスは3言語共通項目です。
    </td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_content_03.png" width="300" height="135" class="colimg-defright" />内容詳細ページをご記入し終えましたら、ページ管理のコントロールパネルに戻って下さい。<br />
      <br />
      保存したページ名がアイコンと共に表示されます。<br />
        <br />
        <img src="images/icon_view_01.png" width="20" height="20" align="absmiddle" />参照<br />
        <img src="images/icon_edit_01.png" width="20" height="20" align="absmiddle" />編集<br />
      <img src="images/icon_expand_01.png" width="20" height="20" align="absmiddle" />追加<br />
        <br />
        <img src="images/icon_expand_01.png" width="20" height="20" align="absmiddle" />内容を追加するには　をクリックしてください。
    </td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><p><img src="images/img_manual_content_04.png" width="300" height="247" class="colimg-defright" />    管理コラムは上段にリスト、下段にはフォームの2つのセクションに分かれています。<br />
        <br />
        <strong>+ 表示順</strong><br />
      コラムの表示順序を半角英数字で入力してください。0-10昇順で表示されます。<br />
    </p>
      <p><strong>+コラムのレイアウト</strong><br />
        コラムのレイアウトを選択してください <a href="#column">(レイアウトを選ぶにはここをクリックしてください)<br />
        </a><br />
        <strong>+コラムタイトル、コラムサブタイトル</strong><br />
        コラムのタイトルは記入必須です。コラムサブタイトルはコラムタイトルを補足説明します。コラムタイトル；製品名　コラムサブタイトル；製品説明<br />
        <br />
        <strong>+タイトルの色</strong><br />
        リストからタイトルの色を変更することができます。<br />
        <br />
      <strong>+タイトル、内容</strong><strong>、画像</strong><br />
      内容に見合ったタイトルをを作成し、関連写真をアップロードしてください。<br />
アップロードできるファイルはJPG・PNGのみとなっております。</p>
      <p>一連の作業が終わりましたら、フォーム下の保存ボタンをクリックしてください。保存したコラムの詳細が表示されます。<br />
        <br />
        ページ管理のコントロールパネルに戻りたい場合、フォーム右上の“戻る”ボタンをクリックしてください。 <br />
        <br />
        <strong>注記</strong><br />
        - <strong>* </strong>マークはご記入必須項目です。<br />
    - 灰色のテキストボックスは3言語共通項目です。 </p>
    </td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_content_09.png" width="250" height="223" class="colimg-defleft" /><img src="images/icon_view_01.png" width="20" height="20" align="absmiddle" /> クリックすると確認ページが参照されます。<br />
        <img src="images/icon_edit_01.png" width="20" height="20" align="absmiddle" /> クリックすると編集することが可能です。<br />
        <br />
ページが表示されないようでしたら、キーボード上のＦ5「更新」ボタンを押し、ページを再読み込みしてください。
    </td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_02.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><a name="column" id="column"></a><strong>コラムのレイアウト</strong><br /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/blank.png" width="560" height="5" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_content_06.png" width="250" height="78" class="colimg-defleft" /><strong>コラムスタイル</strong><br />
      コラムスタイル - 左 (ภาพชิดซ้าย)<br />
      コラムスタイル - 右 (ภาพชิดขวา)</td>
  </tr>
  <tr>
    <td valign="top"><img src="images/blank.png" width="560" height="5" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_content_07.png" width="250" height="50" class="colimg-defleft" /><strong>Plain Style</strong><br />
      Plain Style - Left (ภาพชิดซ้าย)<br />
      Plain Style - Right (ภาพชิดขวา)</td>
  </tr>
  <tr>
    <td valign="top"><img src="images/blank.png" width="560" height="10" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_content_08.png" width="250" height="58" class="colimg-defleft" /><strong>初期設定</strong><br />
      初期設定 - 左 (ภาพชิดซ้าย)<br />
      初期設定 - 右 (ภาพชิดขวา)</td>
  </tr>
</table>
