<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="795" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><img src="images/img_manual_profile_02.png" width="300" height="138" class="colimg-defright" />      会社概要を作成するには、まず右袖ログイン画面からログインし、その後左袖のメニューからページ管理に入ってください。<br />
      <br />
      ページ管理画面が表示されます。会社概要、ホーム、内容詳細、プレゼンテーション、お問い合わせの5つの項目に分かれています。<br />
      <br />
      初めてＨＰをご覧になる方は、まず最初に会社概要を作成してください。会社概要を作成しなければ、他のページは作成することができません。<br />
      <br />
    ご希望の言語を選択し、“作成”ボタンをクリックしてください。
      </td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><p><img src="images/img_manual_profile_01.png" width="300" height="216" class="colimg-defright" />テキストボックスに必要事項を記入してください。<br />
        <br />
        <strong>+ 会社名<br />
+ 会社スローガン<br />
          + 代表者名、役職<br />
          + 事業内容＆取扱い品目<br />
      + ご住所、電話番号、E-mailアドレス<br />
        <br />
        </strong>他、重要事項<strong><br />
        </strong><br />
        <strong>+ メニューに表示する名称</strong><br />
      通常は「会社情報」とします。ここは初期設定なので自由に入力することができます。<br />
      <br />
      <strong>+タイトルバーに表示する名称</strong><br />
      通常は「会社名」とします。ここは初期設定なので自由に入力することができます。<br />
      <br />
      <strong>+ページ表示順</strong><br />
メニューの表示順序を半角英数字で入力してください。0-10昇順で表示されます。<br />
        <br />
        <strong>+ タイトル、会社紹介、画像</strong><br />
    ○タイトル、会社紹介：会社概要の上部に表示される会社紹介及びそのタイトルについて文章を作成してください。</p>
      <p>○画像：会社、工場に関する写真、ロゴをアップロードできます。アップロードできるファイルはJPG、 PNGファイルのみとなっております。<br />
        <br />
        <strong>+ 事業内容</strong><br />
        会社について、取扱い製品、サービス内容など、いくつかキーワードをご記入ください。<br />
        <br />
        <strong>+ タイトル色、追加タイトル色</strong><br />
        システムにあるリストからタイトル色、追加タイトルの色を変更することができます。<br />
        <br />
        ご記入し終えましたら、フォーム下の保存ボタンをクリックしてください。<br />
        <br />
        <strong>注記</strong><br />
        -*マークは記入必須項目です。 <br />
    - 灰色のテキストボックスは3言語共通項目です。 </p>
    </td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_profile_03.png" width="300" height="138" class="colimg-defleft" />        保存し終えましたら、管理ページ画面にお戻りください。先ほど保存したページ名がアイコンと共に表示されます。
      <img src="images/icon_view_01.png" width="20" height="20" align="absmiddle" />参照<br />
        <img src="images/icon_edit_01.png" width="20" height="20" align="absmiddle" />編集<br />
        <br />
      サンプル写真、会社概要ページを参照してください。日本語コラムにあるアイコンが表示され、クリックすると作成、編集、参照が可能です。
      例えば、会社概要をタイ語で作成したい場合は、タイ語コラム(真ん中)にある「編集」ペンシルをクリックしてください。</td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_intro_01.png" width="250" height="176" class="colimg-defright" /><img src="images/icon_view_01.png" width="20" height="20" align="absmiddle" /> クリックすると確認ページが参照されます。<br />
      <img src="images/icon_edit_01.png" width="20" height="20" align="absmiddle" /> クリックすると編集することが可能です。<br />
        <br />
      ページが表示されないようでしたら、キーボード上のＦ5「更新」ボタンを押し、ページを再読み込みしてください。
    </td>
  </tr>
</table>
