<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="795" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><img src="images/img_manual_home_01.png" width="300" height="138" class="colimg-defright" />Home Page is for summary information about company, product or service, vision, etc. that can make visitor understand your company by reading only one page.<br />
        <span class="red_n"><br />
      </span>The strong point of Home Page is '3 Business Key Panel'  for showing company vision, work motto, etc. and '3 Appeal Things' for showing main product line, etc.<br />
      <span class="red_n"><br />
      </span>Home cannot be created if Company Profile is not available.<br />
      <br />      Click 'Create' button in the column of language you wish to create.</td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_home_02.png" width="300" height="138" class="colimg-defright" /><strong>+ Menu Name</strong><br />
'Home' is default, but you can change as you desire.<br />
      <br />      <strong>+ Title Bar Name</strong><br />
Your company name is default, but you can change as you desire.<br />
      <br />      <strong>+ Order No.</strong><br />
Fill in the order number of menu that will be shown in any pages. Sort by min-to-max.<br />
      <br />      <strong>+ Title, Detail, Image</strong><br />
You can create paragraph about prologue of follow content. And also upload related picture. Only JPG and PNG file will be allowed.<br />
      <br />      <strong>+ 3 Business Key Panel</strong><br />
      3 Panels for special highlight information such as vision, work motto, manufacturing standard, etc. You can change design of panel from list in system.<br />
      <br />      <strong>+ 3 Appeal Things</strong><br />
      3 detail columns you can add text and picture to create highlight information such as main product line, unique process or product, reward or certificate, etc.<br />
      <br />      Click 'SAVE' button at the bottom of form when you finish.<br />
      <span class="red_n"><br />
      </span><strong>Remark</strong><br />
- Every textbox that has <strong>*</strong> in front of label is required information.<br />
- Every textbox that has grey background is global value that will use for all language.</td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><img src="images/img_manual_home_03.png" width="250" height="306" class="colimg-defleft" />Can view the result page by click <img src="images/icon_view_01.png" width="20" height="20" align="absmiddle" /><br />
and edit by click <img src="images/icon_edit_01.png" width="20" height="20" align="absmiddle" /><br />
<br />
If the result doesn't show, please refresh your browser by hit F5 button on your keyboard.</td>
  </tr>
</table>
