<div class="panelcontent">
<div style="margin: 0px; padding: 0px; width: 760px; overflow: hidden;">
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0" style="table-layout: fixed;">
  <tr>
    <td>##pagdetail##</td>
  </tr>
   <tr>
    <td><img src="images/blank.png" width="760" height="9" /></td>
  </tr>
  <tr>
    <td bgcolor="##pagtitlecolor##"><img src="images/blank.png" width="760" height="2" /></td>
  </tr>
  <tr>
    <td><img src="images/blank.png" width="760" height="9" /></td>
  </tr>
  <tr>
    <td>
	<table width="760" border="0" cellspacing="0" cellpadding="0" style="
    table-layout: fixed;
">
      <tr>
        <td width="200" valign="top"><font color="##pagprfcolor##"><strong>##lb_comname##</strong></font></td>
        <td width="10" valign="top">&nbsp;</td>
        <td width="550" valign="top">##memcomnamefull##</td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><img src="images/line_h_02.png" width="760" height="10" /></td>
        </tr>
      <tr>
        <td valign="top"><font color="##pagprfcolor##"><strong>##lb_repname##</strong></font></td>
        <td valign="top">&nbsp;</td>
        <td valign="top">##memrepname##</td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><img src="images/line_h_02.png" width="760" height="10" /></td>
      </tr>
      <tr>
        <td valign="top"><font color="##pagprfcolor##"><strong>##lb_business##</strong></font></td>
        <td valign="top">&nbsp;</td>
        <td valign="top">##membusiness##</td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><img src="images/line_h_02.png" width="760" height="10" /></td>
      </tr>
      <tr>
        <td valign="top"><font color="##pagprfcolor##"><strong>##lb_product##</strong></font></td>
        <td valign="top">&nbsp;</td>
        <td valign="top">##memproduct##</td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><img src="images/line_h_02.png" width="760" height="10" /></td>
      </tr>
      ##memaddress##
      ##memtel##
      ##memmail##
      <tr>
        <td valign="top"><font color="##pagprfcolor##"><strong>##lb_url##</strong></font></td>
        <td valign="top">&nbsp;</td>
        <td valign="top">##memurl##</td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><img src="images/line_h_02.png" width="760" height="10" /></td>
      </tr>
      <tr>
        <td valign="top"><font color="##pagprfcolor##"><strong>##lb_establish##</strong></font></td>
        <td valign="top">&nbsp;</td>
        <td valign="top">##memestdate##</td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><img src="images/line_h_02.png" width="760" height="10" /></td>
      </tr>
      <tr>
        <td valign="top"><font color="##pagprfcolor##"><strong>##lb_capital##</strong></font></td>
        <td valign="top">&nbsp;</td>
        <td valign="top">##memcapital##</td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><img src="images/line_h_02.png" width="760" height="10" /></td>
      </tr>
      <tr>
        <td valign="top"><font color="##pagprfcolor##"><strong>##lb_parent##</strong></font></td>
        <td valign="top">&nbsp;</td>
        <td valign="top">##memparent##</td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><img src="images/line_h_02.png" width="760" height="10" /></td>
      </tr>
      <tr>
        <td valign="top"><font color="##pagprfcolor##"><strong>##lb_share##</strong></font></td>
        <td valign="top">&nbsp;</td>
        <td valign="top">##memshare##</td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><img src="images/line_h_02.png" width="760" height="10" /></td>
      </tr>
      <tr>
        <td valign="top"><font color="##pagprfcolor##"><strong>##lb_employee##</strong></font></td>
        <td valign="top">&nbsp;</td>
        <td valign="top">##mememployee##</td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><img src="images/line_h_02.png" width="760" height="10" /></td>
      </tr>
      <tr>
        <td valign="top"><font color="##pagprfcolor##"><strong>##lb_accdate##</strong></font></td>
        <td valign="top">&nbsp;</td>
        <td valign="top">##memaccdate##</td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><img src="images/line_h_02.png" width="760" height="10" /></td>
      </tr>
      <tr>
        <td valign="top"><font color="##pagprfcolor##"><strong>##lb_bank##</strong></font></td>
        <td valign="top">&nbsp;</td>
        <td valign="top">##membank##</td>
      </tr>
      <tr>
      <!-- =============== ใช้งานได้ คุณ คุวาดะ แจ้งให้ปิดไว้ ================== 
      
        <td colspan="3" valign="top"><img src="images/line_h_02.png" width="760" height="10" /></td>
      </tr>
      <tr>
        <td valign="top"><font color="##pagprfcolor##"><strong>BOI</strong></font></td>
        <td valign="top">&nbsp;</td>
        <td valign="top">##memboi##</td>
      </tr>
      -->
      <tr>
        <td colspan="3" valign="top"><img src="images/line_h_02.png" width="760" height="10" /></td>
      </tr>
      <tr>
        <td valign="top"><font color="##pagprfcolor##"><strong>ISO</strong></font></td>
        <td valign="top">&nbsp;</td>
        <td valign="top">##memiso##</td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><img src="images/line_h_02.png" width="760" height="10" /></td>
      </tr>
      <tr>
        <td valign="top"><font color="##pagprfcolor##"><strong>##lb_valcus##</strong></font></td>
        <td valign="top">&nbsp;</td>
        <td valign="top">##memvalcus##</td>
      </tr>
      <tr>
        <td colspan="3" valign="top"><img src="images/line_h_02.png" width="760" height="10" /></td>
      </tr>
      ##memcontent##
    </table>
	</td>
  </tr>
</table>
</div>
</div>

<!-- End mem_profile temp -->