<!--<meta http-equiv="refresh" content="1;URL=mem_profile.php?id=##memid##&page=##prfshowid##&lang=##langcode##" />-->
<script type="text/javascript">
            function noBack(){
                window.history.forward()
            }
             
            noBack();
            window.onload = noBack;
            window.onpageshow = function(evt) { if (evt.persisted) noBack() }
            window.onunload = function() { void (0) }
        </script>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>##pagdetail##</td>
  </tr>
   <tr>
    <td><img src="images/blank.png" width="760" height="9" /></td>
  </tr>
  <tr>
    <td bgcolor="##pagtitlecolor##"><img src="images/blank.png" width="760" height="2" /></td>
  </tr>
  <tr>
    <td><img src="images/blank.png" width="760" height="9" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td><div align="center">##inqalert##</div></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>