<table width="960" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="images/menu_jp.png" width="960" height="30" border="0" usemap="#Map" /></td>
  </tr>
</table>
<map name="Map" id="Map">
  <area shape="rect" coords="425,3,604,27" href="handbook/" target="_blank" />
  <area shape="rect" coords="629,3,748,27" href="news.php" />
  <area shape="rect" coords="771,3,879,27" href="contact.php" />
  <area shape="rect" coords="305,3,401,27" href="manual_01.php" />
  <area shape="rect" coords="122,3,280,27" href="intro.php" />
  <area shape="rect" coords="28,3,100,27" href="index.php" />
</map>

