<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="560" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top" class="red_head">Fact-Link เปลี่ยนระบบใหม่</td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top">Fact-Link.com ได้ปรับปรุงระบบใหม่ เมื่อวันที่ 1 กันยายน 2553 ที่ผ่านมา และ<span class="red_n">เรามีความจำเป็นต้องเปลี่ยนรหัสผ่านของสมาชิกทุกบริษัท เนื่องด้วยนโยบายความปลอดภัย </span>หากคุณคือผู้ที่รับผิดชอบในส่วนนี้ กรุณากรอกข้อมูลเดียวกันกับข้อมูลลงทะเบียนกับเราไว้ลงในแบบฟอร์มด้านล่างนี้ เราจะส่งรหัสผ่านใหม่ไปให้หลังจากที่ทางเราได้ตรวจสอบความถูกต้องของข้อมูลเรียบร้อยแล้ว<br />
    <br />
    เจ้าหน้าที่ Fact-Link ต้องขออภัยในความไม่สะดวกมา ณ ที่นี้</td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_02.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><table width="560" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10" valign="top"><img src="images/frame03_01.png" width="10" height="10" /></td>
        <td width="540" valign="top"><img src="images/frame03_02.png" width="540" height="10" /></td>
        <td width="10" valign="top"><img src="images/frame03_03.png" width="10" height="10" /></td>
      </tr>
      <tr>
        <td valign="top" background="images/frame03_04.png">&nbsp;</td>
        <td valign="top"><form id="formqf1add" name="formqf1add" method="post" enctype="multipart/form-data" action="qform_add_post.php" class="form_margin" onsubmit="return check_form('f_qf1add');">
            <table width="540" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="200"><div align="right"><span class="red_b">*</span><strong> ชื่อผู้ใช้</strong></div></td>
                <td width="10">&nbsp;</td>
                <td width="330"><input name="t_diresu" type="text" class="box_web" id="t_diresu" maxlength="30" /></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="10" /></td>
              </tr>
              <tr>
                <td><div align="right"><span class="red_b">*</span><strong> ชื่อบริษัท</strong></div></td>
                <td>&nbsp;</td>
                <td><input name="t_emanmoc" type="text" class="box_web" id="t_emanmoc" maxlength="85" /></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="10" /></td>
              </tr>
              <tr>
                <td><div align="right"><span class="red_b">*</span><strong> ชื่อผู้รับผิดชอบ</strong></div></td>
                <td>&nbsp;</td>
                <td><input name="t_tcatnoc" type="text" class="box_web" id="t_tcatnoc" maxlength="85" /></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="10" /></td>
              </tr>
              <tr>
                <td><div align="right"><span class="red_b">*</span><strong> อีเมล์</strong></div></td>
                <td>&nbsp;</td>
                <td><input name="t_liam" type="text" class="box_web" id="t_liam" maxlength="85" /></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="10" /></td>
              </tr>
              <tr>
                <td><div align="right"><span class="red_b">*</span><strong> เบอร์โทรศัพท์มือถือ</strong></div></td>
                <td>&nbsp;</td>
                <td><input name="t_elibom" type="text" class="box_web" id="t_elibom" maxlength="85" /></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="5" /></td>
                </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="grey_n">※เจ้าหน้าที่ Fact-Link ขออนุญาตติดต่อทางเบอร์โทรศัพท์มือถือ เืพื่อสอบถามเพิ่มเติมกรณีที่ข้อมูลไม่ตรงกับข้อมูลลงทะเบียน</td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="10" /></td>
              </tr>
              <tr>
                <td><div align="right"><span class="red_b">*</span><strong> เบอร์โทรศัพท์</strong></div></td>
                <td>&nbsp;</td>
                <td><input name="t_let" type="text" class="box_web" id="t_let" maxlength="85" /></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="10" /></td>
              </tr>

              <tr>
                <td><div align="right"><strong>รายละเอียดเพิ่มเติม / หมายเหตุ</strong></div></td>
                <td>&nbsp;</td>
                <td><textarea name="t_tnemmoc" class="box_multi_web" id="t_tnemmoc"></textarea></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/line_frame_02.png" width="540" height="20" /></td>
              </tr>
              <tr>
                <td colspan="3" class="red_subhead">แบบสอบถาม</td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/line_frame_02.png" width="540" height="20" /></td>
              </tr>
              <tr>
                <td colspan="3"><strong>Q1.</strong> คุณอยากให้ปรับปรุงส่วนใดเพิ่มเติมในเว็บไซต์ Fact-Link ?</td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="5" /></td>
              </tr>
              <tr>
                <td colspan="3"><table width="540" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" valign="top"><input name="q1_1" type="checkbox" id="q1_1" value="１．デザイン性を高くして欲しい。" /></td>
                    <td width="510" valign="top">1. อยากให้มีรูปแบบและการดีไซน์ที่สวยงามมากขึ้น</td>
                    </tr>
                  <tr>
                    <td valign="top"><input name="q1_2" type="checkbox" id="q1_2" value="２．機能性をアップして欲しい。" /></td>
                    <td valign="top">2. อยากให้มีฟังก์ชั่นการใช้งานมากกว่านี้</td>
                    </tr>
                  <tr>
                    <td valign="top"><input name="q1_3" type="checkbox" id="q1_3" value="３．使いやすさをよくして欲しい。" /></td>
                    <td valign="top">3. อยากให้ใช้งานง่ายกว่านี้</td>
                    </tr>
                  <tr>
                    <td valign="top"><input name="q1_4" type="checkbox" id="q1_4" value="４．もっと製造業の情報を充実して欲しい。" /></td>
                    <td valign="top">4. อยากให้มีข้อมูลอุตสาหกรรมครอบคลุมกว่านี้</td>
                    </tr>
                  <tr>
                    <td valign="top"><input name="q1_5" type="checkbox" id="q1_5" value="５．その他" onclick="javascript:if(document.formqf1add.q1_5.checked==true){document.formqf1add.q1_5_txt.disabled=false;}else{document.formqf1add.q1_5_txt.disabled=true;}"/></td>
                    <td valign="top">5. อื่นๆ (โปรดระบุ)</td>
                    </tr>
                  <tr>
                    <td valign="top">&nbsp;</td>
                    <td valign="top"><textarea name="q1_5_txt" class="box_multi_web2" id="q1_5_txt" disabled="true"></textarea></td>
                    </tr>

                </table></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/line_frame_01.png" width="540" height="20" /></td>
              </tr>
              <tr>
                <td colspan="3"><strong>Q2.</strong> คุณใช้งาน Fact-Link เพื่อวัตถุประสงค์ใด ?</td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="5" /></td>
              </tr>
              <tr>
                <td colspan="3"><table width="540" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" valign="top"><input name="q2_1" type="checkbox" id="q2_1" value="１．サプライヤーを探すのに使っている。" /></td>
                    <td width="510" valign="top">1. ค้นหาผู้ผลิต (Suppliers)</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q2_2" type="checkbox" id="q2_2" value="２．営業に利用している。" /></td>
                    <td valign="top">2. ขายสินค้า/บริการ</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q2_3" type="checkbox" id="q2_3" value="３．会社情報（電話番号など）を知るのに使っている。" /></td>
                    <td valign="top">3. ต้องการข้อมูลบริษัท (เบอร์โทรศัพท์)</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q2_4" type="checkbox" id="q2_4" value="４．情報収集に利用している。" /></td>
                    <td valign="top">4. รวบรวมข้อมูล</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q2_5" type="checkbox" id="q2_5" value="５．その他" onclick="javascript:if(document.formqf1add.q2_5.checked==true){document.formqf1add.q2_5_txt.disabled=false;}else{document.formqf1add.q2_5_txt.disabled=true;}"/></td>
                    <td valign="top">5. อื่นๆ (โปรดระบุ)</td>
                  </tr>
                  <tr>
                    <td valign="top">&nbsp;</td>
                    <td valign="top"><textarea name="q2_5_txt" class="box_multi_web2" id="q2_5_txt" disabled="true"></textarea></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/line_frame_01.png" width="540" height="20" /></td>
              </tr>
              <tr>
                <td colspan="3"><strong>Q3.</strong> คุณใช้งาน Fact-Link บ่อยแค่ไหน ?</td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="5" /></td>
              </tr>
              <tr>
                <td colspan="3"><table width="540" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" valign="top"><input name="q3_1" type="checkbox" id="q3_1" value="１．毎日サイトを利用している。" /></td>
                    <td width="510" valign="top">1. ใช้งานทุกวัน</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q3_2" type="checkbox" id="q3_2" value="２．週4～6日" /></td>
                    <td valign="top">2. 4-6 วัน ต่อ สัปดาห์</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q3_3" type="checkbox" id="q3_3" value="３．週2～3日" /></td>
                    <td valign="top">3. 2-3 วัน ต่อ สัปดาห์</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q3_4" type="checkbox" id="q3_4" value="４．週1日" /></td>
                    <td valign="top">4. 1 วัน ต่อ สัปดาห์</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q3_5" type="checkbox" id="q3_5" value="５．月2～3日" /></td>
                    <td valign="top">5. 2-3 วัน ต่อ เดือน</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q3_6" type="checkbox" id="q3_6" value="６．月1日以下" /></td>
                    <td valign="top">6. น้อยกว่า เดือนละ 1 วัน</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q3_7" type="checkbox" id="q3_7" value="７．その他" onclick="javascript:if(document.formqf1add.q3_7.checked==true){document.formqf1add.q3_7_txt.disabled=false;}else{document.formqf1add.q3_7_txt.disabled=true;}"/></td>
                    <td valign="top">7. อื่นๆ (โปรดระบุ)</td>
                  </tr>
                  <tr>
                    <td valign="top">&nbsp;</td>
                    <td valign="top"><textarea name="q3_7_txt" class="box_multi_web2" id="q3_7_txt" disabled="true"></textarea></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/line_frame_01.png" width="540" height="20" /></td>
              </tr>
              <tr>
                <td colspan="3"><span class="red_b">*</span> <strong>Q4.</strong> คุณสนใจที่จะเป็นสมาชิกแบบชำระเิงิน (Basic Member) กับ Fact-Link หรือไม่ ?</td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="5" /></td>
              </tr>
              <tr>
                <td colspan="3"><table width="540" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" valign="top"><input name="q4_1" type="checkbox" id="q4_1" value="１．非常に興味がある。直ぐに話を聞きたい。（後日、担当者からご連絡させて頂きます）" /></td>
                    <td width="510" valign="top">1. สนใจมาก ต้องการทราบรายละเอียดเพิ่มเติม (เจ้าหน้าที่ Fact-Link จะติดต่อกลับไปภายหลัง)</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q4_2" type="checkbox" id="q4_2" value="２．興味があり、近いうちに導入を検討したい。（１～2ヶ月先）" /></td>
                    <td valign="top">2. สนใจ แต่ต้องการศึกษาดูก่อนสักระยะ (1-2 เดือนข้างหน้า)</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q4_3" type="checkbox" id="q4_3" value="３．将来的には導入も検討したい。（3～6ヶ月先）" /></td>
                    <td valign="top">3. จะพิจารณาอีกครั้งในอนาคต (4-6 เดือนข้างหน้า)</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q4_4" type="checkbox" id="q4_4" value="４．今の所、予定無し。" /></td>
                    <td valign="top">4. ไม่มีนโยบายในขณะนี้</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q4_5" type="checkbox" id="q4_5" value="５．他社でおこなっている。" /></td>
                    <td valign="top">5. ได้เป็นสมาชิกกับสื่อโฆษณาอื่นๆ ไปแล้ว</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q4_6" type="checkbox" id="q4_6" value="６．興味が無い。" /></td>
                    <td valign="top">6. ไม่มีความสนใจ</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q4_7" type="checkbox" id="q4_7" value="７．取引先が固定など、必要が無い。" /></td>
                    <td valign="top">7. ไม่มีความต้องการ เพราะมีลูกค้าประจำอยู่แล้ว</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q4_8" type="checkbox" id="q4_8" value="８．その他" onclick="javascript:if(document.formqf1add.q4_8.checked==true){document.formqf1add.q4_8_txt.disabled=false;}else{document.formqf1add.q4_8_txt.disabled=true;}"/></td>
                    <td valign="top">8. อื่นๆ (โปรดระบุ)</td>
                  </tr>
                  <tr>
                    <td valign="top">&nbsp;</td>
                    <td valign="top"><textarea name="q4_8_txt" class="box_multi_web2" id="q4_8_txt" disabled="true"></textarea></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/line_frame_02.png" width="540" height="20" /></td>
              </tr>
              <tr>
                <td><div align="right"><span class="red_b">*</span><strong> ##lb_confirmcode##</strong></div></td>
                <td>&nbsp;</td>
                <td><input name="t_confirm" type="text" class="box_web" id="t_confirm" maxlength="4" /></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="10" /></td>
              </tr>
              <tr>
                <td><div align="right">##confirmcode##</div></td>
                <td>&nbsp;</td>
                <td class="red_n">##lb_confirmcode_text##</td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/line_frame_02.png" width="540" height="20" /></td>
              </tr>
              <tr>
                <td><input name="h_random" type="hidden" id="h_random" value="##randomnum##" /></td>
                <td>&nbsp;</td>
                <td><div align="right">
                    <input name="b_ok" type="submit" class="button_normal" id="b_ok" value="##lb_send##" />
                </div></td>
              </tr>
            </table>
        </form></td>
        <td valign="top" background="images/frame03_05.png">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top"><img src="images/frame03_06.png" width="10" height="10" /></td>
        <td valign="top"><img src="images/frame03_07.png" width="540" height="10" /></td>
        <td valign="top"><img src="images/frame03_08.png" width="10" height="10" /></td>
      </tr>
    </table></td>
  </tr>
</table>
