<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="560" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top" class="red_head">システムリーニューアル致しました</td>
  </tr>
  <tr>
    <td valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top">平素よりファクトリンクのご利用ありがとうございます。<br />
      ファクトリンクは、2010年9月1日に新システムに移行しまして、<br />
      その際、<span class="red_n">セキュリティの観点から全ての企業様のパスワードを変更させて頂いております。</span><br />
      既に以前の担当者様が帰任されているなどあろうかと存じますので、<br />
      後任の担当者様からご連絡を頂きましたら、新規パスワードをお送りしております。<br />
      お手数でございますが、ご連絡をお待ちしております。</td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_02.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><table width="560" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10" valign="top"><img src="images/frame03_01.png" width="10" height="10" /></td>
        <td width="540" valign="top"><img src="images/frame03_02.png" width="540" height="10" /></td>
        <td width="10" valign="top"><img src="images/frame03_03.png" width="10" height="10" /></td>
      </tr>
      <tr>
        <td valign="top" background="images/frame03_04.png">&nbsp;</td>
        <td valign="top"><form id="formqf1add" name="formqf1add" method="post" enctype="multipart/form-data" action="qform_add_post.php" class="form_margin" onsubmit="return check_form('f_qf1add');">
            <table width="540" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="200"><div align="right"><span class="red_b">*</span><strong> ユーザーID</strong></div></td>
                <td width="10">&nbsp;</td>
                <td width="330"><input name="t_diresu" type="text" class="box_web" id="t_diresu" maxlength="30" /></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="10" /></td>
              </tr>
              <tr>
                <td><div align="right"><span class="red_b">*</span><strong> 会社名</strong></div></td>
                <td>&nbsp;</td>
                <td><input name="t_emanmoc" type="text" class="box_web" id="t_emanmoc" maxlength="85" /></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="10" /></td>
              </tr>
              <tr>
                <td><div align="right"><span class="red_b">*</span><strong> 担当者名</strong></div></td>
                <td>&nbsp;</td>
                <td><input name="t_tcatnoc" type="text" class="box_web" id="t_tcatnoc" maxlength="85" /></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="10" /></td>
              </tr>
              <tr>
                <td><div align="right"><span class="red_b">*</span><strong> メールアドレス</strong></div></td>
                <td>&nbsp;</td>
                <td><input name="t_liam" type="text" class="box_web" id="t_liam" maxlength="85" /></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="10" /></td>
              </tr>
              <tr>
                <td><div align="right"><span class="red_b">*</span><strong> 携帯電話番号</strong></div></td>
                <td>&nbsp;</td>
                <td><input name="t_elibom" type="text" class="box_web" id="t_elibom" maxlength="85" /></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="5" /></td>
                </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="grey_n">※パスワードのご連絡の為、ご確認のお電話を入れさせて頂く場合がございます。ご了承ください。</td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="10" /></td>
              </tr>
              <tr>
                <td><div align="right"><span class="red_b">*</span><strong> 電話番号</strong></div></td>
                <td>&nbsp;</td>
                <td><input name="t_let" type="text" class="box_web" id="t_let" maxlength="85" /></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="10" /></td>
              </tr>

              <tr>
                <td><div align="right"><strong>情報の変更箇所</strong></div></td>
                <td>&nbsp;</td>
                <td><textarea name="t_tnemmoc" class="box_multi_web" id="t_tnemmoc"></textarea></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/line_frame_02.png" width="540" height="20" /></td>
              </tr>
              <tr>
                <td colspan="3" class="red_subhead">ファクトリンクアンケート</td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/line_frame_02.png" width="540" height="20" /></td>
              </tr>
              <tr>
                <td colspan="3"><strong>Q1.</strong> ファクトリンクに関して機能を充実して欲しい物は何ですか？</td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="5" /></td>
              </tr>
              <tr>
                <td colspan="3"><table width="540" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" valign="top"><input name="q1_1" type="checkbox" id="q1_1" value="１．デザイン性を高くして欲しい。" /></td>
                    <td width="510" valign="top">１．デザイン性を高くして欲しい。</td>
                    </tr>
                  <tr>
                    <td valign="top"><input name="q1_2" type="checkbox" id="q1_2" value="２．機能性をアップして欲しい。" /></td>
                    <td valign="top">２．機能性をアップして欲しい。</td>
                    </tr>
                  <tr>
                    <td valign="top"><input name="q1_3" type="checkbox" id="q1_3" value="３．使いやすさをよくして欲しい。" /></td>
                    <td valign="top">３．使いやすさをよくして欲しい。</td>
                    </tr>
                  <tr>
                    <td valign="top"><input name="q1_4" type="checkbox" id="q1_4" value="４．もっと製造業の情報を充実して欲しい。" /></td>
                    <td valign="top">４．もっと製造業の情報を充実して欲しい。</td>
                    </tr>
                  <tr>
                    <td valign="top"><input name="q1_5" type="checkbox" id="q1_5" value="５．その他" onclick="javascript:if(document.formqf1add.q1_5.checked==true){document.formqf1add.q1_5_txt.disabled=false;}else{document.formqf1add.q1_5_txt.disabled=true;}"/></td>
                    <td valign="top">５．その他</td>
                    </tr>
                  <tr>
                    <td valign="top">&nbsp;</td>
                    <td valign="top"><textarea name="q1_5_txt" class="box_multi_web2" id="q1_5_txt" disabled="true"></textarea></td>
                    </tr>

                </table></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/line_frame_01.png" width="540" height="20" /></td>
              </tr>
              <tr>
                <td colspan="3"><strong>Q2.</strong> ファクトリンクはどのように利用しますか？</td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="5" /></td>
              </tr>
              <tr>
                <td colspan="3"><table width="540" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" valign="top"><input name="q2_1" type="checkbox" id="q2_1" value="１．サプライヤーを探すのに使っている。" /></td>
                    <td width="510" valign="top">１．サプライヤーを探すのに使っている。</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q2_2" type="checkbox" id="q2_2" value="２．営業に利用している。" /></td>
                    <td valign="top">２．営業に利用している。</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q2_3" type="checkbox" id="q2_3" value="３．会社情報（電話番号など）を知るのに使っている。" /></td>
                    <td valign="top">３．会社情報（電話番号など）を知るのに使っている。</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q2_4" type="checkbox" id="q2_4" value="４．情報収集に利用している。" /></td>
                    <td valign="top">４．情報収集に利用している。</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q2_5" type="checkbox" id="q2_5" value="５．その他" onclick="javascript:if(document.formqf1add.q2_5.checked==true){document.formqf1add.q2_5_txt.disabled=false;}else{document.formqf1add.q2_5_txt.disabled=true;}"/></td>
                    <td valign="top">５．その他</td>
                  </tr>
                  <tr>
                    <td valign="top">&nbsp;</td>
                    <td valign="top"><textarea name="q2_5_txt" class="box_multi_web2" id="q2_5_txt" disabled="true"></textarea></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/line_frame_01.png" width="540" height="20" /></td>
              </tr>
              <tr>
                <td colspan="3"><strong>Q3.</strong> ファクトリンクの使用頻度はどのくらいですか？</td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="5" /></td>
              </tr>
              <tr>
                <td colspan="3"><table width="540" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" valign="top"><input name="q3_1" type="checkbox" id="q3_1" value="１．毎日サイトを利用している。" /></td>
                    <td width="510" valign="top">１．毎日サイトを利用している。</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q3_2" type="checkbox" id="q3_2" value="２．週4～6日" /></td>
                    <td valign="top">２．週4～6日</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q3_3" type="checkbox" id="q3_3" value="３．週2～3日" /></td>
                    <td valign="top">３．週2～3日</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q3_4" type="checkbox" id="q3_4" value="４．週1日" /></td>
                    <td valign="top">４．週1日</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q3_5" type="checkbox" id="q3_5" value="５．月2～3日" /></td>
                    <td valign="top">５．月2～3日</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q3_6" type="checkbox" id="q3_6" value="６．月1日以下" /></td>
                    <td valign="top">６．月1日以下</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q3_7" type="checkbox" id="q3_7" value="７．その他" onclick="javascript:if(document.formqf1add.q3_7.checked==true){document.formqf1add.q3_7_txt.disabled=false;}else{document.formqf1add.q3_7_txt.disabled=true;}"/></td>
                    <td valign="top">７．その他</td>
                  </tr>
                  <tr>
                    <td valign="top">&nbsp;</td>
                    <td valign="top"><textarea name="q3_7_txt" class="box_multi_web2" id="q3_7_txt" disabled="true"></textarea></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/line_frame_01.png" width="540" height="20" /></td>
              </tr>
              <tr>
                <td colspan="3"><span class="red_b">*</span> <strong>Q4.</strong> ファクトリンク有料プランに関して</td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="5" /></td>
              </tr>
              <tr>
                <td colspan="3"><table width="540" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="30" valign="top"><input name="q4_1" type="checkbox" id="q4_1" value="１．非常に興味がある。直ぐに話を聞きたい。（後日、担当者からご連絡させて頂きます）" /></td>
                    <td width="510" valign="top">１．非常に興味がある。直ぐに話を聞きたい。（後日、担当者からご連絡させて頂きます）</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q4_2" type="checkbox" id="q4_2" value="２．興味があり、近いうちに導入を検討したい。（１～2ヶ月先）" /></td>
                    <td valign="top">２．興味があり、近いうちに導入を検討したい。（1～2ヶ月先）</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q4_3" type="checkbox" id="q4_3" value="３．将来的には導入も検討したい。（3～6ヶ月先）" /></td>
                    <td valign="top">３．将来的には導入も検討したい。（3～6ヶ月先）</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q4_4" type="checkbox" id="q4_4" value="４．今の所、予定無し。" /></td>
                    <td valign="top">４．今の所、予定無し。</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q4_5" type="checkbox" id="q4_5" value="５．他社でおこなっている。" /></td>
                    <td valign="top">５．他社でおこなっている。</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q4_6" type="checkbox" id="q4_6" value="６．興味が無い。" /></td>
                    <td valign="top">６．興味が無い。</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q4_7" type="checkbox" id="q4_7" value="７．取引先が固定など、必要が無い。" /></td>
                    <td valign="top">７．取引先が固定など、必要が無い。</td>
                  </tr>
                  <tr>
                    <td valign="top"><input name="q4_8" type="checkbox" id="q4_8" value="８．その他" onclick="javascript:if(document.formqf1add.q4_8.checked==true){document.formqf1add.q4_8_txt.disabled=false;}else{document.formqf1add.q4_8_txt.disabled=true;}"/></td>
                    <td valign="top">８．その他</td>
                  </tr>
                  <tr>
                    <td valign="top">&nbsp;</td>
                    <td valign="top"><textarea name="q4_8_txt" class="box_multi_web2" id="q4_8_txt" disabled="true"></textarea></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/line_frame_02.png" width="540" height="20" /></td>
              </tr>
              <tr>
                <td><div align="right"><span class="red_b">*</span><strong> ##lb_confirmcode##</strong></div></td>
                <td>&nbsp;</td>
                <td><input name="t_confirm" type="text" class="box_web" id="t_confirm" maxlength="4" /></td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/blank.png" width="540" height="10" /></td>
              </tr>
              <tr>
                <td><div align="right">##confirmcode##</div></td>
                <td>&nbsp;</td>
                <td class="red_n">##lb_confirmcode_text##</td>
              </tr>
              <tr>
                <td colspan="3"><img src="images/line_frame_02.png" width="540" height="20" /></td>
              </tr>
              <tr>
                <td><input name="h_random" type="hidden" id="h_random" value="##randomnum##" /></td>
                <td>&nbsp;</td>
                <td><div align="right">
                    <input name="b_ok" type="submit" class="button_normal" id="b_ok" value="##lb_send##" />
                </div></td>
              </tr>
            </table>
        </form></td>
        <td valign="top" background="images/frame03_05.png">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top"><img src="images/frame03_06.png" width="10" height="10" /></td>
        <td valign="top"><img src="images/frame03_07.png" width="540" height="10" /></td>
        <td valign="top"><img src="images/frame03_08.png" width="10" height="10" /></td>
      </tr>
    </table></td>
  </tr>
</table>
