<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="560" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	<tr>
		<td valign="top">
			<p>Fact Link là một trang web cổng thông tin cho ngành công nghiệp sản xuất tại Việt Nam.<br>Chúng tôi luôn tìm kiếm thông tin về các công ty liên quan đến sản xuất có trụ sở tại Việt Nam.</p>
			<dl>
				<dt>Các bước đăng thông tin công ty trên Fact-Link Vietnam</dt>
				<dd>① Vui lòng đăng ký làm thành viên từ mẫu dưới đây.</dd>
				<dd>② ID và Mật khẩu sẽ được gửi đến địa chỉ email đã đăng ký.</dd>
				<dd>③ Đăng nhập bằng ID và Mật khẩu, đồng thời tạo / chỉnh sửa trang công ty của bạn từ mục "Quản lý trang" của trên màn hình quản lý. Bấm vào đây để xem hướng dẫn (<a href="https://fact-link.com.vn/manual">https://fact-link.com.vn/manual</a>).</dd>
				<dd>④ Hồ sơ công ty đã được tạo thành công</dd>
			</dl>
			<p>Nếu bạn gặp bất kỳ vấn đề gì liên quan đến việc đăng ký, xin vui lòng liên hệ với chúng tôi qua info@fact-link.com.vn.</p>
		</td>
	</tr>
</table>





 