<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="560" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
   <tr>
     <td valign="top">ファクトリンクはベトナムの日系製造業のポータルサイトです。<br />
ベトナムに拠点を置く製造関連の会社情報の掲載を常時募集しております。<br />
<br />
         <span class="red_b">ご登録＆電話帳への掲載、会社情報ページのご利用は将来に渡って完全無料です。</span><br />
             <br />
           （登録翌月末から、ご希望により有料のオプションをご購入いただくことも可能です。）<br /><br />
         会社情報の掲載をご希望のお客様は、以下のフォームから会員登録を行なってください。オンラインですぐにIDとPasswordが発行されます。会員企業は、左上のログインフォームから専用ページにログインして、データベースへの登録やホームページの掲載など、ビジネスに役立つ機能を、今すぐにご利用いただけます。
     </td>
  </tr>
 </table>
