<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="560" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
	<tr>
		<td valign="top">
			<p>ファクトリンクはベトナムの製造業のポータルサイトです。<br>ベトナムに拠点を置く製造関連の会社情報の掲載を常時募集しております。</p>
			<dl>
				<dt>ファクトリンクベトナムへの会社情報掲載のステップ</dt>
				<dd>①以下のフォームから会員登録をお願いします。</dd>
				<dd>②登録されたメールアドレス宛にIDとPasswordが発行されます。</dd>
				<dd>③IDとPasswordでログインし、管理画面の「ページ管理」メニューより貴社ページの作成・編集を行います。マニュアルはこちら（<a href="https://fact-link.com.vn/manual">https://fact-link.com.vn/manual</a>）。</dd>
				<dd>④貴社ページが公開されます。</dd>
			</dl>
			<p>登録に関してご不明点がございましたら info@fact-link.com.vn までお問い合わせください。</p>
		</td>
	</tr>
</table>