<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="560" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top">
    	<p>Fact Link is a portal site for manufacturing industry in Vietnam.<br>We are always looking for information on manufacturing related companies based in Vietnam.</p>
    	<dl>
    		<dt>Steps for posting company information on Fact-Link Vietnam.</dt>
    		<dd>① Please register as a member from the form below.</dd>
    		<dd>② ID and Password will be issued and sent to the registered e-mail address.</dd>
    		<dd>③ Log in with ID and Password, and create / edit your company page from the “Page Management” menu on the management screen. Click here for the manual (<a href="https://fact-link.com.vn/manual">https://fact-link.com.vn/manual</a>).</dd>
    		<dd>④Your company page will be published.</dd>
    	</dl>
    	<p>If you have any questions regarding registration, please contact info@fact-link.com.vn.</p>
    </td>
  </tr>
</table>