<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> -->
<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="##meta_keyword##" />
<meta name="description" content="##meta_description##"  />
<meta name="google-site-verification" content="la59twvP76ef_9Ax0RmaqGn3lOh2TrNPXJ5t_pmUMrw" />
<meta name="robots" content="index,FOLLOW,ALL"/>


<title>##texttitlebar##</title>


<link href="/flc_css.css?v=1.3" rel="stylesheet" type="text/css" />
<link href="/theme.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="favicon.ico">

<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>


</head>
<body>
	<div id="trigger"></div>
	<div id="wrap">
		
		<section id="top-section">
		
			<div class="container relative">

				<!-- -->
				<p id="top-text">##HeadBL##</p>
				
				<!-- -->
				<nav id="nav-logo">
					<a href="index.php">
						##Logo##
					</a>
				</nav>
				
				<!-- Language navigation -->
				<nav id="nav-language">
				
					<span>Language</span>
				
					<a href="set_language.php?lang=jp">
						<img src="images/##langpicjp##" title="日本語" width="20" height="20" border="0" />
					</a>
					
					<a href="set_language.php?lang=vn">
						<img src="images/##langpicvn##" title="Việt Nam" width="20" height="20" border="0" />
					</a>
					
					<a href="set_language.php?lang=en">
						<img src="images/##langpicen##" title="English" width="20" height="20" border="0" />
					</a>
					
				</nav>
				
				<!-- -->
				<div id="nav-menu-area">
					##MENU_AREA##
				</div>
				
				<!-- -->
				<div id="top-banner">
					##TOP_AREA##
				</div>
			
			</div>

		</section>
			
		<section id="nav-section">
	
			<div id="nav-section-header">
				<div class="container">
					##announce2##
				</div>
			</div>
			
			<nav id="search-nav">
			
				<div class="container relative">
				
					<div class="row-flex">
					
						##SearchMenubar1##
						
						##SearchMenubar2##
					
						##SearchMenubar3##

						##SearchMenubarProduct##
										
						<div id="search-form">

							<form id="formsearchquick" name="formsearchquick" method="post" enctype="multipart/form-data" action="search_post.php" class="form_margin" onsubmit="return check_form('f_searchquick');">
								
								<input name="h_type" type="hidden" id="h_type" value="word" />
								<input name="t_searchcomname" type="text" class="box_side" id="t_searchcomname" placeholder="##lb_keyword##" />

								<p class="group-seach-op">
									<input  name="t_search_op" type="radio" value="company" checked="checked">##search_by_company##<br>
									<input  name="t_search_op" type="radio" value="product">##search_by_product##
								</p>
								
								<button type="submit">
									<span lang="en">Search</span>
								</button>
					
							</form>
							
						</div>
					
					</div>
					
					<div id="dropdown-toggle">

						<div class="dropdown-toggle-box" id="dropdown-product" hidden>
							<ul data-column="3">
								##catproducttextlist##
							</ul>
						</div>
						
						<div class="dropdown-toggle-box" id="dropdown-category" hidden>
							<ul data-column="3">
								##cattextlist##
							</ul>
						</div>
						
						<div class="dropdown-toggle-box" id="dropdown-ie" hidden>
							<ul data-column="3">
								##ietextlist##
							</ul>
						</div>
						
						<div class="dropdown-toggle-box" id="dropdown-province" hidden>
							<ul data-column="3">
								##ProvinceDropdownList##
							</ul>
						</div>
						
						<div class="dropdown-toggle-box" id="dropdown-country" hidden>
							<ul data-column="0">
								##CountryDropdownList##
							</ul>
						</div>
						
					</div>
					
				</div>
				
			</nav>
			
			
		</section>
		
		<section id="mid-section">
			
			<div class="container">
				
				<div class="row-flex">

					<main>

						<table id="main-table" border="0" cellspacing="0" cellpadding="0" width="100%">
						
							<tr>
								
								<!-- Main content -->
								<td valign="top" id="main-content">
								
									##DETAIL_AREA##
									
								</td>
								
							</tr>
						
						</table>
						
					</main>
					
					<aside id="right-panel">
					
						<table id="right-panel" border="0" cellspacing="0" cellpadding="0">
							
							<tr>
							
								<td valign="top">
								
									<table cellspacing="0" cellpadding="0" width="200" border="0">
										<tbody>
											<tr>
												<td width="15" valign="top"><img src="images/frame02_01.png" width="15" height="5"></td>
												<td width="170" valign="top"><img src="images/frame02_02.png" width="170" height="5"></td>
												<td width="15" valign="top"><img src="images/frame02_03.png" width="15" height="5"></td>
											</tr>
											<tr>
												<td valign="top"><img src="images/frame02_04.png" width="15" height="45"></td>
												<td><a href="touroku.php"><img src="images/bn_register_en.png" width="170" height="45" border="0"></a></td>
												<td valign="top"><img src="images/frame02_06.png" width="15" height="45"></td>
											</tr>
											<tr>
												<td valign="top"><img src="images/frame02_16.png" width="15" height="15"></td>
												<td valign="top"><img src="images/frame02_17.png" width="170" height="15"></td>
												<td valign="top"><img src="images/frame02_18.png" width="15" height="15"></td>
											</tr>
										</tbody>
									</table>
								
								</td>
								
							</tr>
							
							<tr>
								
								<td valign="top">
								
									<form id="formmemlogin" name="formmemlogin" method="post" enctype="multipart/form-data" action="mem_login.php" class="form_margin" onsubmit="return check_form('f_memlogin');">
										
										<table width="200" border="0" cellspacing="0" cellpadding="0">
											
											<tr>
												<td width="15" valign="top"><img src="images/frame01_01.png" width="15" height="5" /></td>
												<td width="170" valign="top"><img src="images/frame01_02.png" width="170" height="5" /></td>
												<td width="15" valign="top"><img src="images/frame01_03.png" width="15" height="5" /></td>
											</tr>
											
											<tr>
											
												<td valign="top"><img src="images/frame01_04.png" width="15" height="85" /></td>
												
												<td valign="top" background="images/frame01_05.png">
												
													<table width="170" border="0" cellspacing="0" cellpadding="0">
													
														<tr>
															<td valign="top" class="white_n"><img src="images/blank.png" width="170" height="5" /></td>
														</tr>
														
														<tr>
														
															<td valign="top" class="form_label">
															
																##lb_username##
																
															</td>
															
														</tr>
														
														<tr>
															<td valign="top">
															
																<input name="t_memuser" type="text" class="box_side" id="t_memuser" maxlength="15" />
																
															</td>
														</tr>
														
														<tr>
															<td valign="top"><img src="images/blank.png" width="170" height="5" /></td>
														</tr>
														
														<tr>
														
															<td valign="top">
															
																<span class="form_label">##lb_password##</span>
															
															</td>
															
														</tr>
														
														<tr>
															
															<td valign="top">
															
																<input name="t_mempass" type="password" class="box_side" id="t_mempass" maxlength="15" />
																
															</td>
															
														</tr>
														
													</table>
												
												</td>
												
												<td valign="top"><img src="images/frame01_06.png" width="15" height="85" /></td>
											
											</tr>
										
											<tr>
												<td valign="top"><img src="images/frame01_07.png" width="15" height="5" /></td>
												<td valign="top"><img src="images/frame01_08.png" width="170" height="5" /></td>
												<td valign="top"><img src="images/frame01_09.png" width="15" height="5" /></td>
											</tr>
										
											<tr>
												<td valign="top"><img src="images/frame01_10.png" width="15" height="30" /></td>
												<td valign="top"><input name="b_ok" type="image" id="b_ok" src="images/##buttonlogin##" /></td>
												<td valign="top"><img src="images/frame01_11.png" width="15" height="30" /></td>
											</tr>
										
											<tr>
												<td valign="top"><img src="images/frame01_12.png" width="15" height="5" /></td>
												<td valign="top"><img src="images/frame01_13.png" width="170" height="5" /></td>
												<td valign="top"><img src="images/frame01_14.png" width="15" height="5" /></td>
											</tr>
										
										</table>
										
									</form>
								
								</td>
								
							</tr>
						
							<tr>
								<td valign="top"><img src="images/line_side_01.png" width="200" height="20" /></td>
							</tr>
							
							<tr>
							
								<td valign="top">
								
									<table width="200" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="10" valign="top">&nbsp;</td>
											<td width="180" valign="top">##RIGHT_AREA##</td>
											<td width="10" valign="top">&nbsp;</td>
										</tr>
									</table>
								
								</td>
								
							</tr>
							
							<tr>
								
								<td valign="top">
									
									<table width="200" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="10" valign="top">&nbsp;</td>
											<td width="180" valign="top">##LEFT_AREA##</td>
											<td width="10" valign="top">&nbsp;</td>
										</tr>
									</table>
									
								</td>
								
							</tr>
						
						</table>
						
					</aside>
				
				</div>
				
			</div>
			
		</section>
		
		<footer id="siteFooter">
		
			<section class="footBnrs">
				<article style="text-align: center;">
					<div style="float: none; display: inline-block; vertical-align: top">
					<p style="margin-bottom: 0"><a href="https://fact-depot.com" target="_blank"><img src="/images/footer/bnrVietnamDepot.png" width="600" height="154" alt="Fact-depot"></a></p>
					<div style="text-align: left;">##LinkF4##</div>
					</div><div style="float: none; display: inline-block; vertical-align: top">
					<p style="margin-bottom: 0"><a href="http://www.tdc-vietnam.com" target="_blank"><img src="/images/footer/bnrTDC.png" width="600" height="154" alt="Fact-Link TDC"></a></p>
					<div style="text-align: left;">##LinkF5##</div>
					</div>
				</article>

				<div>
				<p><a href="http://www.fact-link.com/index.php?lang=th" target="_blank"><img src="/images/footer/bnrThailand.png" width="600" height="154" alt="Fact-Link Thailand"></a></p>
				<p>##LinkF##</p>
				</div>

				<div>
				<p><a href="http://indonesia.fact-link.com/" target="_blank"><img src="/images/footer/bnrIndonesia.png" width="600" height="154" alt="Fact-Link Indonesia"></a></p>
				<p>##LinkF2##</p>
				</div>

				<div>
				<p><a href="http://www.tdc-thai.com/" target="_blank"><img src="/images/footer/bnrTDC.png" width="600" height="154" alt="東京デベロップメントコンサルタント"></a></p>
				<p>##LinkF3##</p>
				</div>

			</section>
			
			<section class="corpInfo">
				<section id="top-section2">				
					<div id="nav-menu-area">
						<center>
							##MENU_AREA##
						</center>
						<center>
							##MenuFooterTerm_tpl##
						</center>
					</div>
					<center>##FOOTER_INFO##</center>
					
				</section>
			</section>
			
		</footer>
		
	</div>
	
	<!--
	<select name="">
	##opt2##
	</select>
	-->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	
	<script type="text/javascript">
		
		/* dt = DropDown Toggle */
		function dt(selector) {
			
			/* Target element */
			var target = document.querySelector(selector);
			var parent = document.querySelector("#dropdown-toggle");
			var childs = document.querySelectorAll(".dropdown-toggle-box");
			var opened = null;
			var elWrap =  document.getElementById('trigger');
			
			/* */
			for(var i=0;i<childs.length;i++) {
			
				if(!childs[i].hasAttribute("hidden")) {
					opened = childs[i].id;
				}
			
				childs[i].setAttribute("hidden","");
			
			}
			
			if(parent.hasAttribute("hidden")) {
				parent.removeAttribute("hidden");
				target.removeAttribute("hidden");
				elWrap.style.display = 'block';
			} else if(opened == target.id) {
				parent.setAttribute("hidden","");
				target.setAttribute("hidden","");
				elWrap.style.display = 'none';
			} else {
				parent.removeAttribute("hidden");
				target.removeAttribute("hidden");
				elWrap.style.display = 'block';
			}
			
		}

		window.onload = function(e){

			var elHookDropdown =  document.querySelectorAll(".dropdown-toggle-box");
			var elWrap =  document.getElementById('trigger');
			elWrap.addEventListener('click', function() {
				for(var i=0;i<elHookDropdown.length;i++) {
					if(!elHookDropdown[i].hasAttribute("hidden")) {
						elHookDropdown[i].setAttribute("hidden","");
						elWrap.style.display = 'none';
					}
				}
			}, false);
			
		}
		
	</script>
	<script type="text/javascript" src="./include/global_java.js"></script>
	<!-- <script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script> -->
	<script type="text/javascript">
	var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29194652-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	<script type="text/JavaScript">
	<!--
	function MM_jumpMenu(targ,selObj,restore){ //v3.0
	  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
	  if (restore) selObj.selectedIndex=0;
	}
	//-->
	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-19322499-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<script language="Javascript">
	// function replaceText(text){
	//   while(text.lastIndexOf("&") > 0){
	// 	  text = text.replace('&', '[i-Stats]');
	//   }
	//   return text;
	// }

	// var web_referrer = replaceText(document.referrer);
	// <!--
	// istat = new Image(1,1);
	// istat.src = "http://www.fact-link.com.vn/_Traffic/counter.php?sw="+screen.width+"&sc="+screen.colorDepth+"&referer="+web_referrer+"&page="+location.href;
	//-->
	</script>
	<script>
		
		// var triggerPre = document.getElementById("js-btn-pre");
		// var triggerNext = document.getElementById("js-btn-next");
		// var eleCarousel = document.getElementById("js-wrap-products-list");

		// triggerPre.addEventListener("click", function() {
		// 	eleCarousel.classList.remove("slide-left");
		// });

		// triggerNext.addEventListener("click", function() {
		// 	eleCarousel.classList.add("slide-left");
		// });

	</script>

	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

	<script type="text/javascript">
	    $(document).ready(function(){
	      $('#js-wrap-products-list').slick({
	    	infinite: true,
		  	slidesToShow: 4,
		  	slidesToScroll: 1,
		  	prevArrow: '<span class="arrow btn-pre"></span>',
		  	nextArrow: '<span class="arrow btn-next"></span>'
	      });
	    });
  </script>

</body>
</html>