<link href="flc_css.css" rel="stylesheet" type="text/css" />
<table width="560" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><img src="images/##titleintro##" width="560" height="40" /></td>
  </tr>
  <tr>
    <td valign="top"><span class="red_subhead">ファクトリンク（Fact-Link.com）会員規約</span><br />
      <br />
    Fact-Link Marketplace Co.,Ltd（以下、「弊社」という）は、Webサイト「ベトナムの日系製造業ポータルサイト ファクトリンク（Fact-Link.com.vn）」（以下、「本サイト」という）を開設し、本サイトの有料又は無料の会員向けサービスを利用する企業（主にベトナム国に拠点を置く製造業者を対象とする）（以下、「会員企業」という）との間で、本サイト上において提供される会員向けサービスの利用に関して、弊社と会員企業との関係を「ファクトリンク（Fact-Link.com.vn）会員規約」（以下、「規約」という）として定め、ここに提示します。</td>
  </tr>
  <tr>
    <td valign="top"><img src="images/line_body_01.png" width="560" height="20" /></td>
  </tr>
  <tr>
    <td valign="top"><p><strong>第１条（ご提供サービス）</strong></p>
      <p>１　弊社が会員企業に提供するサービスとは、本規約（将来改定された時はその最新の規約を指す）を承認する会員企業に対し、会員企業の情報を本サイトの企業情報データベースに収録すること、会員企業の紹介Webページを本サイト上に掲載すること、本サイト上で会員企業の企業情報を追加編集できるシステムを提供すること、および弊社が随時考案して提供する各種のサービスをいうものとします。<br />
        ２　前項の他、弊社が会員企業に提供するサービスの内容は本サイト上に掲示します。サービスの内容に変更があった場合には、本サイト上に随時提示して通知します。<br />
        ３　弊社が提供するサービスの中には、別途有償にて提供されるオプションサービスや、その利用について別途弊社が定める審査基準が設けられるものがあります。<br />
        ４　会員企業は、本サイトの画面デザインおよびその他、本サイト上の企画内容が予告なく変更となる場合、それを了承するものとします。また弊社は本サイトのサービス内容を充実させる事に努めるものとし、それに伴う変更を行うものとします。</p>
      <p><strong>第２条（業務提携）</strong></p>
      <p>１　弊社が本規約に基づく現在および将来にわたる全てのサービス業務を遂行しあるいは事業を拡充するに際し、継続的に第三者（以下、「提携先」という）に業務委託、業務提携を行うこと（あわせて以下、「提携」という）について、会員企業は異議なく承認のうえ会員登録を申し込むものとします。<br />
        ２　弊社が提携を行った場合、弊社は必要に応じサイト上にて、会員企業に対して提携先を告知するものとします。<br />
        ３　弊社は、会員企業から提供された情報の全部または一部や、本サイトないし本サイト内の会員企業ページへのアクセス状況などの情報等を、そのままあるいは加工して、提携先ないし提携外の、インターネット上の他のサイトやインターネット以外のあらゆるメディアに積極的に提供し活用する事が出来るものとします。会員企業はこれを予め承認いただきます。弊社は会員企業に対し、そのような公衆送信や複製による情報の提供や活用に際して、お客様のプライバシーや営業秘密を守るべくサイトを構築します。<br />
        ４　弊社が前項に基づき提携先等に会員企業の情報を提供した場合、提携先等によって情報更新頻度が異なる事を予めご了承ください。その際、提携先等にて定める方法により情報記載日を表示するものとします。</p>
      <p><strong>第３条（サービス利用料）</strong></p>
      <p>会員向けサービスの利用にかかる料金は、別紙「ファクトリンク（Fact-Link.com.vn）価格表」の通りとします。なお、オプションサービスについては別途定める料金が必要です（あわせて、「サービス利用料」という）。<br />
        ２　サービス利用料の課金対象期間は、登録完了日（以下、「本登録」という）の翌月（以下、「課金開始月」という）からとします。会員企業は公開日から15日以内に弊社が別途指定する方法にてサービス利用料を支払うものとします。<br />
        ３　弊社は、会員企業の承諾なく、サービス利用料の改定または部分的変更を行うことができるものとします。ただし、弊社がサービス利用料を改定した場合でも、改定されたサービス利用料は、既に支払い済みの期間には適用されないものとし、新たな支払いの時から改定後の料金が適用されるものとします。<br />
        ４　弊社は、所定の期限内にサービス利用料等の入金が確認できなかった場合には、契約を解約することができるものとします。<br />
        ５　サービス利用料を年単位もしくは半年単位で支払い割引の適用を受けた会員企業が、その期間を満了せず本契約を解約する場合、残存期間のサービス利用料の返金については、理由如何に関わらず割引を適用しないものとします。</p>
      <p><strong>第４条（サービスの申し込みと承諾）</strong></p>
      <p>１　本サイトの会員向けサービスの利用を希望する者は、申し込み時における規約を承認し、所定のサービス利用料を支払うことを承認のうえ、次のいずれかの方法による申し込み手続きを行います。<br />
        　　　
        (1)　本サイトの登録フォームからお申し込みし、後ほど弊社から送られる申込書類にサインの上ご返送いただく方法。<br />
        　　　
        (2)　弊社の営業担当者または代理店を経由して、弊社宛に申込書類を提出していただく方法。<br />
        　　　
        (3)　その他弊社が適当と認めて指定する方法。<br />
        ２　前項の申し込みに対し、弊社が承諾して所定の登録手続きをしたとき、会員企業と弊社との間には規約に定めるサービス契約が成立します。<br />
        ３　会員企業は、サービス契約に基づく会員企業としての地位、またはそれに関して生じた弊社に対する債権その他のいかなる権利も第三者に譲渡することはできません。これに反して譲渡したとき、会員企業が自らその権利を行使する意思を放棄したものとみなされることに会員企業は同意します。</p>
      <p><strong>第５条（サービス契約期間）</strong></p>
      <p>１　本登録は、弊社が申し込みを承諾し、会員企業が会員資格を取得した日とします。<br />
        ２　サービス契約の終了時期は次の事由を生じたときです。<br />
        　　　
        (1)　第８条に基づく通知による解約<br />
        　　　
        (2)　第９条に基づく通知による解約<br />
        ２　弊社は、前各号の通知の原因となる事実（以下、「解約原因」という）の発生と同時に、会員企業に事前に通知することなく、弊社は直ちに会員企業の掲載情報を削除することができるものとします。<br />
        ３　本登録の後、第８条に基づいてお客様から解約の申し立てがない場合、契約は３ヶ月毎に自動更新とさせて頂きます。</p>
      <p><strong>第６条（サービスの廃止）</strong></p>
      <p>１　弊社が合理的な事情により必要と認めた場合に、会員企業に事前に通知することなく、本サイトで提供されるサービスの一部または全部を廃止することがあります。弊社は、サービスの廃止の場合においては可能な限り事前に、やむをえない場合は事後に、その旨を会員企業に通知します。<br />
        ２　会員企業は、弊社が提供するサービスが、ベトナム国内法、国際条約、社会環境、および経済環境等の変化に対して、弊社の判断により予告の上中断、廃止できる事を了承するものとします。<br />
        ３　サービスが廃止される場合、将来についての支払い済の利用料金がある場合には、弊社はこれを返金します。弊社は残存期間のサービス利用料を返還する他は、会員企業に対するすべての責任を免れるものとします。</p>
      <p><strong>第７条（サービスの中断）</strong></p>
      <p>１　次の各号の何れかに該当する場合には、弊社は会員企業への事前通知なしに、自らの判断により一時的にサービスの一部または全部を中断もしくは運営方法を変更しうるものとします。<br />
        　　　
        (1)　運用システムの保守点検を定期または緊急に行う場合<br />
        　　　
        (2)　火災、停電等によりサービスの提供ができなくなった場合<br />
        　　　
        (3)　天災地変等によりサービスの提供ができなくなった場合<br />
        　　　
        (4)　弊社が設置または管理する設備の異常、故障、障害その他サービスを提供できない事由が生じた場合<br />
        　　　
        (5)　弊社の責によらない事由によりサービスの提供ができなくなった場合<br />
        　　　
        (6)　その他、弊社が一時的な中断を必要と判断した場合<br />
        ２　弊社は理由の如何を問わず、本サービスの提供の中断によって生じた会員企業の損害につき、一切責任を負わないものとします。但し、４８時間を越えてシステムが停止した場合には、日割りにてサービス利用料を返還します。</p>
      <p><strong>第８条（任意解約）</strong></p>
      <p>１　会員企業は、解約日の属する月の前月２０日までに弊社所定の手続きにより届け出ることで、本契約を解約できます。ただし、課金開始月から３ヶ月間は解約できません。すなわち、課金開始月から３ヶ月未満の期間内に解約する場合、未経過分のサービス利用料が発生しているものとして、これを解約時に直ちに弊社にお支払い頂きます。<br />
        ２　会員企業は解約時までに発生したサービス利用料を弊社の指定する方法で支払うものとします。</p>
      <p><strong>第９条（強制解約）</strong></p>
      <p>１　会員企業が次の各号の一つでも該当する場合、弊社は何らの催告なく会員企業との間のサービス契約を解約できるものとします。 <br />
        　　　
        (1)　会員企業が規約の各条項、本サイト上に掲載するご利用ルールの記載事項のいずれかに違反し、あるいは業務の実態と掲載内容が異なりこれによって本サイト閲覧者から合理的な苦情を申し立てられる恐れがある場合<br />
        　　　
        (2)　規約違反の疑いにつき弊社から説明を求められたにもかかわらず、合理的な説明をしない場合<br />
        　　　
        (3)　会員企業が事実上の支払不能ないしこれに準ずる状態に陥り、法的申し立てを受け、または自ら申し立てた場合<br />
        　　　
        (4)　サービス利用料等の支払い債務の一部または全部の履行を遅滞し、または故なく支払いを拒否した場合<br />
        ２　前項により解約となった会員企業には、解約日までに発生した料金等を弊社の指定する方法でお支払いいただきます。また、課金開始月から３ヶ月未満の解約の場合は、利用期間３ヶ月に相当するサービス利用料をお支払いいただきます。<br />
        ３　弊社から会員企業に対する解約通知その他の通知は、会員企業から弊社に届けられた住所地ないし本店所在地に対して行うものとします。このあて先への通知が到達しないときでも、弊社はその通知が本来到達すべきときに会員企業に到達したものとみなすことができます。</p>
      <p><strong>第１０条（会員専用システムの利用）</strong></p>
      <p>１　会員企業は、弊社の定める方法により、本サイト上で提供される会員専用システムを利用することができます。<br />
        ２　会員企業は、会員専用システムの使用やパスワードの管理に全責任を持つことはもとより、会員専用システムにおいて登録される会員企業の情報が適切であることについて、弊社およびサイト閲覧者に対し全面的に責任を持つものとし、特に次の諸点に抵触しないよう留意して、サイト閲覧者に常に適法な情報を提供する義務を負っています。<br />
        　　　
        (1)　他者の財産権、特許権、実用新案権、意匠権、著作権、プライバシー権、肖像権、パブリシティ権その他の権利を侵害するもの<br />
        　　　
        (2)　犯罪的行為に結び付くもの<br />
        　　　
        (3)　わいせつ性のあるものまたは通常人に嫌悪感をおぼえさせるもの<br />
        　　　
        (4)　他の会員企業その他第三者の名誉を傷つけるもの<br />
        　　　
        (5)　諸法令に違反するもの<br />
        　　　
        (6)　公序良俗に違反するもの<br />
        　　　
        (7)　弊社のサービス運営を妨げまたはサービスの信頼を毀損するもの<br />
        　　　
        (8)　虚偽事実または過度の誇張を含むもの<br />
        　　　
        (9)　宣伝は適正であるが、業務実態が、前各号のいずれかに違反しているもの<br />
        ３　会員企業の登録した情報ないしはその業務実態が、前項各号のいずれかに抵触するとき、弊社は契約期間中、会員専用システムの一部であっても会員企業への事前の通告なく該当部分を削除または変更することがあります。会員専用システムに対する弊社の削除権は、会員専用システムに関する会員企業の責任を免除するものではありません。また同様に会員企業によるサービス利用料の支払いの責任を免除するものではありません。<br />
        ４　会員企業は、サービスの利用にあたり弊社から付与されるユーザー名およびパスワードを自己の責任で管理するものとし、理由の如何を問わず、第三者に貸与・譲渡・名義変更、売買、担保質入などしないものとします。万が一、会員企業その他第三者がユーザー名およびパスワードを不正に使用（もしくは使用されたこと）により損害が生じた場合でも、弊社は一切の責任を負いません。<br />
        ５　会員企業は、ユーザー名およびパスワードが盗まれ第三者に使用されていることが判明した場合あるいはその可能性がある場合には、直ちに弊社にその旨を連絡するとともに、弊社からの指示がある場合にはこれに従うものとします。<br />
        ６　弊社はログイン名およびパスワードの組み合わせの合致を持って、会員企業の正当な利用者と認証します。</p>
      <p><strong>第１１条（企業情報データベース）</strong></p>
      <p>１   会員企業の企業情報については、本サイトの会員企業データベースに収録されます。<br />
        ２　企業情報について変更が発生した場合、会員企業はこれを自ら更新することとします。<br />
        ３　弊社は会員企業の企業情報を、データベースとしての一貫性を保つことを目的としてあるいは情報の更新もしくは間違いの訂正のために、会員企業に通知せずこれを編集・変更できるものとします。<br />
        ４　企業情報   データベースに収録された企業情報は本サイトの現在あるいは将来のサービスのために利用されます。また、子会社および提携先に対してこれを提供することがあります。<br />
        ５　会員企業   が本契約を解約された場合、企業情報データベースに収録された会員企業の企業情報については、引き続きこれを弊社が利用できるものとします。ただし会員企業からのお申し出により、弊社はこれを削除します。<br />
        ６　企業情報   データベースに収録された会員企業の企業情報のうち、秘密とすべき情報については、弊社は当然にこれを秘匿します。<br />
        ７　これらの情報を弊社が出版物や映像などの分野において利益を得るために利用することがあります。</p>
      <p><strong>第１２条（著作権）</strong></p>
      <p>本サイトの会員専用システムから生成される会員企業の Webページについて、このデザイン、構成、配色、レイアウト等の基礎となるフォーマットに関して、HTML5およびCSS3の著作権は弊社が保有します。会員企業は、本契約の期間中あるいは終了後、本サイトで作成した会員企業のWebページの一部または全部もしくはHTMLおよびCSS記述の一部または全部を、本サイト以外に複製し転用してはいけません。</p>
      <p><strong>第１３条（規約の適用・変更）</strong></p>
      <p>１　本規約は、第４条の申し込みによって会員企業となろうとする者と、弊社との間に適用され、その適用の期間は、申し込みのときからサービス契約の終了のときまでとします。<br />
        ２　弊社は、本規約を会員企業の承諾なしに随時変更することができ、変更後の規約（以下、「新規約」という）は、会員企業の同意なしに会員企業と弊社との間に適用されます。ただし、変更前の規約に基づいて現に発生している権利義務は新規約による影響を受けないものとします。<br />
        ３　新規約の適用開始時期は、新規約がサービス画面上に提示されたとき（画面上に適用時期が明示されている場合はそのとき）とします。<br />
        ４　会員企業と弊社との契約が終了した後も、第１１条、第１２条、第１５条、第１６条、第１７条は存続するものとします。</p>
      <p><strong>第１４条（解釈権）</strong></p>
      <p>規約の解釈に疑義を生じたとき、規約の解釈を決定する権限は弊社にありますが、弊社は会員企業と相互に誠実に協議するものとします。</p>
      <p><strong>第１５条（損害賠償）</strong></p>
      <p>１　会員企業が規約に違反しまたは不正ないし違法な行為を行ったことにより弊社または代理店に与えた損害について、会員企業は弊社または代理店に対し損害賠償の義務を負います。<br />
        ２　会員企業の行為が原因で、他の会員企業または第三者との間に紛争を生じた場合、会員企業は直ちにその事実を弊社に通知するとともに、弊社ないし代理店に損害を与えないよう対処する義務があります。</p>
      <p><strong>第１６条（準拠法）</strong></p>
      <p>本規約に基づく契約の成立、効力、履行及び解釈に関しては、ベトナム国法が適用されるものとします。</p>
      <p><strong>第１７条（合意管轄）</strong></p>
    <p>会員企業と弊社ないし代理店との間で、本規約に明記されていると否とにかかわりなく、本サービスに関する一切の紛争が裁判となる場合には、ベトナムの裁判所を専属の第一審の合意管轄裁判所とします。</p></td>
  </tr>
</table>
